Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS

docs: future proof discord link in readme
  README.md
Owners: @doomemacs/maintainers

docs(latex): update packages to install
  modules/lang/latex/README.org
Owners: @doomemacs/lang-latex

feat(vc): browse-at-remote: recognize gitlab.* hosts
  modules/emacs/vc/config.el
Owners: @doomemacs/emacs-vc

fix(lookup): powerthesaurus eager-loading transient, hydra, lv
  modules/tools/lookup/packages.el
Owners: @doomemacs/tools-lookup

fix(javascript): use top-level node_modules in monorepos
  modules/lang/javascript/autoload.el
Owners: @doomemacs/lang-javascript

docs: don't set user-* variables by default
  templates/config.example.el
Owners: @doomemacs/maintainers

fix(popup): cycle windows with no-other-window property
  modules/ui/popup/autoload/popup.el
Owners: @doomemacs/ui-popup

module: add :tools collab
  modules/config/default/+evil-bindings.el
  modules/tools/collab/README.org
  modules/tools/collab/config.el
  modules/tools/collab/doctor.el
  modules/tools/collab/packages.el
  templates/init.example.el
Owners: @doomemacs/config-default, @doomemacs/maintainers

docs(lispy): add notes for inserting brackets
  modules/editor/lispy/README.org
Owners: @doomemacs/editor-lispy

fill paragraph
  modules/editor/lispy/README.org
Owners: @doomemacs/editor-lispy

use config naming convention
  modules/editor/lispy/README.org
Owners: @doomemacs/editor-lispy

combine `map!` calls into logical grouping
  modules/editor/lispy/README.org
Owners: @doomemacs/editor-lispy

fix(clojure): tree-sitter in clojure{c,script}-mode
  modules/lang/clojure/config.el
Owners: @doomemacs/lang-clojure

docs(lispy): add "Working with Brackets"
  modules/editor/lispy/README.org
Owners: @doomemacs/editor-lispy

feat(syntax): add flymake configuration
  modules/checkers/syntax/config.el
  modules/checkers/syntax/packages.el
Owners: @doomemacs/checkers-syntax

feat(lsp): use flymake when enabled
  modules/lang/clojure/packages.el
  modules/tools/lsp/+eglot.el
  modules/tools/lsp/+lsp.el
Owners: @doomemacs/lang-clojure, @doomemacs/tools-lsp

tweak(syntax): feat gate flycheck in all modules
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/lang/cc/config.el
  modules/lang/cc/packages.el
  modules/lang/clojure/config.el
  modules/lang/clojure/packages.el
  modules/lang/crystal/config.el
  modules/lang/crystal/packages.el
  modules/lang/elixir/config.el
  modules/lang/elixir/packages.el
  modules/lang/elm/config.el
  modules/lang/elm/packages.el
  modules/lang/emacs-lisp/config.el
  modules/lang/emacs-lisp/packages.el
  modules/lang/ess/config.el
  modules/lang/ess/packages.el
  modules/lang/go/config.el
  modules/lang/go/packages.el
  modules/lang/java/+meghanada.el
  modules/lang/javascript/config.el
  modules/lang/kotlin/config.el
  modules/lang/kotlin/packages.el
  modules/lang/ledger/config.el
  modules/lang/ledger/packages.el
  modules/lang/lua/config.el
  modules/lang/lua/packages.el
  modules/lang/nim/config.el
  modules/lang/nim/packages.el
  modules/lang/ocaml/config.el
  modules/lang/ocaml/packages.el
  modules/lang/purescript/config.el
  modules/lang/python/config.el
  modules/lang/raku/config.el
  modules/lang/raku/packages.el
  modules/lang/scheme/config.el
  modules/lang/scheme/packages.el
  modules/lang/solidity/config.el
  modules/lang/solidity/packages.el
  modules/lang/swift/packages.el
  modules/lang/zig/config.el
Owners: @doomemacs/completion-vertico, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-crystal, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-ess, @doomemacs/lang-go, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-kotlin, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-nim, @doomemacs/lang-ocaml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-raku, @doomemacs/lang-scheme, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-zig

nit(syntax): note recipes can be removed soon
  modules/checkers/syntax/config.el
  modules/checkers/syntax/packages.el
Owners: @doomemacs/checkers-syntax

tweak(lsp): feature gate flycheck eglot
  modules/tools/lsp/+eglot.el
  modules/tools/lsp/packages.el
Owners: @doomemacs/tools-lsp

bump: :tools biblio
  modules/tools/biblio/packages.el
Owners: @doomemacs/tools-biblio

feat(biblio): add +icons for citar
  modules/tools/biblio/config.el
Owners: @doomemacs/tools-biblio

fix(biblio): check for +roam2 for citar-org-roam
  modules/tools/biblio/config.el
Owners: @doomemacs/tools-biblio

fix(biblio): check for +roam2 for citar-org-roam
  modules/tools/biblio/config.el
Owners: @doomemacs/tools-biblio

bump: :tools biblio
  modules/tools/biblio/packages.el
Owners: @doomemacs/tools-biblio

feat(biblio): add +icons for citar
  modules/tools/biblio/config.el
Owners: @doomemacs/tools-biblio

docs(syntax): add flymake flag
  modules/checkers/syntax/README.org
Owners: @doomemacs/checkers-syntax

docs(syntax): add flymake flag
  modules/checkers/syntax/README.org
Owners: @doomemacs/checkers-syntax

tweak(workspaces): prefill current name on rename
  modules/ui/workspaces/autoload/workspaces.el
Owners: @doomemacs/ui-workspaces

fic(bin): set LC_ALL to force english output
  bin/doom
Owners: @doomemacs/maintainers

fix(syntax): s/use-package/use-package!
  modules/checkers/syntax/config.el
Owners: @doomemacs/checkers-syntax

fix(syntax): update flycheck binding check
  modules/config/default/+evil-bindings.el
Owners: @doomemacs/config-default

update lsp module ref
  modules/ui/treemacs/packages.el
Owners: @doomemacs/ui-treemacs

fix(syntax): s/postframe/posframe
  modules/checkers/syntax/config.el
Owners: @doomemacs/checkers-syntax

fix(cli): set set-language-environment to UTF-8
  bin/doom
Owners: @doomemacs/maintainers

fix(lua): fix project root function for Love
  lisp/lib/projects.el
  modules/lang/lua/autoload/lua.el
Owners: @doomemacs/maintainers, @doomemacs/lang-lua

fix(syntax): s/postframe/posframe
  modules/checkers/syntax/config.el
Owners: @doomemacs/checkers-syntax

fix(syntax): s/use-package/use-package!
  modules/checkers/syntax/config.el
Owners: @doomemacs/checkers-syntax

fix(syntax): update flycheck binding check
  modules/config/default/+evil-bindings.el
Owners: @doomemacs/config-default

feat(scheme): register scsh interpreter
  modules/lang/scheme/config.el
Owners: @doomemacs/lang-scheme

bump: :core straight
  lisp/packages.el
Owners: @doomemacs/maintainers
