Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

fix(format): improve function/module loading safety
  modules/editor/format/config.el
Owners: @doomemacs/editor-format

fix(format): removed unused argument
  modules/editor/format/autoload/settings.el
Owners: @doomemacs/editor-format

fix(common-lisp): amend sly-compat hook
  modules/lang/common-lisp/config.el
Owners: @doomemacs/lang-common-lisp

Updated evil-mc version to contain fix to handle pre-read-key-sequence type
  modules/editor/multiple-cursors/packages.el
Owners: @doomemacs/editor-multiple-cursors

refactor!: replace all-the-icons with nerd-icons
  docs/getting_started.org
  lisp/cli/doctor.el
  lisp/cli/install.el
  lisp/doom-ui.el
  lisp/lib/docs.el
  lisp/lib/system.el
  lisp/packages.el
  modules/README.org
  modules/app/everywhere/config.el
  modules/completion/company/config.el
  modules/completion/helm/README.org
  modules/completion/helm/config.el
  modules/completion/helm/packages.el
  modules/completion/ivy/README.org
  modules/completion/ivy/autoload/ivy.el
  modules/completion/ivy/config.el
  modules/completion/ivy/packages.el
  modules/completion/vertico/README.org
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/emacs/dired/README.org
  modules/emacs/dired/config.el
  modules/emacs/dired/packages.el
  modules/emacs/ibuffer/README.org
  modules/emacs/ibuffer/config.el
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
  modules/lang/beancount/README.org
  modules/lang/beancount/config.el
  modules/lang/graphql/config.el
  modules/lang/org/autoload/org-link.el
  modules/tools/biblio/config.el
  modules/ui/doom-dashboard/README.org
  modules/ui/doom-dashboard/config.el
  modules/ui/doom/README.org
  modules/ui/modeline/+light.el
  modules/ui/modeline/README.org
  modules/ui/modeline/config.el
  modules/ui/modeline/packages.el
Owners: @doomemacs/maintainers, @doomemacs/app-everywhere, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/emacs-dired, @doomemacs/emacs-ibuffer, @doomemacs/email-mu4e, @doomemacs/lang-beancount, @doomemacs/lang-graphql, @doomemacs/lang-org, @doomemacs/tools-biblio, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom, @doomemacs/ui-modeline

docs(helm,ivy,vertico,ido): add incompatibility checks
  modules/completion/helm/doctor.el
  modules/completion/ido/doctor.el
  modules/completion/vertico/doctor.el
Owners: @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-vertico

bump: :editor multiple-cursors
  modules/editor/multiple-cursors/packages.el
Owners: @doomemacs/editor-multiple-cursors

bump: :editor lispy parinfer snippets word-wrap
  modules/editor/lispy/packages.el
  modules/editor/parinfer/packages.el
  modules/editor/snippets/packages.el
  modules/editor/word-wrap/packages.el
Owners: @doomemacs/editor-lispy, @doomemacs/editor-parinfer, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap

fix(ivy): void-function nerd-icons-ivy-rich-mode error
  modules/completion/ivy/config.el
Owners: @doomemacs/completion-ivy

fix(format): use correct lisp format function
  modules/lang/common-lisp/config.el
  modules/lang/emacs-lisp/config.el
  modules/lang/hy/config.el
  modules/lang/scheme/config.el
Owners: @doomemacs/lang-common-lisp, @doomemacs/lang-emacs-lisp, @doomemacs/lang-hy, @doomemacs/lang-scheme

fix(tools): replaced obsolete featurep! macro
  modules/tools/collab/config.el
Owners: @doomemacs/maintainers

fix(tabs): replace all-the-icons with nerd-icons
  modules/ui/tabs/config.el
Owners: @doomemacs/ui-tabs

fix(format): use correct lisp format function
  modules/lang/common-lisp/config.el
  modules/lang/emacs-lisp/config.el
  modules/lang/hy/config.el
  modules/lang/scheme/config.el
Owners: @doomemacs/lang-common-lisp, @doomemacs/lang-emacs-lisp, @doomemacs/lang-hy, @doomemacs/lang-scheme

fix(format): correct lisp indenting function
  modules/lang/common-lisp/config.el
  modules/lang/emacs-lisp/config.el
  modules/lang/hy/config.el
  modules/lang/scheme/config.el
Owners: @doomemacs/lang-common-lisp, @doomemacs/lang-emacs-lisp, @doomemacs/lang-hy, @doomemacs/lang-scheme

fix(tabs): replace all-the-icons with nerd-icons
  modules/ui/tabs/config.el
Owners: @doomemacs/ui-tabs

refactor(modeline): remove doom-modeline-buffer-modified shim
  modules/ui/modeline/config.el
Owners: @doomemacs/ui-modeline

refactor(collab): s/featurep!/modulep!
  modules/tools/collab/config.el
  modules/tools/collab/doctor.el
Owners: @doomemacs/maintainers

fix(format): load after correct library
  modules/editor/format/autoload/settings.el
Owners: @doomemacs/editor-format

fix: nerd-icons-material => nerd-icons-mdicon
  lisp/lib/docs.el
  modules/email/mu4e/autoload/email.el
Owners: @doomemacs/maintainers, @doomemacs/email-mu4e

feat(lua): enable rainbow-delimiters in fennel-mode
  modules/lang/lua/config.el
Owners: @doomemacs/lang-lua

fix: nerd-icons-material => nerd-icons-mdicon
  lisp/lib/docs.el
  modules/email/mu4e/autoload/email.el
Owners: @doomemacs/maintainers, @doomemacs/email-mu4e

feat(lua): enable rainbow-delimiters in fennel-mode
  modules/lang/lua/config.el
Owners: @doomemacs/lang-lua

docs(format): clarify how to update macro in private config
  modules/editor/format/README.org
  modules/editor/format/autoload/settings.el
Owners: @doomemacs/editor-format

bump: :app rss
  modules/app/rss/packages.el
Owners: @doomemacs/app-rss

fix: lingering autoloads from inactive packages
  lisp/cli/packages.el
Owners: @doomemacs/maintainers

docs(format): clarify how to update macro in private config
  modules/editor/format/README.org
  modules/editor/format/autoload/settings.el
Owners: @doomemacs/editor-format

docs(format): set-formatter!: escape quotes in docstring
  modules/editor/format/autoload/settings.el
Owners: @doomemacs/editor-format

fix(modeline): update icons for +light
  modules/lang/clojure/config.el
  modules/tools/lsp/+lsp.el
  modules/ui/modeline/+light.el
Owners: @doomemacs/lang-clojure, @doomemacs/tools-lsp, @doomemacs/ui-modeline

fix(modeline): update icons for +light
  modules/lang/clojure/config.el
  modules/tools/lsp/+lsp.el
  modules/ui/modeline/+light.el
Owners: @doomemacs/lang-clojure, @doomemacs/tools-lsp, @doomemacs/ui-modeline

fix(format): update missing values & set buffer modification
  modules/editor/format/autoload/format.el
Owners: @doomemacs/editor-format

feat(emacs-lisp): no doc warnings with flymake
  modules/lang/emacs-lisp/autoload.el
  modules/lang/emacs-lisp/config.el
Owners: @doomemacs/lang-emacs-lisp

refactor(syntax): separate out implementations
  modules/lang/emacs-lisp/autoload.el
Owners: @doomemacs/lang-emacs-lisp

fix(syntax): s/connetion/connection
  modules/lang/emacs-lisp/autoload.el
Owners: @doomemacs/lang-emacs-lisp

feat(emacs-lisp): add reduced-flymake-byte-compile
  modules/lang/emacs-lisp/autoload.el
Owners: @doomemacs/lang-emacs-lisp

docs(format): improve note about regional formatting
  modules/editor/format/README.org
Owners: @doomemacs/editor-format

fix(format): update missing values & set buffer modification
  modules/editor/format/autoload/format.el
Owners: @doomemacs/editor-format

docs(format): improve note about regional formatting
  modules/editor/format/README.org
Owners: @doomemacs/editor-format

feat(treemacs): add nerd-icons theme
  modules/ui/treemacs/config.el
  modules/ui/treemacs/packages.el
Owners: @doomemacs/ui-treemacs

fix(treemacs): replace all-the-icons with nerd-icons
  modules/ui/doom/config.el
  modules/ui/treemacs/config.el
  modules/ui/treemacs/packages.el
Owners: @doomemacs/ui-doom, @doomemacs/ui-treemacs

fix(format): use +vc-gutter-update-h instead
  modules/editor/format/config.el
Owners: @doomemacs/editor-format

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS
