Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS

bump: :ui doom
  modules/ui/doom/packages.el
Owners: @doomemacs/ui-doom

docs(php): update version info and fix repl package name
  modules/lang/php/README.org
Owners: @doomemacs/lang-php

fix(vertico): gate docker config for emacs 29+
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(lib): don't overwrite kill-ring on doom/backward-kill-word
  lisp/lib/text.el
Owners: @doomemacs/maintainers

bump: :ui
  modules/ui/hl-todo/packages.el
  modules/ui/hydra/packages.el
  modules/ui/modeline/packages.el
  modules/ui/nav-flash/packages.el
  modules/ui/ophints/packages.el
  modules/ui/tabs/config.el
  modules/ui/tabs/packages.el
  modules/ui/treemacs/packages.el
  modules/ui/unicode/packages.el
  modules/ui/vc-gutter/packages.el
  modules/ui/window-select/packages.el
  modules/ui/workspaces/packages.el
  modules/ui/zen/packages.el
Owners: @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-ophints, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

bump: :email
  modules/email/mu4e/packages.el
  modules/email/notmuch/packages.el
  modules/email/wanderlust/packages.el
Owners: @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust

bump: :term
  modules/term/eshell/packages.el
  modules/term/vterm/packages.el
Owners: @doomemacs/term-eshell, @doomemacs/term-vterm

bump: :input
  modules/input/chinese/packages.el
  modules/input/japanese/packages.el
Owners: @doomemacs/input-chinese, @doomemacs/input-japanese

bump: :lang cc haskell javascript ruby rust
  modules/lang/cc/packages.el
  modules/lang/haskell/packages.el
  modules/lang/javascript/packages.el
  modules/lang/ruby/packages.el
  modules/lang/rust/packages.el
Owners: @doomemacs/lang-cc, @doomemacs/lang-haskell, @doomemacs/lang-javascript, @doomemacs/lang-ruby, @doomemacs/lang-rust

fix(lib): doom/bumpify-diffs missing packages
  lisp/lib/packages.el
Owners: @doomemacs/maintainers

fix(csharp): tree-sitter syntax highlight & indent
  modules/lang/csharp/config.el
  modules/tools/tree-sitter/packages.el
Owners: @doomemacs/lang-csharp, @doomemacs/tools-tree-sitter

refactor(csharp): prefer built-in csharp-mode
  modules/lang/csharp/packages.el
Owners: @doomemacs/lang-csharp

fix(clojure): undefined face on +light modeline
  modules/lang/clojure/config.el
Owners: @doomemacs/lang-clojure

refactor(lsp): switch to flycheck-eglot package
  modules/tools/lsp/+eglot.el
  modules/tools/lsp/autoload/flycheck-eglot.el
  modules/tools/lsp/packages.el
Owners: @doomemacs/tools-lsp

perf(lib): dir!: unset file-name-handler-alist
  lisp/doom-lib.el
Owners: @doomemacs/maintainers

Fix bug in binding C-SPC to consult, causing the "Invalid preview key: [67108896]" error
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(vertico): consult-theme: invalid preview key error
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(vc): fix codeberg entry for remote type list
  modules/emacs/vc/config.el
Owners: @doomemacs/emacs-vc

fix(clojure): improve how cljr is loaded
  modules/lang/clojure/config.el
Owners: @doomemacs/lang-clojure

docs(clojure): clean up README
  modules/lang/clojure/README.org
Owners: @doomemacs/lang-clojure

fix(vertico): docker-tramp => tramp-container
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(vertico): docker-tramp => tramp-container
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(vc): string type error caused by codeberg support
  modules/emacs/vc/config.el
Owners: @doomemacs/emacs-vc

docs(org): improve links in readme
  modules/lang/org/README.org
Owners: @doomemacs/lang-org

fix(org): support module link names with A-Z0-9
  modules/lang/org/autoload/org-link.el
Owners: @doomemacs/lang-org

feat(org): introduce doom-executable link type
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

feat(docs): use header-line for header info
  lisp/lib/docs.el
Owners: @doomemacs/maintainers

feat(org): new "cmd" link type
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

refactor(org): use new :help-echo for kbd link
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

feat(org): add some :help-echo for some links
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

feat(org): fancy docs links with activation fns
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

fix(vc): browse-at-remote: codeberg support
  modules/emacs/vc/config.el
Owners: @doomemacs/emacs-vc

fix(default): browse-project: stringp type error
  modules/config/default/autoload/files.el
Owners: @doomemacs/config-default

bump: :tools
  modules/tools/ansible/packages.el
  modules/tools/biblio/packages.el
  modules/tools/editorconfig/packages.el
  modules/tools/ein/packages.el
  modules/tools/eval/packages.el
  modules/tools/lookup/packages.el
  modules/tools/make/packages.el
  modules/tools/pass/packages.el
  modules/tools/pdf/packages.el
  modules/tools/rgb/packages.el
  modules/tools/terraform/packages.el
  modules/tools/upload/packages.el
Owners: @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-lookup, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-rgb, @doomemacs/tools-terraform, @doomemacs/tools-upload

bump: :editor
  modules/editor/fold/packages.el
  modules/editor/god/packages.el
  modules/editor/lispy/packages.el
  modules/editor/multiple-cursors/packages.el
  modules/editor/parinfer/packages.el
  modules/editor/snippets/packages.el
  modules/editor/word-wrap/packages.el
Owners: @doomemacs/editor-fold, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-parinfer, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap

bump: :config
  modules/config/default/packages.el
  modules/config/use-package/packages.el
Owners: @doomemacs/config-default, @doomemacs/maintainers

fix(lib): doom/bumpify-diff: remove duplicates
  lisp/lib/packages.el
Owners: @doomemacs/maintainers

fix(cli): doctor: wrong-type-argument stringp error
  lisp/cli/doctor.el
Owners: @doomemacs/maintainers

bump: :tools tree-sitter
  modules/tools/tree-sitter/packages.el
Owners: @doomemacs/tools-tree-sitter

docs(haskell): mention tree sitter flag
  modules/lang/haskell/README.org
Owners: @doomemacs/lang-haskell
