Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

release(modules): 23.09.0-dev
  lisp/doom.el
Owners: @doomemacs/maintainers

fix(emacs-lisp): Doom API demos in help(ful) docs
  modules/lang/emacs-lisp/autoload.el
Owners: @doomemacs/lang-emacs-lisp

fix(evil): more reliable window detection
  modules/editor/evil/autoload/evil.el
Owners: @doomemacs/editor-evil

tweak(vterm): vterm-send-next-key mapped to C-q
  modules/term/vterm/config.el
Owners: @doomemacs/term-vterm

feat(vertico): add projectile-completion-system fn
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

Arch install, change pacman '-S' to '-Syu'
  docs/getting_started.org
Owners: @doomemacs/maintainers

bump: :core
  lisp/packages.el
  modules/lang/beancount/config.el
Owners: @doomemacs/maintainers, @doomemacs/lang-beancount

fix(lib): doom/reload-docs: `org-id-get' warnings
  lisp/lib/docs.el
Owners: @doomemacs/maintainers

refactor(lib): hoist new org-id-locations-file value
  lisp/lib/docs.el
Owners: @doomemacs/maintainers

fix: write native-comp cache to $EMACSLOCALDIR
  lisp/doom.el
Owners: @doomemacs/maintainers

fix(lib): doom-docs-mode: hiding property drawers
  lisp/lib/docs.el
Owners: @doomemacs/maintainers

tweak: scroll-conservatively = 10
  lisp/doom-editor.el
  lisp/doom-ui.el
  modules/completion/ivy/config.el
  modules/lang/cc/config.el
  modules/lang/emacs-lisp/config.el
  modules/tools/magit/config.el
Owners: @doomemacs/maintainers, @doomemacs/completion-ivy, @doomemacs/lang-cc, @doomemacs/lang-emacs-lisp, @doomemacs/tools-magit

fix(popup): +popup/raise: recursive popup
  modules/ui/popup/autoload/popup.el
Owners: @doomemacs/ui-popup

nit: general reformatting & minor comment revision
  lisp/doom-packages.el
  modules/app/rss/config.el
  modules/lang/fortran/config.el
Owners: @doomemacs/maintainers, @doomemacs/app-rss, @doomemacs/lang-fortran

bump: :rss
  modules/app/rss/packages.el
Owners: @doomemacs/app-rss

refactor!(ligatures): use ligature.el for Emacs28+
  modules/ui/ligatures/+fira.el
  modules/ui/ligatures/+hasklig.el
  modules/ui/ligatures/+iosevka.el
  modules/ui/ligatures/+pragmata-pro.el
  modules/ui/ligatures/README.org
  modules/ui/ligatures/autoload/install.el
  modules/ui/ligatures/autoload/ligatures.el
  modules/ui/ligatures/config.el
  modules/ui/ligatures/doctor.el
  modules/ui/ligatures/packages.el
Owners: @doomemacs/ui-ligatures

feat: all-the-icons -> nerd-icons
  docs/getting_started.org
  lisp/cli/doctor.el
  lisp/cli/install.el
  lisp/doom-ui.el
  lisp/lib/docs.el
  lisp/lib/system.el
  lisp/packages.el
  modules/README.org
  modules/app/everywhere/config.el
  modules/completion/vertico/README.org
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/emacs/dired/README.org
  modules/emacs/dired/config.el
  modules/emacs/dired/packages.el
  modules/emacs/ibuffer/README.org
  modules/emacs/ibuffer/config.el
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
  modules/lang/beancount/README.org
  modules/lang/beancount/config.el
  modules/lang/graphql/config.el
  modules/lang/org/autoload/org-link.el
  modules/tools/biblio/config.el
  modules/ui/doom-dashboard/README.org
  modules/ui/doom-dashboard/config.el
  modules/ui/doom/README.org
  modules/ui/modeline/+light.el
  modules/ui/modeline/README.org
  modules/ui/modeline/config.el
  modules/ui/modeline/packages.el
Owners: @doomemacs/maintainers, @doomemacs/app-everywhere, @doomemacs/completion-vertico, @doomemacs/emacs-dired, @doomemacs/emacs-ibuffer, @doomemacs/email-mu4e, @doomemacs/lang-beancount, @doomemacs/lang-graphql, @doomemacs/lang-org, @doomemacs/tools-biblio, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom, @doomemacs/ui-modeline

feat(helm): update to use nerd-icons
  modules/completion/helm/README.org
  modules/completion/helm/config.el
  modules/completion/helm/packages.el
Owners: @doomemacs/completion-helm

feat(ivy): update to use nerd-icons
  modules/completion/ivy/README.org
  modules/completion/ivy/autoload/ivy.el
  modules/completion/ivy/config.el
  modules/completion/ivy/packages.el
Owners: @doomemacs/completion-ivy

fix(company): update to use nerd-icons
  modules/completion/company/config.el
Owners: @doomemacs/completion-company

bump: :ui treemacs
  modules/ui/treemacs/packages.el
Owners: @doomemacs/ui-treemacs

refactor!(ligatures): use ligature.el for Emacs28+
  modules/ui/ligatures/+fira.el
  modules/ui/ligatures/+hasklig.el
  modules/ui/ligatures/+iosevka.el
  modules/ui/ligatures/+pragmata-pro.el
  modules/ui/ligatures/README.org
  modules/ui/ligatures/autoload/install.el
  modules/ui/ligatures/autoload/ligatures.el
  modules/ui/ligatures/config.el
  modules/ui/ligatures/doctor.el
  modules/ui/ligatures/packages.el
Owners: @doomemacs/ui-ligatures

fix(evil): more reliable window detection
  modules/editor/evil/autoload/evil.el
Owners: @doomemacs/editor-evil

bump: :ui treemacs
  modules/ui/treemacs/packages.el
Owners: @doomemacs/ui-treemacs

tweak(workspaces): prefill current name on rename
  modules/ui/workspaces/autoload/workspaces.el
Owners: @doomemacs/ui-workspaces

feat(php): doctor: rudimentary php & composer checks
  modules/lang/php/doctor.el
Owners: @doomemacs/lang-php

docs: expand multiple/non-standard config checks
  lisp/cli/doctor.el
Owners: @doomemacs/maintainers

fix(layout): bepo: void-variable org-capture-mode-map error
  modules/input/layout/+bepo.el
Owners: @doomemacs/input-layout

bump: :tools
  modules/tools/debugger/packages.el
  modules/tools/direnv/packages.el
  modules/tools/docker/packages.el
  modules/tools/editorconfig/packages.el
  modules/tools/ein/packages.el
  modules/tools/eval/packages.el
  modules/tools/lsp/packages.el
  modules/tools/make/packages.el
  modules/tools/pass/packages.el
  modules/tools/pdf/packages.el
  modules/tools/rgb/packages.el
  modules/tools/tree-sitter/packages.el
  modules/tools/upload/packages.el
Owners: @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-lsp, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-rgb, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload

docs: properly indent core doctor checks
  lisp/cli/doctor.el
Owners: @doomemacs/maintainers

docs: add fish shell check
  lisp/cli/doctor.el
Owners: @doomemacs/maintainers

dev: shell.nix: add emacs 29, 30.0.50, & CI versions
  shell.nix
Owners: @doomemacs/maintainers

refactor: doom-guess-mode-h: return non-nil on success
  lisp/doom-editor.el
Owners: @doomemacs/maintainers

bump: :app rss
  modules/app/rss/packages.el
Owners: @doomemacs/app-rss

fix(emacs-lisp): failure to look up module docs
  modules/lang/emacs-lisp/autoload.el
Owners: @doomemacs/lang-emacs-lisp

fix(lib): 'back to *' links in doom-docs
  lisp/lib/docs.el
Owners: @doomemacs/maintainers

fix: prevent quit in the middle of doom/escape
  lisp/doom-keybinds.el
Owners: @doomemacs/maintainers

fix(doom-ui): set the default unicode font to nerd-icons
  lisp/doom-ui.el
Owners: @doomemacs/maintainers

refactor(format): replace with apheleia
  modules/editor/format/autoload/format.el
  modules/editor/format/autoload/settings.el
  modules/editor/format/config.el
  modules/editor/format/packages.el
  modules/editor/format/test/test-format.el
  modules/lang/ocaml/config.el
  modules/lang/php/config.el
  modules/lang/sh/config.el
  modules/lang/web/+html.el
Owners: @doomemacs/editor-format, @doomemacs/lang-ocaml, @doomemacs/lang-php, @doomemacs/lang-sh, @doomemacs/lang-web

fix(format): correctly adjust shfmt
  modules/lang/sh/config.el
Owners: @doomemacs/lang-sh

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS
