Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS

refactor(emacs-lisp): elisp-demos: reorganize Doom demos
  docs/examples.org
  lisp/demos.org
  modules/lang/emacs-lisp/autoload.el
  modules/lang/emacs-lisp/config.el
Owners: @doomemacs/maintainers, @doomemacs/lang-emacs-lisp

refactor: doom-module: conform variables to conventions
  lisp/doom-modules.el
  modules/lang/org/config.el
Owners: @doomemacs/maintainers, @doomemacs/lang-org

refactor: introduce doom-module-load-path
  lisp/doom-modules.el
Owners: @doomemacs/maintainers

nit(emacs-lisp): reformat/revise comments
  modules/lang/emacs-lisp/config.el
Owners: @doomemacs/lang-emacs-lisp

docs: bump supported Emacs version to 29.2
  README.md
Owners: @doomemacs/maintainers

nit: doom-modules: reformat & declare obsolete variables defs
  lisp/doom-modules.el
Owners: @doomemacs/maintainers

nit: fix s/make/bake typo
  lisp/doom-profiles.el
  lisp/doom.el
Owners: @doomemacs/maintainers

tweak(lib): doom-info: show $EMACS/$EMACSDIR
  lisp/lib/debug.el
Owners: @doomemacs/maintainers

bump: :lang ocaml
  modules/lang/ocaml/packages.el
Owners: @doomemacs/lang-ocaml

bump: :lang org
  modules/lang/org/packages.el
Owners: @doomemacs/lang-org

bump: :config
  modules/config/default/packages.el
Owners: @doomemacs/config-default

bump: :ui
  modules/ui/hl-todo/packages.el
  modules/ui/ligatures/packages.el
  modules/ui/modeline/packages.el
  modules/ui/ophints/packages.el
  modules/ui/treemacs/packages.el
  modules/ui/unicode/packages.el
  modules/ui/vc-gutter/packages.el
  modules/ui/workspaces/packages.el
  modules/ui/zen/packages.el
Owners: @doomemacs/ui-hl-todo, @doomemacs/ui-ligatures, @doomemacs/ui-modeline, @doomemacs/ui-ophints, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-workspaces, @doomemacs/ui-zen

bump: :tools collab
  modules/tools/collab/packages.el
Owners: @doomemacs/maintainers

bump: :tools
  modules/tools/ansible/packages.el
  modules/tools/biblio/packages.el
  modules/tools/direnv/packages.el
  modules/tools/docker/packages.el
  modules/tools/editorconfig/packages.el
  modules/tools/eval/packages.el
  modules/tools/lookup/config.el
  modules/tools/lookup/packages.el
  modules/tools/lsp/packages.el
  modules/tools/magit/packages.el
  modules/tools/pass/packages.el
  modules/tools/prodigy/packages.el
  modules/tools/rgb/packages.el
  modules/tools/terraform/packages.el
  modules/tools/tree-sitter/packages.el
Owners: @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-eval, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-pass, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-terraform, @doomemacs/tools-tree-sitter

module: remove :tools gist
  modules/tools/gist/README.org
  modules/tools/gist/autoload/evil.el
  modules/tools/gist/config.el
  modules/tools/gist/packages.el
  templates/init.example.el
Owners: @doomemacs/tools-gist, @doomemacs/maintainers

bump: :editor evil
  modules/editor/evil/init.el
  modules/editor/evil/packages.el
Owners: @doomemacs/editor-evil

bump: :editor
  modules/editor/file-templates/packages.el
  modules/editor/fold/packages.el
  modules/editor/format/packages.el
  modules/editor/parinfer/packages.el
  modules/editor/snippets/packages.el
  modules/editor/word-wrap/packages.el
Owners: @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-parinfer, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap

feat(org): add Kagi custom link type
  modules/lang/org/README.org
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

feat(lookup): add Kagi
  modules/tools/lookup/config.el
Owners: @doomemacs/tools-lookup

bump: :lang rest
  modules/lang/rest/packages.el
Owners: @doomemacs/lang-rest

refactor: s/doom-modules-dirs/doom-module-load-path/
  lisp/cli/compile.el
  lisp/doom-modules.el
  lisp/doom-profiles.el
  lisp/lib/autoloads.el
  lisp/lib/debug.el
Owners: @doomemacs/maintainers

bump: :lang
  modules/lang/agda/packages.el
  modules/lang/beancount/packages.el
  modules/lang/cc/packages.el
  modules/lang/clojure/packages.el
  modules/lang/coq/packages.el
  modules/lang/crystal/packages.el
  modules/lang/dart/packages.el
  modules/lang/data/packages.el
  modules/lang/dhall/packages.el
  modules/lang/elixir/packages.el
  modules/lang/emacs-lisp/packages.el
  modules/lang/erlang/packages.el
  modules/lang/factor/packages.el
  modules/lang/fstar/packages.el
  modules/lang/gdscript/packages.el
  modules/lang/go/packages.el
  modules/lang/graphql/packages.el
  modules/lang/haskell/packages.el
  modules/lang/idris/packages.el
  modules/lang/java/packages.el
  modules/lang/javascript/packages.el
  modules/lang/json/packages.el
  modules/lang/julia/packages.el
  modules/lang/latex/packages.el
  modules/lang/ledger/packages.el
  modules/lang/lua/packages.el
  modules/lang/markdown/packages.el
  modules/lang/ocaml/packages.el
  modules/lang/php/packages.el
  modules/lang/purescript/packages.el
  modules/lang/racket/packages.el
  modules/lang/rest/packages.el
  modules/lang/ruby/packages.el
  modules/lang/scala/packages.el
  modules/lang/scheme/packages.el
  modules/lang/sh/packages.el
  modules/lang/sml/packages.el
  modules/lang/web/packages.el
  modules/lang/yaml/packages.el
Owners: @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-factor, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-latex, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-ocaml, @doomemacs/lang-php, @doomemacs/lang-purescript, @doomemacs/lang-racket, @doomemacs/lang-rest, @doomemacs/lang-ruby, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-web, @doomemacs/lang-yaml

fix: doom-module-locate-paths: remove file-name-sans-extension call
  lisp/doom-modules.el
Owners: @doomemacs/maintainers

bump: :os tty
  modules/os/tty/packages.el
Owners: @doomemacs/os-tty

bump: :completion
  modules/completion/company/packages.el
  modules/completion/helm/packages.el
  modules/completion/ido/packages.el
  modules/completion/ivy/packages.el
  modules/completion/vertico/packages.el
Owners: @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico

bump: :app
  modules/app/calendar/packages.el
  modules/app/emms/packages.el
  modules/app/everywhere/packages.el
  modules/app/irc/packages.el
  modules/app/rss/packages.el
  modules/app/twitter/packages.el
Owners: @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter

bump: :email mu4e notmuch
  modules/email/mu4e/packages.el
  modules/email/notmuch/packages.el
Owners: @doomemacs/email-mu4e, @doomemacs/email-notmuch

bump: :input
  modules/input/chinese/packages.el
  modules/input/japanese/packages.el
Owners: @doomemacs/input-chinese, @doomemacs/input-japanese

bump: :emacs
  modules/emacs/dired/packages.el
  modules/emacs/ibuffer/packages.el
  modules/emacs/undo/packages.el
  modules/emacs/vc/packages.el
Owners: @doomemacs/emacs-dired, @doomemacs/emacs-ibuffer, @doomemacs/emacs-undo, @doomemacs/emacs-vc

fix(magit): remove lazy emacsqlite build hack
  modules/tools/magit/config.el
Owners: @doomemacs/tools-magit

bump: code-review
  modules/tools/magit/packages.el
Owners: @doomemacs/tools-magit

fix(dired): void-variable dired-omit-files error
  modules/emacs/dired/config.el
Owners: @doomemacs/emacs-dired

fix(dired): void-variable dired-omit-files error
  modules/emacs/dired/config.el
Owners: @doomemacs/emacs-dired

bump: :core
  lisp/packages.el
Owners: @doomemacs/maintainers

feat(common-lisp): introduce `sly-overlay`
  modules/lang/common-lisp/config.el
  modules/lang/common-lisp/packages.el
Owners: @doomemacs/lang-common-lisp

feat(common-lisp): introduce `sly-overlay`
  modules/lang/common-lisp/config.el
  modules/lang/common-lisp/packages.el
Owners: @doomemacs/lang-common-lisp

refactor: remove all-the-icons
  lisp/packages.el
Owners: @doomemacs/maintainers

fix: --profile switch in noninteractive sessions
  early-init.el
Owners: @doomemacs/maintainers

tweak(macos): add alert and use native alert on macOS
  modules/os/macos/config.el
Owners: @doomemacs/os-macos

feat(ui): add :alert module
  modules/ui/alert/README.org
  modules/ui/alert/packages.el
  templates/init.example.el
Owners: @doomemacs/maintainers
