Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS

bump: haskell-mode
  modules/lang/haskell/packages.el
Owners: @doomemacs/lang-haskell

bump::config
  modules/config/default/packages.el
Owners: @doomemacs/config-default

fix(lsp): check npm when eglot is enabled
  modules/tools/lsp/doctor.el
Owners: @doomemacs/tools-lsp

fix(popup): add missing window parameter
  modules/ui/popup/config.el
Owners: @doomemacs/ui-popup

fix(multiple-cursors): check evil-local-mode instead of the global one
  modules/editor/multiple-cursors/config.el
Owners: @doomemacs/editor-multiple-cursors

feat: ask before quickloading a session
  lisp/lib/sessions.el
Owners: @doomemacs/maintainers

tweak(doom-dashboard): recentf now top menu section
  modules/ui/doom-dashboard/config.el
Owners: @doomemacs/ui-doom-dashboard

Fixed wrong install command
  docs/getting_started.org
Owners: @doomemacs/maintainers

release(modules): 23.08.0-dev
  lisp/doom.el
Owners: @doomemacs/maintainers

bump: :core
  lisp/packages.el
Owners: @doomemacs/maintainers

bump: :tools debugger lsp
  modules/tools/debugger/packages.el
  modules/tools/lsp/packages.el
Owners: @doomemacs/tools-debugger, @doomemacs/tools-lsp

bump: :tools magit
  modules/tools/magit/packages.el
Owners: @doomemacs/tools-magit

bump: :lang beancount emacs-lisp sh
  modules/lang/beancount/packages.el
  modules/lang/emacs-lisp/packages.el
  modules/lang/sh/packages.el
Owners: @doomemacs/lang-beancount, @doomemacs/lang-emacs-lisp, @doomemacs/lang-sh

bump: :config default use-package
  modules/config/default/packages.el
  modules/config/use-package/packages.el
Owners: @doomemacs/config-default, @doomemacs/maintainers

bump: :email
  modules/email/mu4e/packages.el
  modules/email/notmuch/packages.el
  modules/email/wanderlust/packages.el
Owners: @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust

fix(cli): set LC_ALL to force english output
  bin/doom
  bin/doomscript
Owners: @doomemacs/maintainers

feat(lib): add base-directory arg to project-file-exists-p!
  lisp/lib/projects.el
Owners: @doomemacs/maintainers

fix(lua): love2d project check
  modules/lang/lua/autoload/lua.el
Owners: @doomemacs/lang-lua

fix(cli): suppress coding-system prompts
  lisp/doom-cli.el
Owners: @doomemacs/maintainers

feat: ask before quickloading a session
  lisp/lib/sessions.el
Owners: @doomemacs/maintainers

tweak(doom-dashboard): recentf now top menu section
  modules/ui/doom-dashboard/config.el
Owners: @doomemacs/ui-doom-dashboard

fix(multiple-cursors): check evil-local-mode instead of the global one
  modules/editor/multiple-cursors/config.el
Owners: @doomemacs/editor-multiple-cursors

fix(lsp): check npm when eglot is enabled
  modules/tools/lsp/doctor.el
Owners: @doomemacs/tools-lsp

fix(lib): unquote base-directory in project-file-exists-p!
  lisp/lib/projects.el
Owners: @doomemacs/maintainers

fix(vertico): update consult-dir hosts to handle docker & podman
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(lib): unquote base-directory in project-file-exists-p!
  lisp/lib/projects.el
Owners: @doomemacs/maintainers

bump: :lang elm fsharp haskell lean lua purescript solidity web zig
  modules/lang/elm/packages.el
  modules/lang/fsharp/packages.el
  modules/lang/haskell/packages.el
  modules/lang/lean/packages.el
  modules/lang/lua/packages.el
  modules/lang/purescript/packages.el
  modules/lang/solidity/packages.el
  modules/lang/web/packages.el
  modules/lang/zig/packages.el
Owners: @doomemacs/lang-elm, @doomemacs/lang-fsharp, @doomemacs/lang-haskell, @doomemacs/lang-lean, @doomemacs/lang-lua, @doomemacs/lang-purescript, @doomemacs/lang-solidity, @doomemacs/lang-web, @doomemacs/lang-zig

fix(snippets): fix snippet uuid completion
  modules/editor/snippets/autoload/snippets.el
Owners: @doomemacs/editor-snippets

fix(snippets): fix +snippets/new and +snippets/new-alias file creation
  modules/editor/snippets/autoload/snippets.el
Owners: @doomemacs/editor-snippets

feat(snippets): select mode for new snippet
  modules/editor/snippets/autoload/snippets.el
Owners: @doomemacs/editor-snippets

refactor(snippets): use cond instead of nested if
  modules/editor/snippets/autoload/snippets.el
Owners: @doomemacs/editor-snippets

docs: mention 29.1 support
  README.md
  lisp/cli/doctor.el
Owners: @doomemacs/maintainers

bump: :editor evil
  modules/editor/evil/autoload/ex.el
  modules/editor/evil/config.el
  modules/editor/evil/packages.el
  modules/editor/multiple-cursors/autoload/evil-mc.el
Owners: @doomemacs/editor-evil, @doomemacs/editor-multiple-cursors

bump: :ui
  modules/ui/doom/packages.el
  modules/ui/hl-todo/packages.el
  modules/ui/modeline/packages.el
  modules/ui/neotree/packages.el
  modules/ui/ophints/packages.el
  modules/ui/tabs/packages.el
  modules/ui/treemacs/packages.el
  modules/ui/vc-gutter/packages.el
Owners: @doomemacs/ui-doom, @doomemacs/ui-hl-todo, @doomemacs/ui-modeline, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-vc-gutter

Update getting_started.org
  docs/getting_started.org
Owners: @doomemacs/maintainers

bump: :editor evil
  modules/editor/evil/config.el
  modules/editor/evil/packages.el
Owners: @doomemacs/editor-evil

revert: fix(cli): set LC_ALL to force english output
  bin/doom
  bin/doomscript
Owners: @doomemacs/maintainers

feat(default): add use consult-man if available
  modules/config/default/autoload/default.el
Owners: @doomemacs/config-default

Update Instructions to Install emacs-mac with homebrew
  docs/getting_started.org
Owners: @doomemacs/maintainers

fix(help): handle missing homepage on straight package
  lisp/lib/help.el
Owners: @doomemacs/maintainers
