Repository doomemacs/doomemacs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @doomemacs/maintainers, @doomemacs/app-calendar, @doomemacs/app-emms, @doomemacs/app-everywhere, @doomemacs/app-irc, @doomemacs/app-rss, @doomemacs/app-twitter, @doomemacs/checkers-grammar, @doomemacs/checkers-spell, @doomemacs/checkers-syntax, @doomemacs/completion-company, @doomemacs/completion-helm, @doomemacs/completion-ido, @doomemacs/completion-ivy, @doomemacs/completion-vertico, @doomemacs/config-default, @doomemacs/config-literate, @doomemacs/editor-evil, @doomemacs/editor-file-templates, @doomemacs/editor-fold, @doomemacs/editor-format, @doomemacs/editor-god, @doomemacs/editor-lispy, @doomemacs/editor-multiple-cursors, @doomemacs/editor-objed, @doomemacs/editor-parinfer, @doomemacs/editor-rotate-text, @doomemacs/editor-snippets, @doomemacs/editor-word-wrap, @doomemacs/emacs-dired, @doomemacs/emacs-electric, @doomemacs/emacs-ibuffer, @doomemacs/emacs-tramp, @doomemacs/emacs-undo, @doomemacs/emacs-vc, @doomemacs/email-mu4e, @doomemacs/email-notmuch, @doomemacs/email-wanderlust, @doomemacs/input-bidi, @doomemacs/input-chinese, @doomemacs/input-japanese, @doomemacs/input-layout, @doomemacs/lang-agda, @doomemacs/lang-beancount, @doomemacs/lang-cc, @doomemacs/lang-clojure, @doomemacs/lang-common-lisp, @doomemacs/lang-coq, @doomemacs/lang-crystal, @doomemacs/lang-csharp, @doomemacs/lang-dart, @doomemacs/lang-data, @doomemacs/lang-dhall, @doomemacs/lang-elixir, @doomemacs/lang-elm, @doomemacs/lang-emacs-lisp, @doomemacs/lang-erlang, @doomemacs/lang-ess, @doomemacs/lang-factor, @doomemacs/lang-faust, @doomemacs/lang-fortran, @doomemacs/lang-fsharp, @doomemacs/lang-fstar, @doomemacs/lang-gdscript, @doomemacs/lang-go, @doomemacs/lang-graphql, @doomemacs/lang-haskell, @doomemacs/lang-hy, @doomemacs/lang-idris, @doomemacs/lang-java, @doomemacs/lang-javascript, @doomemacs/lang-json, @doomemacs/lang-julia, @doomemacs/lang-kotlin, @doomemacs/lang-latex, @doomemacs/lang-lean, @doomemacs/lang-ledger, @doomemacs/lang-lua, @doomemacs/lang-markdown, @doomemacs/lang-nim, @doomemacs/lang-nix, @doomemacs/lang-ocaml, @doomemacs/lang-org, @doomemacs/lang-php, @doomemacs/lang-plantuml, @doomemacs/lang-purescript, @doomemacs/lang-python, @doomemacs/lang-qt, @doomemacs/lang-racket, @doomemacs/lang-raku, @doomemacs/lang-rest, @doomemacs/lang-rst, @doomemacs/lang-ruby, @doomemacs/lang-rust, @doomemacs/lang-scala, @doomemacs/lang-scheme, @doomemacs/lang-sh, @doomemacs/lang-sml, @doomemacs/lang-solidity, @doomemacs/lang-swift, @doomemacs/lang-terra, @doomemacs/lang-web, @doomemacs/lang-yaml, @doomemacs/lang-zig, @doomemacs/os-macos, @doomemacs/os-tty, @doomemacs/term-eshell, @doomemacs/term-shell, @doomemacs/term-term, @doomemacs/term-vterm, @doomemacs/tools-ansible, @doomemacs/tools-biblio, @doomemacs/tools-debugger, @doomemacs/tools-direnv, @doomemacs/tools-docker, @doomemacs/tools-editorconfig, @doomemacs/tools-ein, @doomemacs/tools-eval, @doomemacs/tools-gist, @doomemacs/tools-lookup, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/tools-make, @doomemacs/tools-pass, @doomemacs/tools-pdf, @doomemacs/tools-prodigy, @doomemacs/tools-rgb, @doomemacs/tools-taskrunner, @doomemacs/tools-terraform, @doomemacs/tools-tmux, @doomemacs/tools-tree-sitter, @doomemacs/tools-upload, @doomemacs/ui-deft, @doomemacs/ui-doom, @doomemacs/ui-doom-dashboard, @doomemacs/ui-doom-quit, @doomemacs/ui-emoji, @doomemacs/ui-hl-todo, @doomemacs/ui-hydra, @doomemacs/ui-indent-guides, @doomemacs/ui-ligatures, @doomemacs/ui-minimap, @doomemacs/ui-modeline, @doomemacs/ui-nav-flash, @doomemacs/ui-neotree, @doomemacs/ui-ophints, @doomemacs/ui-popup, @doomemacs/ui-tabs, @doomemacs/ui-treemacs, @doomemacs/ui-unicode, @doomemacs/ui-vc-gutter, @doomemacs/ui-vi-tilde-fringe, @doomemacs/ui-window-select, @doomemacs/ui-workspaces, @doomemacs/ui-zen

.github/CODEOWNERS:

# -*- mode: conf -*-
# Each line is a file pattern followed by one or more owners.
# This file was generated by 'doom make codeowners', do not edit it by hand.

# The default owner(s) unless another takes precedence
* @doomemacs/maintainers

# Module maintainers
modules/app/calendar/            @doomemacs/app-calendar
modules/app/emms/                @doomemacs/app-emms
modules/app/everywhere/          @doomemacs/app-everywhere
modules/app/irc/                 @doomemacs/app-irc
modules/app/rss/                 @doomemacs/app-rss
modules/app/twitter/             @doomemacs/app-twitter
modules/checkers/grammar/        @doomemacs/checkers-grammar
modules/checkers/spell/          @doomemacs/checkers-spell
modules/checkers/syntax/         @doomemacs/checkers-syntax
modules/completion/company/      @doomemacs/completion-company
modules/completion/helm/         @doomemacs/completion-helm
modules/completion/ido/          @doomemacs/completion-ido
modules/completion/ivy/          @doomemacs/completion-ivy
modules/completion/vertico/      @doomemacs/completion-vertico
modules/config/default/          @doomemacs/config-default
modules/config/literate/         @doomemacs/config-literate
modules/editor/evil/             @doomemacs/editor-evil
modules/editor/file-templates/   @doomemacs/editor-file-templates
modules/editor/fold/             @doomemacs/editor-fold
modules/editor/format/           @doomemacs/editor-format
modules/editor/god/              @doomemacs/editor-god
modules/editor/lispy/            @doomemacs/editor-lispy
modules/editor/multiple-cursors/ @doomemacs/editor-multiple-cursors
modules/editor/objed/            @doomemacs/editor-objed
modules/editor/parinfer/         @doomemacs/editor-parinfer
modules/editor/rotate-text/      @doomemacs/editor-rotate-text
modules/editor/snippets/         @doomemacs/editor-snippets
modules/editor/word-wrap/        @doomemacs/editor-word-wrap
modules/emacs/dired/             @doomemacs/emacs-dired
modules/emacs/electric/          @doomemacs/emacs-electric
modules/emacs/ibuffer/           @doomemacs/emacs-ibuffer
modules/emacs/tramp/             @doomemacs/emacs-tramp
modules/emacs/undo/              @doomemacs/emacs-undo
modules/emacs/vc/                @doomemacs/emacs-vc
modules/email/mu4e/              @doomemacs/email-mu4e
modules/email/notmuch/           @doomemacs/email-notmuch
modules/email/wanderlust/        @doomemacs/email-wanderlust
modules/input/bidi/              @doomemacs/input-bidi
modules/input/chinese/           @doomemacs/input-chinese
modules/input/japanese/          @doomemacs/input-japanese
modules/input/layout/            @doomemacs/input-layout
modules/lang/agda/               @doomemacs/lang-agda
modules/lang/beancount/          @doomemacs/lang-beancount
modules/lang/cc/                 @doomemacs/lang-cc
modules/lang/clojure/            @doomemacs/lang-clojure
modules/lang/common-lisp/        @doomemacs/lang-common-lisp
modules/lang/coq/                @doomemacs/lang-coq
modules/lang/crystal/            @doomemacs/lang-crystal
modules/lang/csharp/             @doomemacs/lang-csharp
modules/lang/dart/               @doomemacs/lang-dart
modules/lang/data/               @doomemacs/lang-data
modules/lang/dhall/              @doomemacs/lang-dhall
modules/lang/elixir/             @doomemacs/lang-elixir
modules/lang/elm/                @doomemacs/lang-elm
modules/lang/emacs-lisp/         @doomemacs/lang-emacs-lisp
modules/lang/erlang/             @doomemacs/lang-erlang
modules/lang/ess/                @doomemacs/lang-ess
modules/lang/factor/             @doomemacs/lang-factor
modules/lang/faust/              @doomemacs/lang-faust
modules/lang/fortran/            @doomemacs/lang-fortran
modules/lang/fsharp/             @doomemacs/lang-fsharp
modules/lang/fstar/              @doomemacs/lang-fstar
modules/lang/gdscript/           @doomemacs/lang-gdscript
modules/lang/go/                 @doomemacs/lang-go
modules/lang/graphql/            @doomemacs/lang-graphql
modules/lang/haskell/            @doomemacs/lang-haskell
modules/lang/hy/                 @doomemacs/lang-hy
modules/lang/idris/              @doomemacs/lang-idris
modules/lang/java/               @doomemacs/lang-java
modules/lang/javascript/         @doomemacs/lang-javascript
modules/lang/json/               @doomemacs/lang-json
modules/lang/julia/              @doomemacs/lang-julia
modules/lang/kotlin/             @doomemacs/lang-kotlin
modules/lang/latex/              @doomemacs/lang-latex
modules/lang/lean/               @doomemacs/lang-lean
modules/lang/ledger/             @doomemacs/lang-ledger
modules/lang/lua/                @doomemacs/lang-lua
modules/lang/markdown/           @doomemacs/lang-markdown
modules/lang/nim/                @doomemacs/lang-nim
modules/lang/nix/                @doomemacs/lang-nix
modules/lang/ocaml/              @doomemacs/lang-ocaml
modules/lang/org/                @doomemacs/lang-org
modules/lang/php/                @doomemacs/lang-php
modules/lang/plantuml/           @doomemacs/lang-plantuml
modules/lang/purescript/         @doomemacs/lang-purescript
modules/lang/python/             @doomemacs/lang-python
modules/lang/qt/                 @doomemacs/lang-qt
modules/lang/racket/             @doomemacs/lang-racket
modules/lang/raku/               @doomemacs/lang-raku
modules/lang/rest/               @doomemacs/lang-rest
modules/lang/rst/                @doomemacs/lang-rst
modules/lang/ruby/               @doomemacs/lang-ruby
modules/lang/rust/               @doomemacs/lang-rust
modules/lang/scala/              @doomemacs/lang-scala
modules/lang/scheme/             @doomemacs/lang-scheme
modules/lang/sh/                 @doomemacs/lang-sh
modules/lang/sml/                @doomemacs/lang-sml
modules/lang/solidity/           @doomemacs/lang-solidity
modules/lang/swift/              @doomemacs/lang-swift
modules/lang/terra/              @doomemacs/lang-terra
modules/lang/web/                @doomemacs/lang-web
modules/lang/yaml/               @doomemacs/lang-yaml
modules/lang/zig/                @doomemacs/lang-zig
modules/os/macos/                @doomemacs/os-macos
modules/os/tty/                  @doomemacs/os-tty
modules/term/eshell/             @doomemacs/term-eshell
modules/term/shell/              @doomemacs/term-shell
modules/term/term/               @doomemacs/term-term
modules/term/vterm/              @doomemacs/term-vterm
modules/tools/ansible/           @doomemacs/tools-ansible
modules/tools/biblio/            @doomemacs/tools-biblio
modules/tools/debugger/          @doomemacs/tools-debugger
modules/tools/direnv/            @doomemacs/tools-direnv
modules/tools/docker/            @doomemacs/tools-docker
modules/tools/editorconfig/      @doomemacs/tools-editorconfig
modules/tools/ein/               @doomemacs/tools-ein
modules/tools/eval/              @doomemacs/tools-eval
modules/tools/gist/              @doomemacs/tools-gist
modules/tools/lookup/            @doomemacs/tools-lookup
modules/tools/lsp/               @doomemacs/tools-lsp
modules/tools/magit/             @doomemacs/tools-magit
modules/tools/make/              @doomemacs/tools-make
modules/tools/pass/              @doomemacs/tools-pass
modules/tools/pdf/               @doomemacs/tools-pdf
modules/tools/prodigy/           @doomemacs/tools-prodigy
modules/tools/rgb/               @doomemacs/tools-rgb
modules/tools/taskrunner/        @doomemacs/tools-taskrunner
modules/tools/terraform/         @doomemacs/tools-terraform
modules/tools/tmux/              @doomemacs/tools-tmux
modules/tools/tree-sitter/       @doomemacs/tools-tree-sitter
modules/tools/upload/            @doomemacs/tools-upload
modules/ui/deft/                 @doomemacs/ui-deft
modules/ui/doom/                 @doomemacs/ui-doom
modules/ui/doom-dashboard/       @doomemacs/ui-doom-dashboard
modules/ui/doom-quit/            @doomemacs/ui-doom-quit
modules/ui/emoji/                @doomemacs/ui-emoji
modules/ui/hl-todo/              @doomemacs/ui-hl-todo
modules/ui/hydra/                @doomemacs/ui-hydra
modules/ui/indent-guides/        @doomemacs/ui-indent-guides
modules/ui/ligatures/            @doomemacs/ui-ligatures
modules/ui/minimap/              @doomemacs/ui-minimap
modules/ui/modeline/             @doomemacs/ui-modeline
modules/ui/nav-flash/            @doomemacs/ui-nav-flash
modules/ui/neotree/              @doomemacs/ui-neotree
modules/ui/ophints/              @doomemacs/ui-ophints
modules/ui/popup/                @doomemacs/ui-popup
modules/ui/tabs/                 @doomemacs/ui-tabs
modules/ui/treemacs/             @doomemacs/ui-treemacs
modules/ui/unicode/              @doomemacs/ui-unicode
modules/ui/vc-gutter/            @doomemacs/ui-vc-gutter
modules/ui/vi-tilde-fringe/      @doomemacs/ui-vi-tilde-fringe
modules/ui/window-select/        @doomemacs/ui-window-select
modules/ui/workspaces/           @doomemacs/ui-workspaces
modules/ui/zen/                  @doomemacs/ui-zen

# End of CODEOWNERS

bump: :lang haskell lsp-haskell
  modules/lang/haskell/packages.el
Owners: @doomemacs/lang-haskell

bump: :lang haskell lsp-haskell
  modules/tools/lsp/packages.el
Owners: @doomemacs/tools-lsp

bump: :completion vertico compat consult-lsp magit git-commit
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/emacs/vc/packages.el
  modules/tools/lsp/packages.el
  modules/tools/magit/packages.el
  modules/ui/modeline/packages.el
Owners: @doomemacs/completion-vertico, @doomemacs/emacs-vc, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/ui-modeline

feat(vertico): remap Info-search to consult-info
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

bump: :lang org
  modules/lang/org/packages.el
Owners: @doomemacs/lang-org

fix(editor): configure foreground of ts-fold-replacement-face
  modules/editor/fold/config.el
Owners: @doomemacs/editor-fold

fix(vertico): update +vertico/consult-fd to new builder format
  modules/completion/vertico/autoload/vertico.el
Owners: @doomemacs/completion-vertico

bump: magit compat git-commit
  modules/completion/vertico/packages.el
  modules/emacs/vc/packages.el
  modules/tools/magit/packages.el
  modules/ui/modeline/packages.el
Owners: @doomemacs/completion-vertico, @doomemacs/emacs-vc, @doomemacs/tools-magit, @doomemacs/ui-modeline

fix(mu4e): from address selection in mu 1.8+
  modules/email/mu4e/autoload/email.el
Owners: @doomemacs/email-mu4e

tweak(everywhere): add icon to right of modeline
  modules/app/everywhere/config.el
Owners: @doomemacs/app-everywhere

nit(mu4e): clean up formatting/indentation
  modules/email/mu4e/autoload/email.el
Owners: @doomemacs/email-mu4e

fix(fold): set ts-fold-replacement-face fg to unspecified
  modules/editor/fold/config.el
Owners: @doomemacs/editor-fold

fix(lib): consult case of doom--help-search
  lisp/lib/help.el
Owners: @doomemacs/maintainers

refactor!(vertico): remove consult-apropos remap
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

fix(lib): consult case of doom--help-search
  lisp/lib/help.el
Owners: @doomemacs/maintainers

bump: magit compat git-commit
  modules/completion/vertico/packages.el
  modules/emacs/vc/packages.el
  modules/tools/magit/packages.el
  modules/ui/modeline/packages.el
Owners: @doomemacs/completion-vertico, @doomemacs/emacs-vc, @doomemacs/tools-magit, @doomemacs/ui-modeline

bump: :completion vertico compat consult-lsp magit git-commit
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/emacs/vc/packages.el
  modules/tools/lsp/packages.el
  modules/tools/magit/packages.el
  modules/ui/modeline/packages.el
Owners: @doomemacs/completion-vertico, @doomemacs/emacs-vc, @doomemacs/tools-lsp, @doomemacs/tools-magit, @doomemacs/ui-modeline

fix(vertico): update +vertico/consult-fd to new builder format
  modules/completion/vertico/autoload/vertico.el
Owners: @doomemacs/completion-vertico

feat(vertico): remap Info-search to consult-info
  modules/completion/vertico/config.el
Owners: @doomemacs/completion-vertico

feat(org): fancy docs links with activation fns
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

docs(org): improve links in readme
  modules/lang/org/README.org
Owners: @doomemacs/lang-org

feat(org): add some :help-echo for some links
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

fix(org): support module link names with A-Z0-9
  modules/lang/org/autoload/org-link.el
Owners: @doomemacs/lang-org

feat(org): introduce doom-executable link type
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

tweak(everywhere): add icon to right of modeline
  modules/app/everywhere/config.el
Owners: @doomemacs/app-everywhere

fix(cli): make doctor load module doctor files
  lisp/cli/doctor.el
Owners: @doomemacs/maintainers

fix(god): remove hard coding of cursor color
  modules/editor/god/autoload.el
Owners: @doomemacs/editor-god

bump: :lang scala (#6984)
  modules/lang/scala/packages.el
Owners: @doomemacs/lang-scala

fix: correct name of doom-after-modules-init-hook
  lisp/doom-keybinds.el
Owners: @doomemacs/maintainers

fix(email): mu4e main view shortcut face
  modules/email/mu4e/autoload/advice.el
Owners: @doomemacs/email-mu4e

fix(emacs-lisp): docstring url format which error popup
  modules/lang/emacs-lisp/autoload.el
Owners: @doomemacs/lang-emacs-lisp

docs(rust): add missing +tree-sitter flag
  modules/lang/rust/README.org
Owners: @doomemacs/lang-rust

fix(vc-gutter): add missing autoloads
  modules/ui/vc-gutter/config.el
Owners: @doomemacs/ui-vc-gutter

fix(workspaces): save current tab-bar tabs to file
  modules/ui/workspaces/autoload/workspaces.el
  modules/ui/workspaces/config.el
Owners: @doomemacs/ui-workspaces

bump: :editor dirvish
  modules/emacs/dired/packages.el
Owners: @doomemacs/emacs-dired

fix(popup): get all popup windows in all frames
  modules/ui/popup/autoload/popup.el
Owners: @doomemacs/ui-popup

refactor(org): use new :help-echo for kbd link
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

feat(org): new "cmd" link type
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Owners: @doomemacs/lang-org

feat(docs): use header-line for header info
  lisp/lib/docs.el
Owners: @doomemacs/maintainers

fix(org): update org-attach-store-link-p default
  modules/lang/org/config.el
Owners: @doomemacs/lang-org
