Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

feat(selectrum): Add wgrep
  modules/completion/selectrum/README.org
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: remove marginalia-annotators
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: eagerly load embark
  modules/completion/selectrum/config.el
Labels: re:bin

Bump bibtex-actions
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

selectrum: refactor orderless use-package
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: update TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: refactor orderless configuration
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: improve file category commands...
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add consult-lsp
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:packages, re:bin

selectrum: add C-SPC binding (half works)
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: improve ivy parity
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/evil.el
  modules/config/default/config.el
  modules/editor/evil/+commands.el
  modules/email/mu4e/config.el
  modules/email/notmuch/config.el
  modules/email/notmuch/packages.el
Labels: re:packages, re:bin

selectrum: improve wgrep
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add spellcheck support
  modules/checkers/spell/README.org
  modules/checkers/spell/autoload/+spell-fu.el
  modules/checkers/spell/config.el
  modules/checkers/spell/packages.el
Labels: re:packages, re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: add bibtex-actions to tools/biblio
  modules/completion/selectrum/TODO.org
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

Set up consult-xref if selectrum is enabled
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: update bibtex-actions config
  modules/completion/selectrum/TODO.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/biblio/config.el
Labels: re:bin

selectrum: update bindings
  modules/completion/selectrum/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: use orderless by default
  modules/completion/selectrum/README.org
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: consult-recent-files now works on startup
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

Setup consult as completion-in-region fallback
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: move consult-lsp to :tools lsp
  modules/completion/selectrum/packages.el
  modules/tools/lsp/packages.el
Labels: re:packages, re:bin

selectrum: document embark-act binding
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: fix project search evil command autoloads
  modules/completion/selectrum/autoload/evil.el
Labels: re:bin

selectrum: rework live-previews
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

Sniff for a different symbol in +org-roam-suppress-sqlite-build-a
  modules/lang/org/contrib/roam2.el
Labels: re:bin

selectrum: improve ivy parity
  core/autoload/help.el
  modules/completion/selectrum/TODO.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/config.el
  modules/lang/org/config.el
Labels: :core lib, re:bin

selectrum: refactor consult stuff
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: partially fix selectrum-repeat issue
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: improve SPC b b
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/workspaces.el
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: improve :tools lookup integration
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/tools/lookup/autoload/lookup.el
  modules/tools/lookup/config.el
Labels: re:bin

selectrum: set manual preview to all grep variants
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: generalize +selectrum/embark-wgrep
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: document bugs in TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: refactor +irc/selectrum-jump-to-channel
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/selectrum.el
  modules/app/irc/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: use `consult-completing-read-multiple`
  modules/completion/selectrum/config.el
Labels: re:bin
