Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

vertico: various refactors...
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Labels: re:bin

feat(selectrum): Add selectrum-repeat binding
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: reorganize keybinding locations
  modules/completion/selectrum/config.el
Labels: re:bin

style(selectrum): Alphabetize and align binds
  modules/completion/selectrum/config.el
Labels: re:bin

completion/selectrum -> completion/vertico, part 3
  core/autoload/help.el
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/vertico.el
  modules/completion/vertico/README.org
  modules/completion/vertico/autoload/evil.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/autoload/workspaces.el
  modules/completion/vertico/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
  modules/editor/evil/+commands.el
  modules/tools/lookup/autoload/lookup.el
Labels: :core lib, re:bin

selectrum: improve ivy parity
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/evil.el
  modules/config/default/config.el
  modules/editor/evil/+commands.el
  modules/email/mu4e/config.el
  modules/email/notmuch/config.el
  modules/email/notmuch/packages.el
Labels: re:packages, re:bin

selectrum: document embark-act binding
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: fix marginalia not loading on +prescient
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: rework live-previews
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: autoload +selectrum/backward-updir...
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: use consult-customize for preview keys
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: fix +selectrum-file-search
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: better `completion-in-region-function`
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: remove some bindings
  modules/completion/selectrum/config.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: add preview to non-consult functions
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: orderless now works
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

vertico: Improve README and update TODO...
  modules/completion/vertico/README.org
  modules/completion/vertico/TODO.org
Labels: re:bin

selectrum: update TODO, add docs/modules.org entry
  docs/modules.org
  modules/completion/selectrum/TODO.org
Labels: :core, re:bin

:tools lsp update readme to include consult-lsp
  modules/tools/lsp/README.org
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: README changes, TODO overhaul...
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: drop foo! orderless style dispatch
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

vertico: use `vertico-directory-tidy`
  modules/completion/vertico/TODO.org
  modules/completion/vertico/config.el
Labels: re:bin

completion/selectrum -> completion/vertico, part 1
  docs/modules.org
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/input/layout/+bepo.el
Labels: :core, re:packages, re:bin

selectrum: add embark target for package! statements
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: remove embark export/collect popup rules
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

fix(selectrum): Tear +selectrum-file-search down to consult-ripgrep
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

completion/selectrum -> completion/vertico, part 2
  docs/modules.org
  init.example.el
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/vertico.el
  modules/app/irc/config.el
  modules/checkers/spell/README.org
  modules/checkers/spell/autoload/+spell-fu.el
  modules/checkers/spell/config.el
  modules/checkers/spell/packages.el
  modules/completion/vertico/README.org
  modules/completion/vertico/TODO.org
  modules/completion/vertico/autoload/evil.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/autoload/workspaces.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
  modules/config/default/autoload/text.el
  modules/config/default/config.el
  modules/editor/evil/+commands.el
  modules/email/mu4e/config.el
  modules/email/notmuch/config.el
  modules/email/notmuch/packages.el
  modules/input/layout/+bepo.el
  modules/lang/org/config.el
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
  modules/tools/lookup/autoload/lookup.el
  modules/tools/lookup/config.el
  modules/tools/lsp/README.org
  modules/tools/lsp/packages.el
Labels: :core, re:packages, re:bin

selectrum: add init.el witticism
  init.example.el
Labels: re:bin

selectrum: move consult-lsp to :tools lsp
  modules/completion/selectrum/packages.el
  modules/tools/lsp/packages.el
Labels: re:packages, re:bin

Update modules/completion/selectrum/TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: add consult-lsp
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:packages, re:bin

vertico: add consult buffer source for org buffers
  modules/completion/vertico/TODO.org
  modules/completion/vertico/config.el
Labels: re:bin

Bump :completion vertico
  modules/completion/vertico/packages.el
Labels: re:packages, re:bin

selectrum: embark changes...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: refactor orderless use-package
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: remove side effect in irc jump function
  modules/app/irc/autoload/selectrum.el
Labels: re:bin

Selectrum: add embark action to open file in new workspace
  modules/completion/selectrum/autoload/workspaces.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: regorganize TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: remove marginalia-annotators
  modules/completion/selectrum/config.el
Labels: re:bin
