Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Introduce `SPC TAB N` binding
  modules/config/default/+evil-bindings.el
  modules/ui/workspaces/autoload/workspaces.el
Labels: re:bin

[:input layout bepo] Remove "W" convenience remap
  modules/input/layout/autoload/bepo.el
Labels: re:bin

:lang sh: fix sh formatter
  modules/lang/sh/config.el
Labels: re:bin

Fix #5128: No format-on-save by lsp-formatters
  modules/editor/format/config.el
Labels: re:bin

Fixed broken link to Noel Welsh tutorial
  docs/index.org
Labels: :core, re:bin

Fixed #5176.
  modules/ui/tabs/autoload.el
Labels: re:bin

Point FAQ to Github
  README.md
Labels: re:bin

Add terraform-format-buffer to terraform-mode-map
  modules/tools/terraform/README.org
  modules/tools/terraform/config.el
Labels: re:bin

show all available lsp servers
  modules/tools/lsp/autoload/lsp-mode.el
Labels: re:bin

Update getting_started.org
  docs/getting_started.org
Labels: :core, re:bin

lang/lua: document fennel support in readme
  modules/lang/lua/README.org
Labels: re:bin

removed unused use in "file-template rust main"
  modules/editor/file-templates/templates/rust-mode/__main.rs
Labels: re:bin

getting_started.org: Gentoo xft and gui flags
  docs/getting_started.org
Labels: :core, re:bin

better zig witticism
  init.example.el
Labels: re:bin

remove duplicate '+' from kotlin +lsp
  docs/modules.org
Labels: :core, re:bin

Doc: Windows WSL Update Installation to Emacs27
  docs/getting_started.org
Labels: :core, re:bin

bump projectile rails
  modules/lang/ruby/packages.el
Labels: re:packages, re:bin

init commit - Fixed company putting snippets at bottom
  modules/tools/lsp/+lsp.el
Labels: re:bin

The dart config was setting the 'flutter-run-or-hot-reload' keybind with init, so if you changed the localleader in your settings, it would stay as SPC m rather than what localleader was mapped to
  modules/lang/dart/config.el
Labels: re:bin

Bump :lang ruby projectile-rails
  modules/lang/ruby/packages.el
Labels: re:packages, re:bin

use format-buffer-h instead of the original format-all-buffer hook
  modules/editor/format/config.el
Labels: re:bin

Bump flycheck-kotlin
  modules/lang/kotlin/packages.el
Labels: re:packages, re:bin

don't explicitly set `projectile-completion-system`
  modules/completion/helm/config.el
  modules/completion/ivy/config.el
Labels: re:bin

Remove workaround for upstream lispyville PR
  modules/editor/lispy/config.el
Labels: re:bin

The dart config was setting the 'flutter-run-or-hot-reload' keybind with init, so if you changed the localleader in your settings, it would stay as SPC m rather than what localleader was mapped to
  modules/lang/dart/config.el
Labels: re:bin

Updating URL for Noel's crash course on Doom Emacs
  docs/index.org
Labels: :core, re:bin

Prevent extra variable from being passed in macro.
  modules/tools/pdf/config.el
Labels: re:bin

Add configuration to ensure that CIDER is used for babel
  modules/lang/clojure/config.el
Labels: re:bin

add multi-account switching in notmuch module
  modules/email/notmuch/README.org
  modules/email/notmuch/autoload.el
  modules/email/notmuch/config.el
Labels: re:bin

Made changes specified in pull request
  modules/lang/dart/config.el
Labels: re:bin

Filter directories when purging straight repos
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

Filter directories when purging straight repos
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

Don't activate sly-mode in lisp-mode derived modes
  modules/lang/common-lisp/config.el
Labels: re:bin

Drop Emacs 26.x support
  README.md
  bin/doom
  core/autoload/themes.el
  core/cli/doctor.el
  core/core-lib.el
  core/core-ui.el
  core/core.el
  core/packages.el
  docs/getting_started.org
  docs/modules.org
  init.example.el
  modules/lang/org/config.el
  modules/os/tty/README.org
  modules/tools/direnv/config.el
  modules/tools/lsp/+lsp.el
  modules/tools/pdf/config.el
  modules/ui/fill-column/README.org
  modules/ui/fill-column/autoload.el
  modules/ui/fill-column/packages.el
Labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor

Bump :tools pdf
  modules/tools/pdf/config.el
  modules/tools/pdf/packages.el
Labels: re:packages, re:bin

Change doom-version to 3.0.0-alpha
  core/core.el
Labels: :core, re:bin

term/eshell: alias ff = find-file-other-window
  modules/term/eshell/config.el
Labels: re:bin

Add init.example.el one-liner for :tools lsp
  init.example.el
Labels: re:bin

tools/direnv: refactor
  modules/tools/direnv/config.el
Labels: re:bin

Bump :core
  core/packages.el
Labels: :core, re:packages, re:bin
