Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

selectrum: remove some bindings
  modules/completion/selectrum/config.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: make workspace source number consistent
  modules/completion/selectrum/autoload/workspaces.el
Labels: re:bin

selectrum: improve bindings
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
Labels: re:bin

selectrum: sudo-edit -> doom/sudo-find-file...
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: embark changes...
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: reorganize consult use-package!
  modules/completion/selectrum/config.el
Labels: re:bin

completion/selectrum -> completion/vertico, part 1
  docs/modules.org
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/input/layout/+bepo.el
Labels: :core, re:packages, re:bin

selectrum: README changes, TODO overhaul...
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

completion/selectrum -> completion/vertico, part 2
  docs/modules.org
  init.example.el
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/vertico.el
  modules/app/irc/config.el
  modules/checkers/spell/README.org
  modules/checkers/spell/autoload/+spell-fu.el
  modules/checkers/spell/config.el
  modules/checkers/spell/packages.el
  modules/completion/vertico/README.org
  modules/completion/vertico/TODO.org
  modules/completion/vertico/autoload/evil.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/autoload/workspaces.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
  modules/config/default/autoload/text.el
  modules/config/default/config.el
  modules/editor/evil/+commands.el
  modules/email/mu4e/config.el
  modules/email/notmuch/config.el
  modules/email/notmuch/packages.el
  modules/input/layout/+bepo.el
  modules/lang/org/config.el
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
  modules/tools/lookup/autoload/lookup.el
  modules/tools/lookup/config.el
  modules/tools/lsp/README.org
  modules/tools/lsp/packages.el
Labels: :core, re:packages, re:bin

vertico: add consult buffer source for org buffers
  modules/completion/vertico/TODO.org
  modules/completion/vertico/config.el
Labels: re:bin

Bump :completion vertico
  modules/completion/vertico/packages.el
Labels: re:packages, re:bin

vertico: use `vertico-directory-tidy`
  modules/completion/vertico/TODO.org
  modules/completion/vertico/config.el
Labels: re:bin

vertico: Improve README and update TODO...
  modules/completion/vertico/README.org
  modules/completion/vertico/TODO.org
Labels: re:bin

vertico: various refactors...
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Labels: re:bin

vertico: remove `:demand t` from `use-package`'s
  modules/completion/vertico/config.el
Labels: re:bin

vertico: use consult-line in +default/search-buffer
  modules/config/default/autoload/search.el
Labels: re:bin

Bump :completion vertico
  modules/completion/vertico/packages.el
Labels: re:packages, re:bin

completion/selectrum -> completion/vertico, part 3
  core/autoload/help.el
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/vertico.el
  modules/completion/vertico/README.org
  modules/completion/vertico/autoload/evil.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/autoload/workspaces.el
  modules/completion/vertico/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
  modules/editor/evil/+commands.el
  modules/tools/lookup/autoload/lookup.el
Labels: :core lib, re:bin

vertico: fix unused lexical variable error
  modules/completion/vertico/TODO.org
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

Bump :checkers spell
  modules/checkers/spell/packages.el
Labels: re:packages, re:bin

vertico: defer loading of embark and orderless
  modules/completion/vertico/config.el
Labels: re:bin

vertico: use `all-the-icons-completion-marginalia-setup`
  modules/completion/vertico/config.el
Labels: re:bin

vertico: add variable to set company completion styles
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Labels: re:bin

vertico: pass universal argument from vertico...
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

Bump :tools biblio
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

vertico: prepare for merge...
  modules/completion/vertico/README.org
  modules/completion/vertico/TODO.org
Labels: re:bin

Create CNAME
  docs/CNAME
Labels: :core, re:bin

Bump :core
  core/packages.el
Labels: :core, re:packages, re:bin

term/eshell: alias ff = find-file-other-window
  modules/term/eshell/config.el
Labels: re:bin

Don't activate sly-mode in lisp-mode derived modes
  modules/lang/common-lisp/config.el
Labels: re:bin

Add init.example.el one-liner for :tools lsp
  init.example.el
Labels: re:bin

tools/direnv: refactor
  modules/tools/direnv/config.el
Labels: re:bin

tools/pass: remove auth-source-pass recipe
  modules/tools/pass/packages.el
Labels: re:packages, re:bin

Drop Emacs 26.x support
  README.md
  bin/doom
  core/autoload/themes.el
  core/cli/doctor.el
  core/core-lib.el
  core/core-ui.el
  core/core.el
  core/packages.el
  docs/getting_started.org
  docs/modules.org
  init.example.el
  modules/lang/org/config.el
  modules/os/tty/README.org
  modules/tools/direnv/config.el
  modules/tools/lsp/+lsp.el
  modules/tools/pdf/config.el
  modules/ui/fill-column/README.org
  modules/ui/fill-column/autoload.el
  modules/ui/fill-column/packages.el
Labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor

Change doom-version to 3.0.0-alpha
  core/core.el
Labels: :core, re:bin

docs/faq: fix evil-snipe instructions
  docs/faq.org
Labels: :core, re:bin

Set the lsp-ui-sideline-actions-icon to the default
  modules/tools/lsp/+lsp.el
Labels: re:bin

Filter directories when purging straight repos
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

editor/evil: update disable instructions in readme
  modules/editor/evil/README.org
Labels: re:bin
