Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Mu4e: ensure that attachment isn't mixed with text
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Org-msg, prioritise HTML over plaintext
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: (Linux only) make audible bell configurable
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Remove outdated content
  modules/email/mu4e/README.org
Labels: re:bin

Bump org-msg
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: Org-msg, add missing tab binding
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Mask mu4e signature when composing org-msg
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Blah. I messed up a let scope
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: lock file, use temp file var instead of /tmp
  modules/email/mu4e/autoload/mu-lock.el
Labels: re:bin

Mu4e: Replace shell-commands with call-process
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/autoload/mu-lock.el
Labels: re:bin

Mu4e: Nobody really likes format-flowed
  modules/email/mu4e/config.el
Labels: re:bin

mu4e: lock file may not be created by file watcher
  modules/email/mu4e/autoload/mu-lock.el
Labels: re:bin

Mu4e: Relocate min-frames-width statement
  modules/email/mu4e/config.el
Labels: re:bin

Bump mu4e-thread-folding
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: extend org-msg application to plaintext
  modules/email/mu4e/config.el
Labels: re:bin

mu4e: also prettify key-val string in main view
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Remove redundant check in cond statement
  modules/email/mu4e/autoload/advice.el
Labels: re:bin

Mu4e: Don't set gnus/message face, leave to themes
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Confirm that lockfile pid is an emacs proc
  modules/email/mu4e/autoload/mu-lock.el
Labels: re:bin

Mu4e: Fix inline LaTeX image scaling
  modules/email/mu4e/autoload/advice.el
Labels: re:bin

Mu4e: Replace stray setq with defvar and docstring
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Avoid making assumptions about defuns result
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Remove duplicated alert mode line call
  modules/email/mu4e/config.el
Labels: re:bin

Bump org-msg
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: Remove spurious autoloads
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/autoload/mu-lock.el
Labels: re:bin

Mu4e: Improve the +mu4e/attach-files docstring
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: set attachment dir to user download folder
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Add header line to dired buff when attaching
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: thread folding is too buggy, remove for now
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: re-indent advice.el and fix docstring typo
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: use file when imagemagik not present
  modules/email/mu4e/autoload/advice.el
Labels: re:bin

Fixed the keybind for fold/unfold all
  modules/editor/fold/README.org
Labels: re:bin

Black list XDG_SESSION_TYPE from doom-env
  core/cli/env.el
Labels: re:bin, re:bin/doom, re:bin/doom:env

fix vertico /ssh: tramp hostname completion
  modules/completion/vertico/config.el
Labels: re:bin

Mu4e: Add xdg-user-dir directory finding method
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Fix setting default context
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Ignore case when matching mu4e context
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: More contextual +mu4e-set-from-address-h
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Fix typos
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/doctor.el
Labels: re:bin, re:bin/doom:doctor

Mu4e: Better adhere to Doom naming conventions
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin
