Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Mu4e: Include workspace switch in if true case
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: have relaxed lock by default
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Don't require a context to compose emails
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Gate org-msg behind +org flag
  docs/modules.org
  init.example.el
  modules/email/mu4e/README.org
  modules/email/mu4e/config.el
  modules/email/mu4e/doctor.el
  modules/email/mu4e/packages.el
Labels: :core, re:packages, re:bin, re:bin/doom:doctor

Mu4e: Generalise ivy-read to completing-read
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Use more robust xwidget support check
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Remove duplicate + in function name
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Set context-aware "from" address (mu4e)
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: follow function naming conventions
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: cooperative lock control
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: correct reference to renamed variable
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: add support for non-@gmail gmail accounts
  modules/email/mu4e/README.org
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Readme, first pass of features section
  modules/email/mu4e/README.org
Labels: re:bin

Mu4e: make msg compose advice more transparent
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Recommend mbsync, and describe msmtp setup
  modules/email/mu4e/README.org
Labels: re:bin

Mu4e: rename msg refile func, customisable target
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Remove (now-)unused header colourise func
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Missed a spot when func renamed
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Fix invalid icon hook removal
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Add account stripe, and use it by default
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Further americanisation (colour → color)
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Correct reference to unbound variable
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Change colourise to (sigh) american spelling
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Another variable missing the "+" prefix
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Avoid conflict in mu4e view action name
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Refile autoload functions semantically
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/autoload/mu-lock.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: apply msg compose advice to more situations
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: make attachments possible without pain
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: make flycheck happier
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Add stub org-msg-mode in case called by func
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Gah. Typos
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
  modules/email/mu4e/doctor.el
Labels: re:bin, re:bin/doom:doctor

Mu4e: Correct windows mu lock file paths
  modules/email/mu4e/config.el
Labels: re:bin

Bump org-msg
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: ensure mu4e-compose-org-msg-handle-toggle
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: More robust Gmail account checking
  modules/email/mu4e/README.org
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: When only one personal addr is set, use it
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: start using thread folding package
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Bump org-msg
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: Org-msg, convert "> ..." ascii quotations
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Handle no-name from case
  modules/email/mu4e/autoload/email.el
Labels: re:bin
