Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

Rewrite how Doom scales font-size
  core/autoload/fonts.el
Labels: :core lib, re:bin

cli/packages: fix commit between pins counting
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

cli/packages: fix update output on unpinned packages
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

doctor: Warn if `prettier` is missing for markdown
  modules/lang/markdown/doctor.el
Labels: re:bin, re:bin/doom:doctor

editor/format: use unabbreviated commit
  modules/editor/format/packages.el
Labels: re:packages, re:bin

org-clock-out-remove-zero-time-clocks = t
  modules/lang/org/config.el
Labels: re:bin

Fix "Couldn't find project root" error on +ivy/compile
  modules/completion/ivy/autoload/ivy.el
Labels: re:bin

lang/sh: make shfmt indent-style aware
  modules/lang/sh/config.el
Labels: re:bin

editor/format: redesign
  modules/editor/format/autoload/format.el
  modules/editor/format/config.el
Labels: re:bin

Update link to Noel's crash course video
  docs/index.org
Labels: :core, re:bin

Bump straight
  core/packages.el
Labels: :core, re:packages, re:bin

Fix #5133: don't kill LSP after reformatting
  modules/editor/format/autoload/format.el
Labels: re:bin

Fix 'setting-constant enable-multibyte-characters' error
  modules/editor/format/autoload/format.el
Labels: re:bin

Add yasnippet minor mode when beancount is on
  modules/lang/beancount/config.el
Labels: re:bin

lang/web: Support go & hugo engines in web-mode
  modules/lang/web/+html.el
  modules/lang/web/config.el
Labels: re:bin

lang/web: Fix format function for Go template
  modules/lang/web/+html.el
  modules/lang/web/autoload/html.el
  modules/lang/web/config.el
Labels: re:bin

lang/java: Add file templates
  modules/editor/file-templates/templates/java-mode/__annotation-type
  modules/editor/file-templates/templates/java-mode/__class
  modules/editor/file-templates/templates/java-mode/__enum
  modules/editor/file-templates/templates/java-mode/__interface
  modules/editor/file-templates/templates/java-mode/__record
Labels: re:bin

Lazy-load yasnippet harder for faster first-file load time
  modules/config/default/+evil-bindings.el
  modules/editor/snippets/config.el
  modules/lang/org/autoload/org.el
  modules/lang/web/autoload/html.el
Labels: re:bin

Warn about :size in doom-unicode-font docstring
  core/core-ui.el
Labels: :core, re:bin

PULL_REQUEST_TEMPLATE: Simplify wording
  .github/PULL_REQUEST_TEMPLATE.md
Labels: re:bin

gt/gT = add goto Nth tab behavior
  modules/editor/evil/config.el
  modules/ui/tabs/autoload.el
Labels: re:bin

Fix gr in compilation buffers (for evil users)
  modules/editor/evil/config.el
Labels: re:bin

doc: configure mu4e for other than IMAP backends
  modules/email/mu4e/README.org
Labels: re:bin

Don't reload envvar file on doom/reload
  core/autoload/config.el
  core/core.el
Labels: :core, :core lib, re:bin

Revert 54067455e: fix ligatures
  modules/ui/ligatures/config.el
Labels: re:bin

Fix +tabs:previous-or-goto typo
  modules/editor/evil/config.el
Labels: re:bin

Fix "Unrecognized switch -E" from doom/reload
  core/autoload/config.el
Labels: :core lib, re:bin

lang/org: Add flag +strike
  modules/lang/org/README.org
  modules/lang/org/contrib/strike.el
Labels: re:bin

Use org-tree-slide-play-hook to hide blocks
  modules/lang/org/contrib/present.el
Labels: re:bin

:lang web: Recognize .ejs files as web-mode
  modules/lang/web/+html.el
Labels: re:bin

Fix #5146: errors when adjusting font size live
  core/autoload/fonts.el
Labels: :core lib, re:bin

cli: show Emacs version at the start of output
  core/core-cli.el
Labels: :core, re:bin, re:bin/doom

Bump :ui doom
  modules/ui/doom/config.el
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

app/calendar: remove non-existent autoload
  modules/app/calendar/config.el
Labels: re:bin

lang/latex +fold: fix error when yas-snippet-{beg,end} are nil
  modules/lang/latex/config.el
Labels: re:bin

Fix '+tmux/cd' to send newline
  modules/tools/tmux/autoload/tmux.el
Labels: re:bin

Remove dependence on company for fish and bash completion
  modules/term/eshell/packages.el
Labels: re:packages, re:bin

lang/json/doctor: only check for jq if ivy is on
  modules/lang/json/doctor.el
Labels: re:bin, re:bin/doom:doctor

getting_started.org: Gentoo Linux install guide
  docs/getting_started.org
Labels: :core, re:bin

Escape spaces in cd argument
  modules/tools/tmux/autoload/tmux.el
Labels: re:bin

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules
