Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

selectrum: remove embark export/collect popup rules
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: drop foo! orderless style dispatch
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: use default values for consult async timers
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: clean up selectrum config
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: bind embark-act to SPC a and C-;...
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: use consult-customize for preview keys
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: fix bugs when counsel is loaded (hack)
  core/autoload/projects.el
  modules/completion/selectrum/TODO.org
  modules/config/default/autoload/text.el
Labels: :core lib, re:bin

selectrum: rework consult previews
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

Bump consult-lsp
  modules/tools/lsp/packages.el
Labels: re:packages, re:bin

Selectrum: add embark action to open file in new workspace
  modules/completion/selectrum/autoload/workspaces.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: rework orderless style dispatchers
  modules/completion/selectrum/README.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: annotate more functions
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: remove side effect in irc jump function
  modules/app/irc/autoload/selectrum.el
Labels: re:bin

:tools lsp update readme to include consult-lsp
  modules/tools/lsp/README.org
Labels: re:bin

selectrum: add +irc/selectrum-jump-to-channel
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/selectrum.el
  modules/app/irc/config.el
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: update TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: add preview debounce for consult-theme
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add `vertico-repeat` support
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: autoload +selectrum/backward-updir...
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: improve company advice
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: update TODO, add docs/modules.org entry
  docs/modules.org
  modules/completion/selectrum/TODO.org
Labels: :core, re:bin

selectrum: simplify +selectrum/embark-wgrep
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: add preview to non-consult functions
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: rework setq's for selectrum use-package
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: reorganize keybinding locations
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: remove `doom-project-find-file` hack
  core/autoload/projects.el
  modules/completion/selectrum/TODO.org
Labels: :core lib, re:bin

selectrum: change embark-consult-preview-at-point...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: better `completion-in-region-function`
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: don't override embark-target-finders...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: remove automatic initialisms for M-x etc
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add experimental vertico flag
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:packages, re:bin

selectrum: add icon support
  docs/modules.org
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: :core, re:packages, re:bin

selectrum: fix false positive marginalia annotation...
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: pass target to `embark-action-indicator`
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: override embark-package-map with doom...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add embark target for package! statements
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: remove `selectrum-minibuffer-map` from...
  modules/config/default/config.el
Labels: re:bin
