Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

lazy-load embark
  modules/completion/selectrum/config.el
Labels: re:bin

Feature-gate :tools lsp company-specific hooks
  modules/tools/lsp/+lsp.el
Labels: re:bin

[:input layout bepo] Remove "W" convenience remap
  modules/input/layout/autoload/bepo.el
Labels: re:bin

getting_started.org: Gentoo xft and gui flags
  docs/getting_started.org
Labels: :core, re:bin

Fix #5253: error if message is called with nil arg
  core/autoload/output.el
Labels: :core lib, re:bin

`SPC TAB N` binding (#5173)
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/ui/workspaces/autoload/workspaces.el
Labels: re:bin

Bump :lang org
  modules/lang/org/packages.el
Labels: re:packages, re:bin

Fix formatting ignoring buffer-local variables
  modules/editor/format/autoload/format.el
Labels: re:bin

Bump :completion
  modules/completion/company/config.el
  modules/completion/company/packages.el
  modules/completion/helm/packages.el
  modules/completion/ido/packages.el
  modules/completion/ivy/packages.el
Labels: re:packages, re:bin

Bump jupyter
  modules/lang/org/packages.el
Labels: re:packages, re:bin

docs(selectrum): Init README
  modules/completion/selectrum/README.org
Labels: re:bin

Fix #4665: don't close annotation window on ESC
  modules/tools/pdf/config.el
Labels: re:bin

Update ui/deft README to new format
  modules/ui/deft/README.org
Labels: re:bin

selectrum: pass target to `embark-action-indicator`
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add `vertico-repeat` support
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: improve company advice
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: simplify +selectrum/embark-wgrep
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: clean up selectrum config
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: sudo-edit -> doom/sudo-find-file...
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

Add selectrum branch for SPC-* symbol search
  modules/config/default/autoload/search.el
Labels: re:bin

feat(selectrum): Set window height to match ivy
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: override embark-package-map with doom...
  modules/completion/selectrum/config.el
Labels: re:bin

vertico: pass universal argument from vertico...
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: remove `selectrum-minibuffer-map` from...
  modules/config/default/config.el
Labels: re:bin

selectrum: rework orderless style dispatchers
  modules/completion/selectrum/README.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: deactivate slow consult previews
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: set manual preview to all grep variants
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: change embark-consult-preview-at-point...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: update TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

feat(selectrum): Add consult-mark
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: remove automatic initialisms for M-x etc
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: fix bugs when counsel is loaded (hack)
  core/autoload/projects.el
  modules/completion/selectrum/TODO.org
  modules/config/default/autoload/text.el
Labels: :core lib, re:bin

selectrum: add +irc/selectrum-jump-to-channel
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/selectrum.el
  modules/app/irc/config.el
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: improve file category commands...
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: refactor consult stuff
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: use orderless by default
  modules/completion/selectrum/README.org
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin
