Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

+lispy: avoid overriding user's key themes
  modules/editor/lispy/config.el
Labels: re:bin

Set the lsp-ui-sideline-actions-icon to the default
  modules/tools/lsp/+lsp.el
Labels: re:bin

Fix command to show git log of current buffer file
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

docs/faq: fix evil-snipe instructions
  docs/faq.org
Labels: :core, re:bin

editor/evil: update disable instructions in readme
  modules/editor/evil/README.org
Labels: re:bin

tools/pass: remove auth-source-pass recipe
  modules/tools/pass/packages.el
Labels: re:packages, re:bin

Define sh-mode for bats files
  modules/lang/sh/config.el
Labels: re:bin

Made changes specified in pull request
  modules/lang/dart/config.el
Labels: re:bin

Fix #5224: void-function error on +vc/* commands
  modules/emacs/vc/autoload/vc.el
Labels: re:bin

Fix #5198: blacklist WSL_INTEROP in envvar file
  core/cli/env.el
Labels: re:bin, re:bin/doom, re:bin/doom:env

Remove checkboxes in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bump_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Fix #5169: x-underline-at-descent-line = nil
  core/core-ui.el
Labels: :core, re:bin

Fix #5176: don't prompt on gt/gT (tab switch)
  modules/ui/tabs/autoload.el
Labels: re:bin

Fix #5155: interactive specs for tmux commands
  modules/tools/tmux/autoload/tmux.el
Labels: re:bin

Bump :emacs dired
  modules/emacs/dired/packages.el
Labels: re:packages, re:bin

Fix #5176 (again): wrong interactive arg to gt/gT commands
  modules/ui/tabs/autoload.el
Labels: re:bin

Fix #4665: don't close annotation window on ESC
  modules/tools/pdf/config.el
Labels: re:bin

fixes +lsp/switch-client priority reset
  modules/tools/lsp/autoload/lsp-mode.el
Labels: re:bin

Add vanilla Emacs binding
  modules/config/default/+emacs-bindings.el
Labels: re:bin

`SPC TAB N` binding (#5173)
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/ui/workspaces/autoload/workspaces.el
Labels: re:bin

Fix fonts losing properties when resized
  core/autoload/fonts.el
Labels: :core lib, re:bin

Fix #5125: mix snippets with completion candidates
  modules/tools/lsp/+lsp.el
Labels: re:bin

remove ripgrep dependency from ivy and helm readmes
  modules/completion/helm/README.org
  modules/completion/ivy/README.org
Labels: re:bin

Bump :ui
  modules/ui/deft/packages.el
  modules/ui/doom/packages.el
  modules/ui/hl-todo/packages.el
  modules/ui/modeline/packages.el
  modules/ui/treemacs/packages.el
Labels: re:packages, re:bin

Bump :tools
  modules/tools/debugger/packages.el
  modules/tools/docker/packages.el
  modules/tools/lookup/packages.el
  modules/tools/lsp/packages.el
  modules/tools/magit/packages.el
  modules/tools/pass/packages.el
  modules/tools/terraform/packages.el
  modules/tools/upload/packages.el
Labels: re:packages, re:bin

Bump :checkers
  modules/checkers/grammar/packages.el
  modules/checkers/spell/packages.el
  modules/checkers/syntax/packages.el
Labels: re:packages, re:bin

Remove remaining `Emacs27+` checks
  core/cli/doctor.el
  core/core.el
  modules/completion/helm/config.el
  modules/config/default/config.el
  modules/editor/evil/init.el
  modules/emacs/dired/config.el
  modules/tools/lookup/config.el
  modules/ui/popup/autoload/popup.el
Labels: :core, re:bin, re:bin/doom, re:bin/doom:doctor

Bump jupyter
  modules/lang/org/packages.el
Labels: re:packages, re:bin

Fix #5187: syntax highlighting in ielm REPL
  modules/lang/emacs-lisp/config.el
Labels: re:bin

Fix #5195: workspace is killed on magit commit
  modules/ui/workspaces/autoload/workspaces.el
Labels: re:bin

Bump :app
  modules/app/emms/packages.el
  modules/app/irc/packages.el
  modules/app/rss/packages.el
Labels: re:packages, re:bin

Fix #5253: error if message is called with nil arg
  core/autoload/output.el
Labels: :core lib, re:bin

Bump :ui nav-flash
  modules/ui/nav-flash/config.el
  modules/ui/nav-flash/packages.el
Labels: re:packages, re:bin

Bump :completion
  modules/completion/company/config.el
  modules/completion/company/packages.el
  modules/completion/helm/packages.el
  modules/completion/ido/packages.el
  modules/completion/ivy/packages.el
Labels: re:packages, re:bin

Bump :ui doom
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

Bump :editor
  modules/editor/evil/init.el
  modules/editor/evil/packages.el
  modules/editor/god/packages.el
  modules/editor/lispy/packages.el
  modules/editor/multiple-cursors/packages.el
  modules/editor/parinfer/packages.el
  modules/editor/snippets/packages.el
  modules/editor/word-wrap/packages.el
Labels: re:packages, re:bin

Add doom/bumpify-diff & doom/commit-bumps commands
  core/autoload/packages.el
Labels: :core lib, re:packages, re:bin

Don't log hooks
  core/core.el
Labels: :core, re:bin

Minor refactors, reformatting, & comment revision
  core/autoload/projects.el
  core/core-cli.el
  core/core.el
  early-init.el
  modules/checkers/spell/README.org
  modules/completion/company/config.el
  modules/tools/lookup/autoload/docsets.el
Labels: :core, :core lib, re:bin, re:bin/doom

lang/javascript: remove coffee-mode
  modules/lang/javascript/packages.el
Labels: re:packages, re:bin

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules
