Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Bump :editor
  modules/editor/evil/init.el
  modules/editor/evil/packages.el
  modules/editor/god/packages.el
  modules/editor/lispy/packages.el
  modules/editor/multiple-cursors/packages.el
  modules/editor/parinfer/packages.el
  modules/editor/snippets/packages.el
  modules/editor/word-wrap/packages.el
Labels: re:packages, re:bin

docs(selectrum): Add temporary TODO file
  modules/completion/selectrum/TODO.org
Labels: re:bin

refactor(selectrum): Move evil bindings where they belong
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

Fix #5224: void-function error on +vc/* commands
  modules/emacs/vc/autoload/vc.el
Labels: re:bin

fix(selectrum): Move prescient out of nested use-package
  modules/completion/selectrum/config.el
Labels: re:bin

lang/latex +fold: fix error when yas-snippet-{beg,end} are nil
  modules/lang/latex/config.el
Labels: re:bin

Remove dependence on company for fish and bash completion
  modules/term/eshell/packages.el
Labels: re:packages, re:bin

Minor refactors, reformatting, & comment revision
  core/autoload/projects.el
  core/core-cli.el
  core/core.el
  early-init.el
  modules/checkers/spell/README.org
  modules/completion/company/config.el
  modules/tools/lookup/autoload/docsets.el
Labels: :core, :core lib, re:bin, re:bin/doom

getting_started.org: use Emacs v27.x or later
  docs/getting_started.org
Labels: :core, re:bin

editor/evil: correct evil-collection module name
  modules/editor/evil/init.el
Labels: re:bin

fix(selectrum): Use jcf +selectrum-file-search
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

getting_started.org: Gentoo Linux install guide
  docs/getting_started.org
Labels: :core, re:bin

don't explicitly set `projectile-completion-system`
  modules/completion/helm/config.el
  modules/completion/ivy/config.el
Labels: re:bin

Fix #5169: x-underline-at-descent-line = nil
  core/core-ui.el
Labels: :core, re:bin

config/default: Fix C-return binding in GUI Emacs
  modules/config/default/+emacs-bindings.el
Labels: re:bin

Conform set-irc-server! indentation to the README
  modules/app/irc/autoload/settings.el
Labels: re:bin

Remove workaround for upstream lispyville PR
  modules/editor/lispy/config.el
Labels: re:bin

Define sh-mode for bats files
  modules/lang/sh/config.el
Labels: re:bin

Add dap-cpptools to auto-requires of dap for rust
  modules/tools/debugger/config.el
Labels: re:bin

removed unused use in "file-template rust main"
  modules/editor/file-templates/templates/rust-mode/__main.rs
Labels: re:bin

show all available lsp servers when switching (#5191)
  modules/tools/lsp/autoload/lsp-mode.el
Labels: re:bin

Don't load core-cli on doom/reload
  core/autoload/config.el
Labels: :core lib, re:bin

Fix #5198: blacklist WSL_INTEROP in envvar file
  core/cli/env.el
Labels: re:bin, re:bin/doom, re:bin/doom:env

Fix #5155: interactive specs for tmux commands
  modules/tools/tmux/autoload/tmux.el
Labels: re:bin

Bind gO -> imenu
  modules/editor/evil/config.el
Labels: re:bin

lang/javascript: remove coffee-mode
  modules/lang/javascript/packages.el
Labels: re:packages, re:bin

Improve multiple-cursors compatibility with evil-multiedit
  modules/editor/multiple-cursors/config.el
Labels: re:bin

Fix #5195: workspace is killed on magit commit
  modules/ui/workspaces/autoload/workspaces.el
Labels: re:bin

Bump :app
  modules/app/emms/packages.el
  modules/app/irc/packages.el
  modules/app/rss/packages.el
Labels: re:packages, re:bin

org-roam-link-use-custom-faces = everywhere
  modules/lang/org/contrib/roam.el
Labels: re:bin

lang/json/doctor: only check for jq if ivy is on
  modules/lang/json/doctor.el
Labels: re:bin, re:bin/doom:doctor

Simplify session persistence
  core/autoload/sessions.el
Labels: :core lib, re:bin

fix(selectrum): Move orderless/selectrum config...
  modules/completion/selectrum/config.el
Labels: re:bin

Fix #5187: syntax highlighting in ielm REPL
  modules/lang/emacs-lisp/config.el
Labels: re:bin

add selectrum module
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

Bump :ui
  modules/ui/deft/packages.el
  modules/ui/doom/packages.el
  modules/ui/hl-todo/packages.el
  modules/ui/modeline/packages.el
  modules/ui/treemacs/packages.el
Labels: re:packages, re:bin

tools/lsp: add lsp-racket to lsp-client-packages
  modules/tools/lsp/+lsp.el
Labels: re:bin

Fix fonts losing properties when resized
  core/autoload/fonts.el
Labels: :core lib, re:bin

Bump :checkers
  modules/checkers/grammar/packages.el
  modules/checkers/spell/packages.el
  modules/checkers/syntax/packages.el
Labels: re:packages, re:bin
