Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Move ranger tip to Keybindings section
  modules/emacs/dired/README.org
Labels: re:bin

Default eshell-term-name to eterm-color
  modules/term/eshell/config.el
Labels: re:bin

straight: clone --single-branch by default
  core/core-packages.el
Labels: :core, re:bin

tools/pdf: build epdfinfo when pdf-tools is built
  modules/tools/pdf/config.el
  modules/tools/pdf/packages.el
Labels: re:packages, re:bin

doc: adding treemacs readme (#4797)
  modules/ui/treemacs/README.org
Labels: re:bin

Add ranger documentation to dired README (#5085)
  modules/emacs/dired/README.org
Labels: re:bin

Return buffer on +vterm/{here,toggle} commands
  modules/term/vterm/autoload.el
Labels: re:bin

Don't build vterm-module in noninteractive sessions
  modules/term/vterm/config.el
Labels: re:bin

Fix #5088: failure to install straight.el
  core/core-packages.el
Labels: :core, re:bin

docs: bump minimum git version: 2.23 -> 2.28 #5088
  README.md
  docs/getting_started.org
Labels: :core, re:bin

cli/doctor: add git and git 2.28 check
  core/cli/doctor.el
Labels: re:bin, re:bin/doom, re:bin/doom:doctor

docs/getting_started: update ubuntu install instructions
  docs/getting_started.org
Labels: :core, re:bin

cli: don't repeat "Executing..." line on restart
  core/core-cli.el
  modules/config/literate/autoload.el
Labels: :core, re:bin, re:bin/doom

config/literate: simplify tangle process
  modules/config/literate/README.org
  modules/config/literate/autoload.el
Labels: re:bin

files.el: New `doom-file-set-extension`
  core/autoload/files.el
Labels: :core lib, re:bin

Add `doom-file-set-extension` to demos
  modules/lang/emacs-lisp/demos.org
Labels: re:bin

tools/pdf: leave it to user to build epdfinfo
  modules/tools/pdf/config.el
  modules/tools/pdf/packages.el
Labels: re:packages, re:bin

Bump :app irc
  modules/app/irc/packages.el
Labels: re:packages, re:bin

Fix #5093: git version doctor check on macOS
  core/cli/doctor.el
Labels: re:bin, re:bin/doom, re:bin/doom:doctor

Minor refactors & reformatting
  core/autoload/output.el
  core/cli/doctor.el
  core/core-editor.el
  modules/config/literate/README.org
  modules/lang/markdown/config.el
  modules/tools/pdf/config.el
Labels: :core, :core lib, re:bin, re:bin/doom, re:bin/doom:doctor

Bump :emacs vc :tools magit
  modules/emacs/vc/packages.el
  modules/tools/magit/packages.el
Labels: re:packages, re:bin

applied requested changes
  core/autoload/files.el
Labels: :core lib, re:bin

Throw error if git < 2.28
  core/core-packages.el
Labels: :core, re:bin

Reduce verbosity of first-time install
  core/core-packages.el
Labels: :core, re:bin

Revise issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Fix bug_report & feature_request issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Reformat issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Add :not counsel-org-goto to ivy-prescient-sort-commands
  modules/completion/ivy/config.el
Labels: re:bin

feat(magit): Add orgit-forge package
  modules/tools/magit/config.el
  modules/tools/magit/packages.el
Labels: re:packages, re:bin

Advice lispyville-end-of-defun to go past defuns
  modules/editor/lispy/config.el
Labels: re:bin

lang/javascript: redesign module around rjsx-mode
  modules/lang/javascript/config.el
Labels: re:bin

Remove braces from issue form placeholders
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Enable solaire-mode in popups, transient, which-key
  modules/ui/doom/config.el
Labels: re:bin

rainbow-delimiters-max-face-count = 4
  core/core-ui.el
Labels: :core, re:bin

lang/org: add orgit-forge
  modules/lang/org/packages.el
Labels: re:packages, re:bin

Fix 'typescript-tide is not a valid syntax checker' error
  modules/lang/javascript/config.el
Labels: re:bin

Enable formatter if LSP formatter is available
  modules/editor/format/config.el
Labels: re:bin

doctor: Warn about missing `tidy` when using `web`
  modules/lang/web/doctor.el
Labels: re:bin, re:bin/doom:doctor

lang/rust: Differentiate doc building bindings
  modules/lang/rust/config.el
Labels: re:bin

Fix #4899: wrong-type-arg arrayp error on org-brain init
  modules/lang/org/contrib/brain.el
Labels: re:bin
