Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

selectrum: consult-recent-files now works on startup
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

vertico: use consult-line in +default/search-buffer
  modules/config/default/autoload/search.el
Labels: re:bin

feat(selectrum): Add wgrep
  modules/completion/selectrum/README.org
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: partially fix selectrum-repeat issue
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

selectrum: update TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

selectrum: improve :tools lookup integration
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/tools/lookup/autoload/lookup.el
  modules/tools/lookup/config.el
Labels: re:bin

selectrum: remove `doom-project-find-file` hack
  core/autoload/projects.el
  modules/completion/selectrum/TODO.org
Labels: :core lib, re:bin

selectrum: add features section to README
  modules/completion/selectrum/README.org
Labels: re:bin

selectrum: rework consult previews
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

feat(selectrum): Add +selectrum/search-symbol-at-point
  modules/completion/selectrum/autoload/selectrum.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

feat(selectrum): Add bookmark command
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: document bugs in TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: use `consult-completing-read-multiple`
  modules/completion/selectrum/config.el
Labels: re:bin

feat(selectrum): Add Search buffer binding
  modules/config/default/+evil-bindings.el
Labels: re:bin

selectrum: fix project switching with workspaces
  modules/ui/workspaces/config.el
Labels: re:bin

fix(selectrum): Set max window height to 17
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

selectrum: refactor orderless configuration
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: generalize +selectrum/embark-wgrep
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: refactor +irc/selectrum-jump-to-channel
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/selectrum.el
  modules/app/irc/config.el
Labels: re:bin

vertico: defer loading of embark and orderless
  modules/completion/vertico/config.el
Labels: re:bin

selectrum: fix project search evil command autoloads
  modules/completion/selectrum/autoload/evil.el
Labels: re:bin

selectrum: improve ivy parity
  core/autoload/help.el
  modules/completion/selectrum/TODO.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/config.el
  modules/lang/org/config.el
Labels: :core lib, re:bin

Update handling of the database
  modules/lang/org/contrib/roam2.el
  modules/lang/org/doctor.el
Labels: re:bin, re:bin/doom:doctor

Bump org-roam
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/contrib/roam2.el
  modules/lang/org/packages.el
Labels: re:packages, re:bin

Fix keymap precedence for evil users in the org-roam-buffer
  modules/lang/org/contrib/roam2.el
Labels: re:bin

Improve display of custom templates in the minibuffer
  modules/lang/org/autoload/contrib-roam2.el
  modules/lang/org/contrib/roam2.el
Labels: re:bin

vertico: add variable to set company completion styles
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Labels: re:bin

Sniff for a different symbol in +org-roam-suppress-sqlite-build-a
  modules/lang/org/contrib/roam2.el
Labels: re:bin

Bump :checkers spell
  modules/checkers/spell/packages.el
Labels: re:packages, re:bin

vertico: prepare for merge...
  modules/completion/vertico/README.org
  modules/completion/vertico/TODO.org
Labels: re:bin

Add evil bindings for org-roam-mode
  modules/lang/org/contrib/roam2.el
Labels: re:bin

lang/org: Add +roam2 flag for org-roam v2
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/README.org
  modules/lang/org/autoload/contrib-roam2.el
  modules/lang/org/config.el
  modules/lang/org/contrib/roam2.el
  modules/lang/org/doctor.el
  modules/lang/org/packages.el
Labels: re:packages, re:bin, re:bin/doom:doctor

vertico: remove +fuzzy check in +vertico-file-search
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

Add org-cite to :tools/biblio
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

Don't hard-code preview key for various consult commands
  modules/completion/vertico/config.el
Labels: re:bin

vertico: require embark in +vertico/embark-export-write
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

editor/evil: Add gr keybinding to refresh helpful buffers
  modules/editor/evil/config.el
Labels: re:bin
