Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Expand latex snippets in org-mode fragments on TAB
  modules/lang/org/autoload/org.el
Labels: re:bin

Remove docs/CNAME
  docs/CNAME
Labels: :core, re:bin

completion/vertico: reformatting
  modules/completion/vertico/config.el
Labels: re:bin

Open embark grep buffers in popup
  modules/completion/vertico/config.el
  modules/ui/popup/+hacks.el
Labels: re:bin

Fix doom/delete-backward-word errors in minibuffer
  core/autoload/text.el
Labels: :core lib, re:bin

lang/emacs-lisp: add flycheck-package
  modules/lang/emacs-lisp/config.el
  modules/lang/emacs-lisp/packages.el
Labels: re:packages, re:bin

Fix SPC f F w/ vertico + consult
  core/autoload/projects.el
  modules/config/default/autoload/files.el
Labels: :core lib, re:bin

completion/vertico: use fd for counsel-find
  modules/completion/vertico/config.el
Labels: re:bin

completion/vertico: lazily activate recentf-mode
  modules/completion/vertico/config.el
Labels: re:bin

completion/vertico: consult-async-min-input = 2
  modules/completion/vertico/config.el
Labels: re:bin

Fix #5297: don't defer lv incrementally on magit
  modules/tools/magit/config.el
Labels: re:bin

+lookup/in-docsets: Use counsel-dash temporarily for vertico
  modules/tools/lookup/autoload/docsets.el
Labels: re:bin

Adding new line on string on how to upgrade Emacs
  bin/doom
Labels: re:bin, re:bin/doom

editor/format lsp feature requirement from textDocument/rangeFormatting to textDocument/formatting.
  modules/editor/format/autoload/format.el
Labels: re:bin

Add "SPC p &" binding
  modules/config/default/+evil-bindings.el
Labels: re:bin

Bump :mail (mu4e) org-msg
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

vertico: add missing autoload
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

tweak(vertico): tune consult async timers
  modules/completion/vertico/config.el
Labels: re:bin

fix(vertico): escape perl syntax in selection
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

refactor: remove redundant org code
  core/autoload/help.el
  modules/lang/org/autoload/org.el
Labels: :core lib, re:bin

tweak: gcmh-idle-delay = 5 -> 0.5
  core/core.el
Labels: :core, re:bin

fix(lookup): add vertico support to dash-docs
  modules/tools/lookup/autoload/docsets.el
Labels: re:bin

fix(vertico): unreachable function in autoloads
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Labels: re:bin

fix(vertico): add counsel-file-jump analogue
  core/autoload/projects.el
  modules/completion/vertico/autoload/vertico.el
  modules/config/default/autoload/files.el
  modules/tools/lookup/autoload/lookup.el
Labels: :core lib, re:bin

fix(vertico): add +ivy/jump-list analogue
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
Labels: re:bin

fix(vertico): TAB bound to non-interactive function
  modules/completion/vertico/autoload/workspaces.el
  modules/completion/vertico/config.el
Labels: re:bin

tweak: adopt +vertico as our default backend
  init.example.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

fix(pass): add vertico support
  modules/tools/pass/autoload/consult.el
Labels: re:bin

fix(org): no mixed-pitch/spellcheck on org-footnote
  modules/checkers/spell/config.el
  modules/ui/zen/config.el
Labels: re:bin

feat(org): set org-num-face & org-num-skip-tags
  modules/lang/org/config.el
Labels: re:bin

feat(org): add native :async support
  modules/lang/org/config.el
Labels: re:bin

feat(org): expand parents for showNlevels option
  modules/lang/org/config.el
Labels: re:bin

fix(popup): prioritize local actions over popup rules
  modules/ui/popup/+hacks.el
Labels: re:bin

fix(org): oversized org-todo popup
  modules/ui/popup/+hacks.el
Labels: re:bin

fix(popup): org-edit-src breaks if forcibly killed
  modules/ui/popup/+hacks.el
Labels: re:bin

feat(popup): switch-to-buffer-obey-display-actions = t
  modules/ui/popup/config.el
Labels: re:bin

feat(lua): improve fennel support
  modules/lang/lua/config.el
Labels: re:bin

fix: use new commit format in `doom/bumpify-diff`
  core/autoload/packages.el
Labels: :core lib, re:packages, re:bin

Fix +lookup/in-docsets's vertico section
  modules/tools/lookup/autoload/docsets.el
Labels: re:bin

Quickly close the `lsp-signature` popup by ESC*
  modules/tools/lsp/+lsp.el
Labels: re:bin
