Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Fix #5104: void-function +format-lsp-enable-on-save-maybe-h
  modules/editor/format/config.el
Labels: re:bin

Fix #5105: void-variable org-brain-polymode-map
  modules/lang/org/contrib/brain.el
Labels: re:bin

Fix schemes README.md
  modules/lang/scheme/README.org
Labels: re:bin

Fix #5104 (again): void-function +format-lsp-enable-on-save-maybe-h
  modules/editor/format/config.el
Labels: re:bin

Bump :app
  modules/app/emms/packages.el
  modules/app/irc/packages.el
  modules/app/rss/packages.el
Labels: re:packages, re:bin

Fix format-all formatters not activating on save
  modules/editor/format/config.el
Labels: re:bin

Fix #5109: startup files not added to main persp
  modules/ui/workspaces/config.el
Labels: re:bin

cli/env: blacklist TERMCAP envvar
  core/cli/env.el
Labels: re:bin, re:bin/doom, re:bin/doom:env

editor/evil: simplify cursor color change logic
  modules/editor/evil/config.el
Labels: re:bin

Trigger doom-switch-buffer-hook on kill-current-buffer
  core/core-ui.el
Labels: :core, re:bin

app/irc: Swap examples to cite libera.chat
  modules/app/irc/README.org
Labels: re:bin

Added Flycheck documentation
  modules/checkers/syntax/README.org
Labels: re:bin

Fixed date issues
  modules/checkers/syntax/README.org
Labels: re:bin

Bump :completion
  modules/completion/company/packages.el
  modules/completion/helm/packages.el
  modules/completion/ido/packages.el
  modules/completion/ivy/packages.el
Labels: re:packages, re:bin

Don't spell check in markdown urls/code
  modules/checkers/spell/config.el
Labels: re:bin

Half-revert 69ea5c202
  modules/editor/evil/config.el
Labels: re:bin

editor/evil: remove redundant put & add comment
  modules/editor/evil/config.el
Labels: re:bin

gcmh-high-cons-threshold = 16mb
  core/core.el
Labels: :core, re:bin

cli/packages: count commits between pins
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

Add -pretty feature to ocaml module
  modules/lang/ocaml/README.org
  modules/lang/ocaml/config.el
Labels: re:bin

Add haskell gitignore template
  modules/editor/file-templates/templates/gitignore-mode/__
Labels: re:bin

Fix 'invalid face attribute :background' warnings
  modules/ui/doom-dashboard/config.el
Labels: re:bin

Fix #5113: "defining as dynamic an already lexical var" error
  modules/editor/evil/autoload/textobjects.el
Labels: re:bin

Add "how-to/config questions" warning to feature-request form
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

lang/org: tab = cycle folds if in emacs state
  modules/lang/org/autoload/org.el
Labels: re:bin

Add evil-keybindings for various sharper commands
  modules/lang/csharp/config.el
Labels: re:bin

doctor: Warn if `shfmt` is missing
  modules/lang/sh/doctor.el
Labels: re:bin, re:bin/doom:doctor

Bump :core
  core/packages.el
Labels: :core, re:packages, re:bin

Reduce minimum required git to 2.23
  README.md
  core/cli/doctor.el
  core/core-packages.el
  docs/getting_started.org
Labels: :core, re:bin, re:bin/doom, re:bin/doom:doctor

lang/org: hl dead links in warning + org-link faces
  modules/lang/org/config.el
Labels: re:bin

Fix small typo in getting_started.org
  docs/getting_started.org
Labels: :core, re:bin

Prioritize emacs-mirror over melpa/elpa/etc
  core/core-packages.el
Labels: :core, re:bin

Revert ed5c7a21d
  core/core-packages.el
Labels: :core, re:bin

Ensure *-local-vars-hook runs on hack-local-variables-hook
  core/core.el
Labels: :core, re:bin

Remove doom update and replace with doom sync -u
  core/core-packages.el
Labels: :core, re:bin

Update fix for in-line src code.
  modules/lang/org/config.el
Labels: re:bin

Revert earlier changes to :emacs electric.
  modules/emacs/electric/config.el
Labels: re:bin

Fix #4894: +lookup/references not following references
  modules/tools/lsp/autoload/lsp-mode.el
Labels: re:bin

Unset :weight, :slant, :width on font faces
  core/core-ui.el
Labels: :core, re:bin

Bump :core
  core/packages.el
Labels: :core, re:packages, re:bin
