Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Don't suppress user-error errors
  core/core.el
Labels: :core, re:bin

Remove define-obsolete-*-alias fix
  core/core-lib.el
Labels: :core, re:bin

Revert to straight's original bytecomp behavior
  core/core-packages.el
Labels: :core, re:bin

Add lsp modeline
  modules/ui/modeline/+light.el
Labels: re:bin

Add repl modeline
  modules/ui/modeline/+light.el
Labels: re:bin

Move to global-mode-string
  modules/lang/clojure/config.el
  modules/tools/lsp/+lsp.el
  modules/ui/modeline/+light.el
Labels: re:bin

Revert 5c46a5e68 & fix treemacs-evil load order
  modules/ui/treemacs/config.el
Labels: re:bin

Fix eval on modeline
  modules/lang/clojure/config.el
Labels: re:bin

editor/fold: fix load-order dependency on evil
  modules/editor/fold/config.el
Labels: re:bin

:ui modeline: Fix missing arg to function
  modules/ui/modeline/+light.el
Labels: re:bin

Bump rainbow-delimiters
  core/packages.el
Labels: :core, re:packages, re:bin

Fix #5060: don't hash relative backup file paths
  core/core-editor.el
  modules/emacs/undo/config.el
Labels: :core, re:bin

Fix labeler workflow
  .github/workflows/labeler.yml
Labels: re:bin

doom--print: return message on success
  core/autoload/output.el
Labels: :core lib, re:bin

lang/rust: fix void-variable flycheck-checkers error
  modules/lang/rust/config.el
Labels: re:bin

Distinguish C-m from RET
  core/core-keybinds.el
Labels: :core, re:bin

Fix #5057: don't read editorconfig files in archives
  modules/tools/editorconfig/config.el
Labels: re:bin

Revert b80b338b3
  core/autoload/output.el
Labels: :core lib, re:bin

ui/modeline: don't show encoding unless nondefault
  modules/ui/modeline/config.el
Labels: re:bin

Enable hl-todo-mode in yaml-mode
  modules/ui/hl-todo/config.el
Labels: re:bin

tools/lsp: minor refactor
  modules/tools/lsp/+lsp.el
Labels: re:bin

org-tree-slide-skip-outline-level = 0
  modules/lang/org/contrib/present.el
Labels: re:bin

Optimize reading org-agenda buffers in the bg
  modules/lang/org/config.el
Labels: re:bin

Document :depth in add-hook! docstring
  core/core-lib.el
Labels: :core, re:bin

Remove hard dependency on sp-point-in-* predicates
  core/autoload/text.el
  core/core-editor.el
Labels: :core, :core lib, re:bin

Backport VC-aware bug-reference-mode from 28.x
  modules/emacs/vc/autoload/bug-reference-backport.el
  modules/tools/lookup/autoload/lookup.el
Labels: re:bin

[:lang rust] Expand `Prerequisites`
  modules/lang/rust/README.org
Labels: re:bin

[:completion ivy] Call `pacman` in the normal way
  modules/completion/ivy/README.org
Labels: re:bin

[rust] Correct references to "elgot"
  modules/lang/rust/README.org
  modules/lang/rust/config.el
Labels: re:bin

Bump :ui doom-themes
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

Fix <C-m> shadowing keypad return
  core/core-keybinds.el
Labels: :core, re:bin

Refactor bin/doom
  bin/doom
  core/autoload/output.el
  core/core-cli.el
Labels: :core, :core lib, re:bin, re:bin/doom

Revert 3b0f23792 "Distinguish C-m from RET"
  core/core-keybinds.el
Labels: :core, re:bin

Remove redundant projectile-ignored-projects entries
  core/core-projects.el
Labels: :core, re:bin

Prevent electric-quotes in org src-blocks.
  modules/emacs/electric/config.el
Labels: re:bin

tools/lsp: remove unneeded lsp-ui-*-enable checks
  modules/tools/lsp/+lsp.el
Labels: re:bin

Don't enable lsp-ui-mode in lsp--auto-configure
  modules/tools/lsp/+lsp.el
Labels: re:bin

Bump :lang cc
  modules/lang/cc/packages.el
Labels: re:packages, re:bin

Update suggested clangd flags in lang/cc docs
  modules/lang/cc/README.org
Labels: re:bin

Fix #5071: don't always emit 128 exit code
  bin/doom
Labels: re:bin, re:bin/doom
