Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

Bump :tools pdf
  modules/tools/pdf/config.el
  modules/tools/pdf/packages.el
Labels: re:packages, re:bin

remove duplicate '+' from kotlin +lsp
  docs/modules.org
Labels: :core, re:bin

Fix command to show git log of current buffer file
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

lang/beancount: remove redundant lsp config
  modules/lang/beancount/config.el
Labels: re:bin

Implemented the requested changes
  modules/ui/deft/README.org
Labels: re:bin

markdown-nested-imenu-heading-index = nil
  modules/lang/markdown/config.el
Labels: re:bin

Bump :tools
  modules/tools/debugger/packages.el
  modules/tools/docker/packages.el
  modules/tools/lookup/packages.el
  modules/tools/lsp/packages.el
  modules/tools/magit/packages.el
  modules/tools/pass/packages.el
  modules/tools/terraform/packages.el
  modules/tools/upload/packages.el
Labels: re:packages, re:bin

Remove remaining `Emacs27+` checks
  core/cli/doctor.el
  core/core.el
  modules/completion/helm/config.el
  modules/config/default/config.el
  modules/editor/evil/init.el
  modules/emacs/dired/config.el
  modules/tools/lookup/config.el
  modules/ui/popup/autoload/popup.el
Labels: :core, re:bin, re:bin/doom, re:bin/doom:doctor

lang/org: fix TAB override in GUI emacs
  modules/lang/org/config.el
Labels: re:bin

lang/lua: document fennel support in readme
  modules/lang/lua/README.org
Labels: re:bin

docs/index: fix link to noel welsh's crash course
  docs/index.org
Labels: :core, re:bin

Bump :ui nav-flash
  modules/ui/nav-flash/config.el
  modules/ui/nav-flash/packages.el
Labels: re:packages, re:bin

lang/racket: add +lsp flag
  docs/modules.org
  modules/lang/racket/README.org
  modules/lang/racket/config.el
Labels: :core, re:bin

Syntax highlight .sface files as html
  modules/lang/web/+html.el
Labels: re:bin

Fix #5176 (again): wrong interactive arg to gt/gT commands
  modules/ui/tabs/autoload.el
Labels: re:bin

feat(selectrum): Add config from Townk's private config
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

Bump :tools magit
  modules/tools/magit/packages.el
Labels: re:packages, re:bin

Fix fill column indicator toggle on 'SPC t c'
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

remove ripgrep dependency from ivy and helm readmes
  modules/completion/helm/README.org
  modules/completion/ivy/README.org
Labels: re:bin

emacs/undo: increase undo-outer-limit
  modules/emacs/undo/config.el
Labels: re:bin

The dart config was setting the 'flutter-run-or-hot-reload' keybind with init, so if you changed the localleader in your settings, it would stay as SPC m rather than what localleader was mapped to
  modules/lang/dart/config.el
Labels: re:bin

Bump :ui doom
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

Add doom/bumpify-diff & doom/commit-bumps commands
  core/autoload/packages.el
Labels: :core lib, re:packages, re:bin

Bump :emacs dired
  modules/emacs/dired/packages.el
Labels: re:packages, re:bin

Activate general-auto-unbind-keys post-startup
  core/core-keybinds.el
Labels: :core, re:bin

Fix #5255: reload session after dashboard init
  core/autoload/sessions.el
Labels: :core lib, re:bin

spell: fix undefined variable
  modules/checkers/spell/autoload/+flyspell.el
Labels: re:bin

emacs-bindings: default toggle for wrapping
  modules/config/default/+emacs-bindings.el
Labels: re:bin

set prescient things on selectrum-mode
  modules/completion/selectrum/config.el
Labels: re:bin

Tolerate colon characters inside code
  core/autoload/help.el
Labels: :core lib, re:bin

Remove checkboxes in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bump_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Made changes specified in pull request
  modules/lang/dart/config.el
Labels: re:bin

Don't log hooks
  core/core.el
Labels: :core, re:bin

Create CNAME
  docs/CNAME
Labels: :core, re:bin

Fix #5176: don't prompt on gt/gT (tab switch)
  modules/ui/tabs/autoload.el
Labels: re:bin

Fix #5128: No format-on-save by lsp-formatters
  modules/editor/format/config.el
Labels: re:bin

Add selectrum project search
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
  modules/config/default/autoload/search.el
Labels: re:packages, re:bin

Bump flycheck-kotlin
  modules/lang/kotlin/packages.el
Labels: re:packages, re:bin

Made changes specified in pull request
  modules/lang/dart/config.el
Labels: re:bin

Fix #5125: mix snippets with completion candidates
  modules/tools/lsp/+lsp.el
Labels: re:bin

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules
