Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

Don't load core-cli on doom/reload
  core/autoload/config.el
Labels: :core lib, re:bin

editor/evil: correct evil-collection module name
  modules/editor/evil/init.el
Labels: re:bin

Fix fill column indicator toggle on 'SPC t c'
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

org-roam-link-use-custom-faces = everywhere
  modules/lang/org/contrib/roam.el
Labels: re:bin

Update ui/deft README to new format
  modules/ui/deft/README.org
Labels: re:bin

Fix #5255: reload session after dashboard init
  core/autoload/sessions.el
Labels: :core lib, re:bin

Simplify session persistence
  core/autoload/sessions.el
Labels: :core lib, re:bin

markdown-nested-imenu-heading-index = nil
  modules/lang/markdown/config.el
Labels: re:bin

lang/racket: add +lsp flag
  docs/modules.org
  modules/lang/racket/README.org
  modules/lang/racket/config.el
Labels: :core, re:bin

tools/lsp: add lsp-racket to lsp-client-packages
  modules/tools/lsp/+lsp.el
Labels: re:bin

emacs/undo: increase undo-outer-limit
  modules/emacs/undo/config.el
Labels: re:bin

Implemented the requested changes
  modules/ui/deft/README.org
Labels: re:bin

Activate general-auto-unbind-keys post-startup
  core/core-keybinds.el
Labels: :core, re:bin

lang/beancount: remove redundant lsp config
  modules/lang/beancount/config.el
Labels: re:bin

Update getting_started.org
  docs/getting_started.org
Labels: :core, re:bin

Update index.org
  docs/index.org
Labels: :core, re:bin

docs/index: fix link to noel welsh's crash course
  docs/index.org
Labels: :core, re:bin

Conform set-irc-server! indentation to the README
  modules/app/irc/autoload/settings.el
Labels: re:bin

Declare indent of appendq!, pushnew! and prependq!
  core/core-lib.el
Labels: :core, re:bin

Start wl-summary-mode in evil-emacs-state
  modules/email/wanderlust/config.el
Labels: re:bin

Bump :lang org
  modules/lang/org/packages.el
Labels: re:packages, re:bin

spell: fix undefined variable
  modules/checkers/spell/autoload/+flyspell.el
Labels: re:bin

Add dap-cpptools to auto-requires of dap for rust
  modules/tools/debugger/config.el
Labels: re:bin

emacs-bindings: default toggle for wrapping
  modules/config/default/+emacs-bindings.el
Labels: re:bin

Improve multiple-cursors compatibility with evil-multiedit
  modules/editor/multiple-cursors/config.el
Labels: re:bin

Add bindings for yanking and pasting entire buffers
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/text.el
Labels: re:bin

getting_started.org: use Emacs v27.x or later
  docs/getting_started.org
Labels: :core, re:bin

Fix formatting ignoring buffer-local variables
  modules/editor/format/autoload/format.el
Labels: re:bin

Bump :tools magit
  modules/tools/magit/packages.el
Labels: re:packages, re:bin

Bind gO -> imenu
  modules/editor/evil/config.el
Labels: re:bin

lang/org: fix TAB override in GUI emacs
  modules/lang/org/config.el
Labels: re:bin

editor/format: provide default formatter
  modules/editor/format/config.el
Labels: re:bin

show all available lsp servers when switching (#5191)
  modules/tools/lsp/autoload/lsp-mode.el
Labels: re:bin

lang/org: Add +roam2 flag for org-roam v2
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/README.org
  modules/lang/org/autoload/contrib-roam2.el
  modules/lang/org/config.el
  modules/lang/org/contrib/roam2.el
  modules/lang/org/doctor.el
  modules/lang/org/packages.el
Labels: re:packages, re:bin, re:bin/doom:doctor

Update handling of the database
  modules/lang/org/contrib/roam2.el
  modules/lang/org/doctor.el
Labels: re:bin, re:bin/doom:doctor

Fix keymap precedence for evil users in the org-roam-buffer
  modules/lang/org/contrib/roam2.el
Labels: re:bin

Add evil bindings for org-roam-mode
  modules/lang/org/contrib/roam2.el
Labels: re:bin

Bump org-roam
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/contrib/roam2.el
  modules/lang/org/packages.el
Labels: re:packages, re:bin

selectrum: add features section to README
  modules/completion/selectrum/README.org
Labels: re:bin

feat(selectrum): Add Search buffer binding
  modules/config/default/+evil-bindings.el
Labels: re:bin

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules
