Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

Noting the lsp-peek handlers as :async
  modules/tools/lsp/+lsp.el
Labels: re:bin

Bump geiser-guile
  modules/lang/scheme/packages.el
Labels: re:packages, re:bin

:tools pass move autoload.el to autoload/pass.el
  modules/tools/pass/autoload/pass.el
Labels: re:bin

:tools pass fix path in autoload/pass.el header
  modules/tools/pass/autoload/pass.el
Labels: re:bin

featuregate ivy dependent autoloads for irc, pass
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/ivy.el
  modules/app/irc/config.el
  modules/tools/pass/autoload/ivy.el
  modules/tools/pass/autoload/pass.el
Labels: re:bin

Add/Fix doom/{discourse,issue-tracker,report-bug}
  core/autoload/debug.el
  core/autoload/help.el
Labels: :core lib, re:bin

Bump :lang scheme
  modules/lang/scheme/packages.el
Labels: re:packages, re:bin

:app irc restore +irc/tracking-next-buffer
  modules/app/irc/autoload/irc.el
Labels: re:bin

Fix typo in the comments
  modules/tools/upload/config.el
Labels: re:bin

Enable docsets in nodejs-repl-mode
  modules/lang/javascript/config.el
Labels: re:bin

define-localleader-key's featurep -> featurep!
  core/core-keybinds.el
Labels: :core, re:bin

org-roam-verbose = t
  core/core.el
  modules/lang/org/contrib/roam.el
Labels: :core, re:bin

tools/upload: correct variable name
  modules/tools/upload/README.org
  modules/tools/upload/config.el
Labels: re:bin

Bump :ui doom
  modules/app/everywhere/config.el
  modules/app/twitter/config.el
  modules/completion/helm/autoload/posframe.el
  modules/lang/org/autoload/contrib-present.el
  modules/lang/org/config.el
  modules/ui/doom/README.org
  modules/ui/doom/config.el
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

Bump :ui doom
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

Bump :ui doom
  modules/ui/doom/packages.el
Labels: re:packages, re:bin

Disable electric-quotes in org-mode src-blocks.
  modules/lang/org/config.el
Labels: re:bin

Prevent electric-quotes in org src-blocks.
  modules/emacs/electric/config.el
Labels: re:bin

Add vi-tilde-fringe documentation
  modules/ui/vi-tilde-fringe/README.org
Labels: re:bin

editor/format: never prompt for formatter on init
  modules/editor/format/config.el
Labels: re:bin

Prevent custom from writing font settings to custom.el
  core/core-ui.el
Labels: :core, re:bin

Reload dashboard when loading theme
  modules/ui/doom-dashboard/config.el
Labels: re:bin

Bump :ui
  modules/ui/doom/packages.el
  modules/ui/hl-todo/packages.el
  modules/ui/modeline/packages.el
  modules/ui/tabs/packages.el
  modules/ui/treemacs/packages.el
Labels: re:packages, re:bin

Bump :core
  core/packages.el
Labels: :core, re:packages, re:bin

tools/magit: larger fringe in magit-mode
  modules/tools/magit/config.el
Labels: re:bin

Bump :tools
  modules/lang/yaml/packages.el
  modules/tools/ansible/packages.el
  modules/tools/biblio/packages.el
  modules/tools/debugger/packages.el
  modules/tools/direnv/packages.el
  modules/tools/docker/packages.el
  modules/tools/editorconfig/packages.el
  modules/tools/ein/packages.el
  modules/tools/eval/packages.el
  modules/tools/lookup/packages.el
  modules/tools/lsp/packages.el
  modules/tools/magit/packages.el
  modules/tools/pass/packages.el
  modules/tools/pdf/packages.el
  modules/tools/upload/packages.el
Labels: re:packages, re:bin

Bump :term
  modules/term/eshell/packages.el
  modules/term/vterm/packages.el
Labels: re:packages, re:bin

Fix #5053: unwanted inline ligature composition
  modules/ui/ligatures/config.el
Labels: re:bin

Add qt module documentation
  modules/lang/qt/README.org
Labels: re:bin

added documentation on the command to switch betwee minimal ranger and full ranger
  modules/emacs/dired/README.org
Labels: re:bin

added link to ranger section in dired README.org
  modules/emacs/dired/README.org
Labels: re:bin

Fix packages evading native-compilation
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

bin/doom: polish output
  core/autoload/output.el
  core/cli/lib/straight-hacks.el
  core/cli/packages.el
  core/core-cli.el
Labels: :core, :core lib, re:packages, re:bin, re:bin/doom

Refactor doom-{path,file,dir,glob}
  core/autoload/files.el
  core/autoload/packages.el
  core/cli/autoloads.el
  core/cli/byte-compile.el
  modules/email/notmuch/autoload.el
  modules/lang/dart/config.el
Labels: :core lib, re:packages, re:bin, re:bin/doom

lsp-ui-doc-enable = nil
  modules/tools/lsp/+lsp.el
Labels: re:bin

Minor refactoring across the board
  core/autoload/text.el
  core/cli/autoloads.el
  core/cli/packages.el
  core/core-packages.el
  core/core-ui.el
  modules/completion/company/config.el
  modules/editor/evil/config.el
  modules/editor/parinfer/packages.el
  modules/editor/rotate-text/packages.el
  modules/lang/emacs-lisp/autoload.el
  modules/ui/doom/config.el
  test/shell.nix
Labels: :core, :core lib, re:packages, re:bin, re:bin/doom

Add :T for treemacs state keybinds in map!
  modules/ui/treemacs/config.el
Labels: re:bin

Don't trigger labeler workflow on issues
  .github/workflows/labeler.yml
Labels: re:bin

Remove "fix" for projectile + $HOME git repos
  core/cli/doctor.el
  core/core-projects.el
Labels: :core, re:bin, re:bin/doom, re:bin/doom:doctor

term/vterm: Return the created buffer
  modules/term/vterm/autoload.el
Labels: re:bin

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules
