Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

selectrum: annotate more functions
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: improve SPC b b
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/workspaces.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: rework setq's for selectrum use-package
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: document orderless style dispatchers
  modules/completion/selectrum/README.org
Labels: re:bin

selectrum: fix false positive marginalia annotation...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add bibtex-actions to tools/biblio
  modules/completion/selectrum/TODO.org
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

Bump consult-lsp
  modules/tools/lsp/packages.el
Labels: re:packages, re:bin

selectrum: add C-SPC binding (half works)
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: eagerly load embark
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add spellcheck support
  modules/checkers/spell/README.org
  modules/checkers/spell/autoload/+spell-fu.el
  modules/checkers/spell/config.el
  modules/checkers/spell/packages.el
Labels: re:packages, re:bin

Setup consult as completion-in-region fallback
  modules/completion/selectrum/config.el
Labels: re:bin

vertico: remove `:demand t` from `use-package`'s
  modules/completion/vertico/config.el
Labels: re:bin

selectrum: add icon support
  docs/modules.org
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
Labels: :core, re:packages, re:bin

selectrum: don't override embark-target-finders...
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: make workspace source number consistent
  modules/completion/selectrum/autoload/workspaces.el
Labels: re:bin

selectrum: bind embark-act to SPC a and C-;...
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

fix(selectrum): Remove unnecessary advice overrides
  modules/completion/selectrum/autoload/selectrum.el
  modules/config/default/autoload/text.el
Labels: re:bin

add orderless style dispatchers
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add preview debounce for consult-theme
  modules/completion/selectrum/config.el
Labels: re:bin

Bump bibtex-actions
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

selectrum: use default values for consult async timers
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: Replace obsolete selectrum-active-p
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: improve wgrep
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: update bindings
  modules/completion/selectrum/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

fix(selectrum): Revert to jethro's version of file-search
  modules/completion/selectrum/autoload/selectrum.el
Labels: re:bin

vertico: use `all-the-icons-completion-marginalia-setup`
  modules/completion/vertico/config.el
Labels: re:bin

vertico: fix unused lexical variable error
  modules/completion/vertico/TODO.org
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

selectrum: annotate persp-switch-to-buffer
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: improve bindings
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
Labels: re:bin

Bump :tools biblio
  modules/tools/biblio/packages.el
Labels: re:packages, re:bin

selectrum: reorganize consult use-package!
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: update TODO.org
  modules/completion/selectrum/TODO.org
Labels: re:bin

Bump :completion vertico
  modules/completion/vertico/packages.el
Labels: re:packages, re:bin

selectrum: update bibtex-actions config
  modules/completion/selectrum/TODO.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/biblio/config.el
Labels: re:bin

Bump :completion selectrum
  modules/completion/selectrum/packages.el
Labels: re:packages, re:bin

fix(selectrum): Apply changes from minad's review
  modules/completion/selectrum/config.el
Labels: re:bin

selectrum: add experimental vertico flag
  modules/completion/selectrum/README.org
  modules/completion/selectrum/TODO.org
  modules/completion/selectrum/autoload/selectrum.el
  modules/completion/selectrum/config.el
  modules/completion/selectrum/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:packages, re:bin

Set up consult-xref if selectrum is enabled
  modules/completion/selectrum/config.el
Labels: re:bin

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules
