Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Fix +vertico-file-search when separator is used
  modules/completion/vertico/autoload/vertico.el
Labels: re:bin

Bump org-msg
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: Expand frame to minimum size on header view
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Restyle org-msg, with the odd config tweak
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Use Gnus HTML rendering
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Set header fields to opinionated set
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: add function for filing email to agenda
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Reduce unnecessary mu action masking by evil
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Fancify headers
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Revamp the header view icons
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Feature gate org-msg package
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: Fix misplaced close paren
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Oh, there's an autoload file I can use?
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Use unicode to prettify the main view
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: try to be pick a good account to send from
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Improve reply face colouring
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Make the delete action trash for gmail
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: add xwidget view option when available
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Readme, note use of mu4e-alert
  modules/email/mu4e/README.org
Labels: re:bin

Mu4e: add some basic doctor checks
  modules/email/mu4e/doctor.el
Labels: re:bin, re:bin/doom:doctor

Mu4e: enforce consistent naming scheme, "+" prefix
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: org-msg, tweak line width and spacing
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: have =mu4e replace an empty workspace
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: org-msg join lines to para (as normal)
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: add missing header colourising function
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Tidy and tweak default settings
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: improve LaTeX fragment size check
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: tweak flag bookmark, keymap, mu4e:main end
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: further improve org-msg
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: alerts (first pass)
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: re:packages, re:bin

Mu4e: make "gmail in email adr" condition stricter
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Tidy up org-msg use-package statement
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: rename my-mu4e-* function to +mu4e-*
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Add nuance to Gmail-specific behaviour
  modules/email/mu4e/README.org
  modules/email/mu4e/config.el
Labels: re:bin

Mu4e: Reference @tecosaur's goimapnotify use
  modules/email/mu4e/README.org
Labels: re:bin

Mu4e: Readme, improve features/config content
  modules/email/mu4e/README.org
Labels: re:bin

Mu4e: Refactor install instructions into table
  modules/email/mu4e/README.org
Labels: re:bin

Mu4e: correct misspelling
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Factor out f dependency
  modules/email/mu4e/autoload/email.el
Labels: re:bin

Mu4e: Leave org-msg's salutation to the user
  modules/email/mu4e/config.el
Labels: re:bin
