Repository doomemacs/doomemacs, changes with the labels that .github/labeler.yml gives for each.
All labels: :core, :core lib, re:packages, re:bin, re:bin/doom, re:bin/doom:doctor, re:bin/doom:env

.github/labeler.yml:

# For workflows/labeler.yml

"re:docs": '*.+(md|org)'

":core":       ['core/*.el', 'docs/*']
":core lib":   'core/autoload/**/*.el'
"re:packages": '**/packages.el'

"re:bin":             ['bin/**/*', '!bin/doom']
"re:bin/doom":        ['core/core-cli.el', 'core/cli/*', 'bin/doom']
"re:bin/doom:doctor": '**/doctor.el'
"re:bin/doom:env":    'core/cli/env.el'


# TODO automate generation of labels for modules

Revise PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: re:bin

[:lang racket] Fix typos
  modules/lang/racket/README.org
Labels: re:bin

[:lang racket] Mention Arch packages
  modules/lang/racket/README.org
Labels: re:bin

Minor clarification in issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: re:bin

Fix #5035: assocate *.beancount with beancount-mode
  modules/lang/beancount/config.el
Labels: re:bin

lang/beancount: fix beancount-mode+lsp support
  modules/lang/beancount/config.el
Labels: re:bin

Fix #5030: leave rustfmt to :editor format
  modules/editor/format/config.el
  modules/lang/rust/config.el
Labels: re:bin

Fix +vterm-toggle not changing directory to project root
  modules/term/vterm/autoload.el
Labels: re:bin

lang/beancount: add beancount-langserver support
  modules/lang/beancount/config.el
Labels: re:bin

Refactor +vterm/toggle and +vterm/here
  modules/term/vterm/autoload.el
Labels: re:bin

Fix #4995: adapt to more renamed comp-* symbols
  core/cli/autoloads.el
  core/core.el
  early-init.el
Labels: :core, re:bin, re:bin/doom

Fix #5038: renamed comp variables in sandbox loader
  core/autoload/sandbox.el
Labels: :core lib, re:bin

Fix #5038: Error on Emacs/sandbox startup
  core/core.el
Labels: :core, re:bin

editor/parinfer: refactor
  modules/editor/parinfer/config.el
Labels: re:bin

Fix #5038: sandbox redefining comp var aliases
  core/autoload/sandbox.el
  core/core.el
Labels: :core, :core lib, re:bin

Don't invoke company on TAB if company-mode isn't active
  modules/config/default/+evil-bindings.el
Labels: re:bin

Disable company-mode in vterm-mode
  modules/completion/company/config.el
Labels: re:bin

Fix org-tree-slide-after-narrow-hook reference
  modules/lang/org/contrib/present.el
Labels: re:bin

Make native-comp-* aliases more robust
  core/core.el
Labels: :core, re:bin

Fix reference to comp-deferred-compilation-deny-list
  core/cli/packages.el
Labels: re:packages, re:bin, re:bin/doom

Fix bin/doom compile error introduced by e2a11d24fd4ea
  core/cli/byte-compile.el
Labels: re:bin, re:bin/doom

Alias native-comp-* on any Emacs 28+ build
  core/core.el
Labels: :core, re:bin

Refactor comp-effective-async-max-jobs advice
  core/autoload/system.el
  core/core-cli.el
  core/core.el
Labels: :core, :core lib, re:bin, re:bin/doom

Fix #4577: WS not at BOL is deleted to tab columns
  modules/config/default/autoload/text.el
Labels: re:bin

fix typo in how to set custom elfeed.org
  modules/app/rss/README.org
Labels: re:bin

change from list to ' form
  modules/app/rss/README.org
Labels: re:bin

Fix wrong column being used and resulting bugs
  modules/config/default/autoload/text.el
Labels: re:bin

Simplify (% current-column tab-width) code
  modules/config/default/autoload/text.el
Labels: re:bin

unicode-chars-list-chars -> insert-char
  modules/completion/ivy/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:bin

fix: rebase readme too combine lsp settings
  modules/ui/treemacs/README.org
Labels: re:bin

doc:finish Sections of the README (now with +lsp!)
  modules/ui/treemacs/README.org
Labels: re:bin

fix: punctuation and wording.
  modules/ui/treemacs/README.org
Labels: re:bin

Revert "fix: punctuation and wording."
  modules/ui/treemacs/README.org
Labels: re:bin

Revert "Revert "fix: punctuation and wording.""
  modules/ui/treemacs/README.org
Labels: re:bin

fix regex in lsp-file-watch-ignored-directories in elixir module
  modules/lang/elixir/config.el
Labels: re:bin

Bump :tools debugger lsp
  core/packages.el
  modules/tools/debugger/packages.el
  modules/tools/lsp/packages.el
Labels: :core, re:packages, re:bin

Fix labeler action config
  .github/workflows/labeler.yml
Labels: re:bin

bin/org-capture: fix hanging
  bin/org-capture
Labels: re:bin

ui/treemacs: restore old h/l behavior
  modules/ui/treemacs/config.el
Labels: re:bin

Add popup rule for *envrc* error buffers
  modules/tools/direnv/config.el
Labels: re:bin
