Repository doomemacs/doomemacs, pull requests merged in 2019-10, with the labels that each got.

#1851 Add openSUSE prerequisite instructions
  modules/completion/ivy/README.org
  modules/email/mu4e/README.org
  modules/lang/cc/README.org
  modules/lang/elixir/README.org
  modules/lang/go/README.org
  modules/lang/haskell/README.org
  modules/lang/javascript/README.org
  modules/lang/nim/README.org
  modules/lang/php/README.org
Labels: module:completion:ivy, re:docs

#1850 Update documentation of recognized latex viewers
  modules/lang/latex/README.org
  modules/lang/latex/config.el
Labels: is:update, module:lang:latex, re:docs

#1847 lang/scala: replace ensime with metals
  modules/lang/scala/config.el
  modules/lang/scala/doctor.el
  modules/lang/scala/packages.el
Labels: is:update, module:lang:scala, module:tools:lsp

#1844 ADD modules/lang/python/README.org
  modules/lang/python/README.org
Labels: module:lang:python, re:docs

#1840 Add doom-solarized-dark to +doom-solaire-themes
  modules/ui/doom/config.el
Labels: is:update, module:ui:doom, re:themes

#1845 Api demos
  core/core-keybinds.el
  core/core-lib.el
  core/core-modules.el
  docs/api.org
Labels: module:core-lib, re:docs

#1835 Add missing conditionals for flymake/flycheck bindings
  modules/config/default/+evil-bindings.el
Labels: is:feature, module:config:default, module:tools:flycheck, re:keybinds

#1734 Fix/add add featurep condition to global keybindings
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: module:config:default, re:keybinds

#1592 Add pipenv keybindings for python module
  modules/lang/python/config.el
Labels: is:feature, module:lang:python, re:keybinds

#1853 Correct a requirement in README.org
  modules/lang/python/README.org
Labels: is:bug, module:lang:python, re:docs

#1729 ox-hugo for (:lang org)
  init.example.el
  modules/lang/org/README.org
  modules/lang/org/config.el
  modules/lang/org/contrib/+hugo.el
  modules/lang/org/packages.el
Labels: is:feature, module:lang:org

#1815 Set python version from .python-version file
  modules/lang/python/autoload/pyenv.el
  modules/lang/python/config.el
Labels: is:feature, module:lang:python

#1820 Add god-mode module
  init.example.el
  modules/README.org
  modules/editor/god/autoload/god.el
  modules/editor/god/config.el
  modules/editor/god/doctor.el
  modules/editor/god/packages.el
Labels: is:feature, re:keybinds, re:modules

#1842 [WIP] Experimental fixes for undo-tree
  core/core-editor.el
  core/packages.el
Labels: is:bug, module:core, re:plugins

#1860 Fixed a couple typos in READMEs
  modules/editor/lispy/README.org
  modules/lang/cc/README.org
Labels: is:minor, module:editor:lispy, module:lang:cc, re:docs

#1873 [debugger] Check if evil-emacs-state-local-map is bound
  modules/tools/debugger/config.el
Labels: is:bug, module:tools:debugger

#1868 Reformats ui/doom/README.org to match __doom-readme template
  modules/ui/doom/README.org
Labels: is:update, module:ui:doom, re:docs

#1866 Update Commands & Keybindings in Workspaces README
  modules/ui/workspaces/README.org
Labels: is:update, module:ui:workspaces, re:docs

#1865 Add keybindings for org-html-export
  modules/lang/org/config.el
Labels: is:feature, module:lang:org, re:keybinds

#1867 added company-files support for file links in org mode
  modules/completion/company/config.el
Labels: is:feature, module:completion:company, module:lang:org

#1877 Fixes comments for M and I in +emacs-bindings.el
  modules/config/default/+emacs-bindings.el
Labels: is:minor, module:config:default, re:keybinds

#1890 re-search-forward to search-forward when no re
  bin/doom-doctor
  core/autoload/debug.el
  core/autoload/help.el
  core/autoload/packages.el
Labels: is:refactor, re:performance

#1889 Fix uses of projectile-locate-dominating-file
  core/core-projects.el
Labels: is:bug, module:core

#1888 Remove detection for .merlin files
  modules/lang/ocaml/config.el
Labels: is:refactor, module:lang:ocaml

#1878 Adds README for app:twitter
  modules/app/twitter/README.org
Labels: is:feature, module:app:twitter, re:docs

#1885 Adds README for lang:ledger
  modules/lang/ledger/README.org
Labels: is:feature, module:lang:ledger, re:docs

#1891 Add GitHub actions
  .github/workflows/test.yml
  .travis.yml
  README.md
Labels: is:refactor, re:docs, re:project

#1898 Add faust module
  init.example.el
  modules/README.org
  modules/lang/faust/README.org
  modules/lang/faust/autoload.el
  modules/lang/faust/config.el
  modules/lang/faust/doctor.el
  modules/lang/faust/packages.el
Labels: is:feature, re:modules

#1894 Fix tuareg-find-alternate-file binding
  modules/lang/ocaml/config.el
Labels: is:bug, module:lang:ocaml, re:keybinds

#1880 Add support for org-pomodoro
  init.example.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/README.org
  modules/lang/org/config.el
  modules/lang/org/contrib/pomodoro.el
  modules/lang/org/packages.el
Labels: is:feature, module:lang:org

#1911 lang/latex: fix setting variables #1910.
  modules/lang/latex/config.el
Labels: is:bug, module:lang:latex

#1907 lang/clojure: start clojurescript repl correctly
  modules/lang/clojure/autoload.el
Labels: is:bug, module:lang:clojure

#1904 Add: evil bindings for 2 evil-mc functions
  modules/config/default/+evil-bindings.el
  modules/editor/multiple-cursors/config.el
Labels: is:feature, module:config:default, module:editor:evil, re:keybinds

#1902 Improve +word-wrap in non-code buffers
  modules/editor/word-wrap/README.org
  modules/editor/word-wrap/autoload.el
  modules/editor/word-wrap/config.el
Labels: is:feature, module:editor:word-wrap

#1892 Add syntax highlighting to ielm buffers
  modules/lang/emacs-lisp/config.el
Labels: is:feature, module:lang:emacs-lisp

#1903 Add cython-specific flag and packages
  modules/lang/python/README.org
  modules/lang/python/config.el
  modules/lang/python/packages.el
Labels: is:feature, module:lang:python

#1913 lang/latex: fix loading style files #1910.
  modules/lang/latex/config.el
Labels: is:bug, is:update, module:lang:latex

#1916 Rename ivy-dispatching-done{-hydra,}
  modules/completion/ivy/config.el
Labels: is:update, module:completion:ivy

#1917 Add grip-mode for live markdown previews
  modules/lang/markdown/README.org
  modules/lang/markdown/config.el
  modules/lang/markdown/doctor.el
  modules/lang/markdown/packages.el
Labels: is:feature, module:lang:markdown, re:packages

#1920 [coq] disable electric proof terminators
  modules/lang/coq/config.el
Labels: is:refactor, module:lang:coq

#1919 Update PragmataPro Ligatures
  modules/ui/pretty-code/+pragmata-pro.el
Labels: is:update, module:ui:pretty-code, re:fonts

#1918 Add some bindings to mu4e-compose-mode
  modules/email/mu4e/config.el
Labels: is:feature, module:email :mu4e, re:keybinds

#1924 Restore save file binding on SPC f s
  modules/config/default/+evil-bindings.el
Labels: is:bug, module:config:default, re:keybinds

#1921 Add some bindings for apropos and info-mode
  modules/config/default/+evil-bindings.el
Labels: is:feature, module:config:default, re:keybinds

#1932 Add support for go-gen-test for go-mode
  modules/lang/go/README.org
  modules/lang/go/config.el
  modules/lang/go/doctor.el
  modules/lang/go/packages.el
Labels: is:feature, module:lang:go

#1933 autoload company-pcomplete-available
  modules/term/eshell/autoload/company.el
Labels: is:bug, module:emacs:eshell

#1936 lang/latex: fix rainbow-delimiters-mode
  modules/lang/latex/config.el
Labels: is:bug, module:lang:latex

#1938 Turn on dired-dwim-target
  modules/emacs/dired/config.el
Labels: is:feature, module:emacs:dired

#1939 [ocaml] disable more features with lsp
  modules/lang/ocaml/packages.el
Labels: is:refactor, module:lang:ocaml, module:tools:lsp

#1940 Add comment to search loaded .el files
  core/autoload/help.el
Labels: is:feature

#1948 ui/modeline: fix ligature advice for hlissner#1216
  modules/ui/modeline/config.el
Labels: is:bug, module:ui:modeline

#1953 [org +gnuplot] Warn if gnuplot is not installed
  modules/lang/org/doctor.el
Labels: :lang org, is:new, re:bin/doom:doctor

#1954 Fix paths in the FAQ
  docs/faq.org
Labels: is:minor, re:docs

#1955 Add an FAQ action to doom-dashboard
  modules/ui/doom-dashboard/config.el
Labels: :ui doom-dashboard, is:update

#1958 Add pyim package to :input chinese
  modules/input/chinese/packages.el
Labels: :input chinese, is:bug

#1950 Improvements to notmuch module
  modules/email/notmuch/autoload.el
  modules/email/notmuch/config.el
Labels: :email notmuch, is:bug, is:new

#1964 configure faust company backends
  modules/lang/faust/config.el
Labels: :completion company, :lang faust, is:new

#1963 add confirmation message after loading a session from file
  core/autoload/sessions.el
Labels: :core lib, is:ux

#1967 doc - fix instruction on removing +org-cycle-only-current-subtree-h
  modules/lang/org/README.org
Labels: :lang org, is:update, re:docs

#1972 [popup] ignore send mail buffers
  modules/ui/popup/config.el
Labels: :ui popup, is:bug

#1977 lang/ruby: auto enter inf-ruby when breakpoint detected
  modules/lang/ruby/config.el
Labels: :lang ruby, is:new

#1979 [FEATURE] Add :ui hydra README
  modules/ui/hydra/README.org
Labels: :ui hydra, is:new, re:docs, re:keybinds
