Repository doomemacs/doomemacs, pull requests merged in 2019-06, with the labels that each got.

#1446 Replace kill-this-buffer with kill-current-buffer
  core/autoload/buffers.el
  core/autoload/debug.el
  core/autoload/files.el
  core/autoload/ui.el
  core/core-ui.el
  modules/app/regex/autoload/regex.el
  modules/config/default/+evil-bindings.el
  modules/editor/evil/+commands.el
  modules/editor/evil/+everywhere.el
  modules/lang/ess/config.el
  modules/term/eshell/autoload/eshell.el
  modules/tools/magit/config.el
  modules/tools/pdf/config.el
  modules/ui/tabbar/config.el
Labels: is:refactor

#1448 objed: add a manual activation flag
  modules/config/default/+emacs-bindings.el
  modules/editor/objed/README.org
  modules/editor/objed/config.el
Labels: is:feature, module:editor:objed

#1449 projectile: fd never use colors
  core/core-projects.el
Labels: is:bug, module:core

#1459 Fix magit-clone error
  modules/tools/magit/autoload.el
Labels: is:update, module:tools:magit

#1461 completion/ivy: ivy-posframe upstream update
  modules/completion/ivy/config.el
Labels: is:update, module:completion:ivy

#1460 Posix compliance
  bin/doom
  bin/doom-doctor
  bin/org-capture
  bin/org-tangle
Labels: is:refactor, re:bin/doom, re:bin/doom-doctor

#1476 fix shebang
  bin/doom
  bin/doom-doctor
  bin/org-capture
  bin/org-tangle
  core/cli/patch-macos.el
Labels: is:refactor, re:bin/doom, re:bin/doom-doctor

#1477 fix: format-all upstream definitions
  modules/editor/format/autoload/format.el
  modules/editor/format/autoload/settings.el
  modules/editor/format/config.el
  modules/editor/format/test/test-format.el
Labels: is:update, module:editor:format

#1488 Correct documentation of env_var file
  core/cli/env.el
Labels: is:tweak, module:core

#1496 use default `nix-indent-function`
  modules/lang/nix/config.el
Labels: is:update, module:lang:nix

#1505 fix: file not found in autoload
  modules/emacs/vc/autoload/vc.el
Labels: is:bug, module:emacs:vc

#1517 Wrap :on-load for +lua-love-mode in a progn
  modules/lang/lua/config.el
Labels: is:bug, module:lang:lua

#1518 Remove lsp-scala, as lsp-metals is bundled in lsp-mode
  modules/lang/scala/config.el
  modules/lang/scala/packages.el
Labels: is:update, module:lang:scala
