Repository doomemacs/doomemacs, pull requests merged in 2019-07, with the labels that each got.

#1464 Rust readme
  modules/lang/rust/README.org
Labels: is:update, module:lang:rust, re:docs

#1529 lang/go: prioritize lsp over guru
  modules/lang/go/config.el
Labels: is:bug, module:lang:go, module:tools:lookup

#1537 use keybindings from cargo mode
  modules/lang/rust/README.org
  modules/lang/rust/autoload.el
  modules/lang/rust/config.el
  modules/lang/rust/packages.el
Labels: is:refactor, module:lang:rust

#1540 Add LSP support for F# lang module
  modules/lang/fsharp/README.org
  modules/lang/fsharp/config.el
Labels: is:feature, module:lang:fsharp

#1570 ansible: fix upstream changing function names
  modules/tools/ansible/config.el
Labels: is:update, module:tools:ansible

#1588 Add scheme module
  init.example.el
  modules/lang/scheme/README.org
  modules/lang/scheme/autoload.el
  modules/lang/scheme/config.el
  modules/lang/scheme/packages.el
Labels: is:feature, re:modules

#1594 Fix quoting of command in λ!!
  core/core-lib.el
Labels: is:bug, module:core-lib

#1597 tools/lsp: cache company candidates automagically
  modules/tools/lsp/config.el
Labels: is:bug, module:tools:lsp

#1601 Add support for Elixir LSP via elixir-ls
  modules/lang/elixir/config.el
  modules/tools/lsp/README.org
Labels: is:feature, module:lang:elixir, module:tools:lsp

#1576 Add NixOS example
  modules/email/mu4e/README.org
Labels: is:refactor, module:email :mu4e, re:docs

#1599 lang/racket: set lookup handler to find definition
  modules/lang/racket/config.el
Labels: is:feature, module:lang:racket

#1602 Adding lsp-python-ms with patch so it doesn't force itself to be installed
  modules/lang/python/config.el
  modules/lang/python/packages.el
Labels: is:feature, module:lang:python, module:tools:lsp

#1578 Remove flycheck-rust since it is no longer used.
  modules/lang/rust/packages.el
Labels: is:update, module:lang:rust, re:plugins

#1510 Add README for lang/elixir
  modules/lang/elixir/README.org
Labels: module:lang:elixir, re:docs

#1604 Uniquify completion candidates of whole lines
  modules/completion/company/autoload.el
Labels: is:bug, module:completion:company

#1603 Update list of lang/python considered conda homes
  modules/lang/python/config.el
Labels: is:update, module:lang:python

#1580 lang/racket: Fix smart open bracket insertion
  modules/lang/racket/config.el
Labels: is:update, module:lang:racket, re:keybinds

#1609 Fix :fetcher warning to include package name
  core/core-packages.el
Labels: is:bug, module:core

#1608 lang/org: Package orgit if magit is enabled
  modules/lang/org/packages.el
Labels: is:feature, module:lang:org, module:tools:magit

#1612 rebind "\"" to cider-jack-in-cljs
  modules/lang/clojure/config.el
Labels: is:update, module:lang:clojure, re:keybinds

#1611 Use +pretty-code-iosevka-font-name on complete set
  modules/ui/pretty-code/+iosevka.el
Labels: is:bug, module:ui:pretty-code

#1613 lang/racket: Fix bug in configuration
  modules/lang/racket/config.el
Labels: is:bug, module:lang:racket

#1591 Add more cider functions to the clojure keymap
  modules/lang/clojure/config.el
Labels: module:lang:clojure, re:keybinds
