Repository doomemacs/doomemacs, pull requests merged in 2019-05, with the labels that each got.

#1381 Add protobuf package to data module
  modules/lang/data/packages.el
Labels: is:request, module:lang:data

#1379 One dot in wrong place
  modules/ui/popup/README.org
Labels: is:refactor, module:ui:popup, re:docs

#1382 readme: Fix broken URL references
  README.md
Labels: re:docs

#1383 docs: Fix minor inconsistencies
  README.md
  modules/lang/org/autoload/tables.el
Labels: re:docs

#1355 add doctor.el for shell and update readme
  modules/lang/sh/README.org
  modules/lang/sh/doctor.el
  modules/lang/sh/packages.el
Labels: is:refactor, module:lang:sh, re:docs

#1392 Add localleader bindings to org-agenda
  modules/lang/org/config.el
Labels: is:request, module:lang:org, re:keybinds

#1398 Fix snarky ruby in example init.example.el
  init.example.el
Labels: is:refactor

#1395 Use treemacs-magit package
  modules/ui/treemacs/config.el
  modules/ui/treemacs/packages.el
Labels: is:request, module:tools:magit, module:ui:treemacs

#1400 Enable `better-jumper-mode` when loaded
  core/core-editor.el
Labels: is:update, module:core

#1377 Add a draft for docker module documentation
  modules/tools/docker/README.org
Labels: module:tools:docker, re:docs

#1405 fix command to set tags
  modules/lang/org/config.el
Labels: is:bug, module:lang:org, re:keybinds

#1408 Fix ivy-switch-buffer virtual buffer support
  modules/completion/ivy/autoload/ivy.el
Labels: is:bug, is:update, module:completion:ivy

#1426 Fix sh comment alignment and snark in init.example.el
  init.example.el
Labels: is:minor

#1427 fix spelling
  modules/lang/markdown/README.org
Labels: is:minor, module:lang:markdown, re:docs

#1429 Fix rss typo in example config
  init.example.el
Labels: is:minor

#1434 add option to run only one function
  modules/lang/python/config.el
Labels: is:feature, module:lang:python, re:keybinds

#1416 Added pyimport support
  modules/lang/python/config.el
  modules/lang/python/packages.el
Labels: is:feature, module:lang:python

#1327 [WIP] Implement fsharp :lang module
  init.example.el
  modules/lang/fsharp/README.org
  modules/lang/fsharp/config.el
  modules/lang/fsharp/doctor.el
  modules/lang/fsharp/packages.el
Labels: is:feature, module:lang:fsharp, re:modules

#1410 Add +prescient option for :completion ivy
  modules/completion/company/config.el
  modules/completion/ivy/README.org
  modules/completion/ivy/config.el
  modules/completion/ivy/packages.el
Labels: is:feature, module:completion:ivy

#1445 magit-todos 1.2 removed magit-todos-require-colon
  modules/tools/magit/config.el
Labels: is:update, module:tools:magit

#1341 Add :editor objed module
  init.example.el
  modules/editor/objed/README.org
  modules/editor/objed/config.el
  modules/editor/objed/packages.el
  modules/ui/modeline/config.el
Labels: is:feature, re:keybinds, re:modules

#1201 Added example of how to activate +ein-hydra
  modules/tools/ein/README.org
Labels: is:refactor, module:tools:ein, re:docs
