Repository doomemacs/doomemacs, pull requests merged in 2019-09, with the labels that each got.

#1742 Call renamed hook in the +cc/reload-compile-db autoload
  modules/lang/cc/autoload.el
Labels: is:bug, module:lang:cc

#1735 cli/upgrade: add timeout flag
  core/cli/upgrade.el
Labels: is:feature, re:bin/doom

#1731 Use straight for agda
  modules/lang/agda/config.el
  modules/lang/agda/doctor.el
  modules/lang/agda/packages.el
Labels: is:refactor, module:lang:agda

#1732 lang/org: smarter smartparens in org src blocks
  modules/lang/org/config.el
Labels: is:bug, module:lang:org

#1726 Fix defadvice bug of Chinese and Japanese org-html-paragraph
  modules/input/chinese/config.el
  modules/input/japanese/config.el
Labels: is:bug, module:input:chinese, module:input:japanese

#1711 emacs/dired: use diff-hl instead of dired-k
  modules/emacs/dired/config.el
  modules/emacs/dired/packages.el
Labels: is:refactor, module:emacs:dired

#1756 Fix wiki for agda
  modules/lang/agda/README.org
Labels: is:update, module:lang:agda, re:docs

#1716 Add ln to +sh-builtin-keywords
  modules/lang/sh/config.el
Labels: is:feature, is:refactor, module:lang:sh

#1622 Fix +go/test-rerun
  modules/lang/go/autoload.el
Labels: is:feature, module:lang:go

#1571 bindings: fix emacs bindings and add more
  modules/config/default/+emacs-bindings.el
  modules/term/eshell/config.el
Labels: module:config:default, re:keybinds

#1748 Add go-add-tags for go-mode
  modules/lang/go/README.org
  modules/lang/go/config.el
  modules/lang/go/packages.el
Labels: is:feature, module:lang:go

#1746 Fixed an issue where the code was executed with '@start' in org-src-block:plantuml; and automatic add ":cmdline -charset utf-8" param
  modules/lang/plantuml/config.el
Labels: is:bug, module:lang:org, module:lang:plantuml

#1760 Fix a regexp bug of (defadvice! +plantuml--fix-atstart-in-org-src-blocks-a ...)
  modules/lang/plantuml/config.el
Labels: is:bug, module:lang:plantuml

#1761 Add coq key bindings
  modules/lang/coq/config.el
Labels: is:feature, module:lang:coq, re:keybinds

#1759 Add a module for the lean theorem prover
  init.example.el
  modules/lang/lean/config.el
  modules/lang/lean/packages.el
Labels: is:feature, re:modules

#1784 Fix the multi-face form of custom-set-faces!
  core/autoload/themes.el
Labels: is:bug, module:core-lib

#1786 Fixes wrong variable name: lv-use-seperator to lv-use-separator
  modules/ui/hydra/config.el
Labels: is:bug, module:core

#1785 Add support for org-journal
  modules/config/default/+evil-bindings.el
  modules/lang/org/contrib/journal.el
  modules/lang/org/packages.el
Labels: is:feature, module:config:default, module:lang:org

#1804 Fix package-installed-p hack for rustic
  modules/lang/rust/config.el
Labels: is:bug, module:lang:rust

#1805 Add .svelte to web-mode
  modules/lang/web/+html.el
Labels: is:feature, module:lang:web

#1810 Use mdfind for counsel-locate on a Mac
  modules/completion/ivy/config.el
Labels: is:feature, module:completion:ivy, re:macos

#1811 cli: fix wrong argument and add docs
  core/cli/upgrade.el
Labels: is:bug, re:bin/doom

#1813 Set locate-command in tools macos
  modules/tools/macos/autoload.el
Labels: is:feature, module:tools:macos, re:macos

#1825 lang/latex: +pdf-viewers ordering and hook type-o
  modules/lang/latex/+viewers.el
Labels: is:bug, module:lang:latex

#1830 lang/plantuml: fix jar download path (again)
  modules/lang/plantuml/autoload.el
Labels: is:update, module:lang:plantuml

#1832 Fix install command for clippy, uses rustup
  modules/lang/rust/README.org
Labels: is:update, module:lang:rust, re:docs

#1829 doom/core: avoid the litter of session.* files
  core/core.el
Labels: is:bug, module:core

#1794 [emacs lisp] Add bindings for debugging defuns
  modules/lang/emacs-lisp/autoload.el
  modules/lang/emacs-lisp/config.el
Labels: is:feature, module:lang:emacs-lisp, re:keybinds

#1727 Load hydra examples without using example hydras.
  modules/ui/hydra/config.el
Labels: is:bug, is:feature, module:ui:hydra

#1741 Add helm-org (bound but not installed).
  modules/lang/org/config.el
  modules/lang/org/packages.el
Labels: is:feature, module:completion:helm, module:lang:org
