Repository doomemacs/doomemacs, pull requests merged in 2019-04, with the labels that each got.

#1302 Use variable for `fd-find` binary name
  core/core-projects.el
  core/doctor.el
Labels: is:request, module:core

#1300 Add vterm-mode to evil-escape-excluded-major-modes
  modules/feature/evil/config.el
Labels: is:bug, module:feature:evil, module:tools:vterm

#1299 Escape key regexps when building which-key leader prefix
  core/core-keybinds.el
Labels: is:bug, module:core, re:keybinds

#1288 Fix common-lisp local leader prefix labels
  modules/lang/common-lisp/autoload/hydras.el
  modules/lang/common-lisp/config.el
Labels: is:request, module:lang:common-lisp, re:keybinds

#1294 Create calfw calendar with correct grid width
  modules/app/calendar/autoload.el
Labels: is:bug, module:app:calendar, module:ui:doom-dashboard

#1273 Choose which spell checker flyspell will use
  modules/tools/flyspell/config.el
Labels: is:refactor, module:tools:flyspell, re:system

#1287 Changed some wrong common-lisp bindings
  modules/lang/common-lisp/config.el
Labels: is:update, module:lang:common-lisp, re:keybinds

#1303 fix typo
  modules/lang/javascript/config.el
Labels: is:refactor

#1271 Add doom/kill-project-buffers command
  core/autoload/buffers.el
Labels: is:request, module:core

#1283 [WIP]Add Module for terralang
  init.example.el
  modules/lang/terra/autoload.el
  modules/lang/terra/config.el
  modules/lang/terra/packages.el
Labels: is:request, module:lang:terra, re:modules

#1050 fix: restore +ivy-buffer-icons config var
  modules/completion/ivy/config.el
Labels: is:request, module:completion:ivy

#1289 Add Kotlin module
  init.example.el
  modules/lang/kotlin/autoload.el
  modules/lang/kotlin/config.el
  modules/lang/kotlin/doctor.el
  modules/lang/kotlin/packages.el
Labels: is:request, re:modules

#1345 Update Go module README
  modules/lang/go/README.org
Labels: is:update, module:lang:go

#1336 Document company +tng flag
  modules/completion/company/README.org
Labels: module:completion:company, re:docs

#1344 Add documentation for JS module keymaps
  modules/lang/javascript/README.org
Labels: is:refactor, module:lang:javascript, re:docs

#1326 feat: org-habit
  init.example.el
  modules/lang/org/+habit.el
  modules/lang/org/config.el
Labels: is:request, module:lang:org, status:pending-reply

#1352 Add `agda2-next-goal` and `agda2-previous-goal`
  modules/lang/agda/config.el
Labels: is:request, module:lang:agda, re:keybinds

#1359 Set Clojure lookup handlers for specific minor modes to avoid overwriting
  modules/lang/clojure/config.el
Labels: is:bug, module:feature:lookup, module:lang:clojure

#1366 Fixes for ivy-switch-buffer icons
  modules/completion/ivy/autoload/ivy.el
  modules/completion/ivy/config.el
Labels: is:refactor, module:completion:ivy
