Repository doomemacs/doomemacs, pull requests merged in 2019-12, with the labels that each got.

#2126 Add evil-quick-diff
  modules/editor/evil/README.org
  modules/editor/evil/config.el
  modules/editor/evil/packages.el
Labels: :editor evil, is:new

#2127 Easier creation of named workspaces
  modules/config/default/+evil-bindings.el
  modules/ui/workspaces/autoload/workspaces.el
Labels: :ui workspaces, is:new

#2128 Fix typo
  modules/config/default/+evil-bindings.el
Labels: :config default, is:bug

#2131 Remove envvar setter in golangci-lint checker
  modules/lang/go/config.el
Labels: :lang go, is:bug

#2124 email/mu4e: fix refile target
  modules/email/mu4e/config.el
Labels: :email mu4e, is:bug

#2037 Add keybindings for commands that show keymaps
  modules/config/default/config.el
Labels: :config default, is:new, re:keybinds

#2133 Fix typos
  modules/config/default/config.el
  modules/editor/evil/autoload/ex.el
  modules/lang/haskell/+dante.el
  modules/lang/haskell/README.org
  modules/lang/org/README.org
  modules/ui/unicode/autoload.el
Labels: is:minor

#2129 Add factor module
  init.example.el
  modules/lang/factor/README.org
  modules/lang/factor/config.el
  modules/lang/factor/packages.el
Labels: :lang factor, is:new, re:modules

#2139 Fix typo
  docs/faq.org
Labels: is:minor

#2145 ui/popup: respect :select nil when reusing a window
  modules/ui/popup/autoload/popup.el
Labels: :ui popup, is:bug, is:refactor

#2055 lang/org: Bind org-agenda-show-and-scroll-up
  modules/lang/org/config.el
Labels: :lang org, is:new, re:keybinds

#2143 Popup rules for more builtin types
  modules/ui/popup/config.el
Labels: :ui popup, is:new

#2158 Fix interactive call of doom/narrow-buffer-indirectly
  core/autoload/ui.el
Labels: :core lib, is:update

#2123 email/mu4e: add featurep check for workspaces
  modules/email/mu4e/autoload/email.el
Labels: :email mu4e, :ui workspaces, is:bug

#2170 Use featurep! in mu4e/autoload/email.el
  modules/email/mu4e/autoload/email.el
Labels: :email mu4e, is:bug

#2168 add common paths to be ignored in most js projects
  modules/editor/file-templates/templates/gitignore-mode/__
Labels: :editor file-templates, is:new

#2166 More popup rules
  modules/lang/ocaml/config.el
  modules/lang/scheme/config.el
Labels: :lang ocaml, :lang scheme, :ui popup, is:new, re:interface

#2038 [WIP] add github-review
  modules/tools/magit/autoload.el
  modules/tools/magit/config.el
  modules/tools/magit/packages.el
Labels: :tools magit, is:new

#2176 vterm: adapt to new function signature
  modules/term/vterm/config.el
Labels: :term vterm, is:update

#2173 Changed to correct default location
  modules/tools/magit/config.el
Labels: :tools magit, is:bug

#2172 mu4e is only available from the AUR
  modules/email/mu4e/README.org
Labels: :email mu4e, is:new, re:docs, re:linux

#2191 Fix typo in elixir-mode link.
  modules/lang/elixir/README.org
Labels: :lang elixir, is:minor, re:docs

#2180 Add py-isort feature to the python module
  modules/lang/python/README.org
  modules/lang/python/autoload/python.el
  modules/lang/python/config.el
  modules/lang/python/packages.el
Labels: :lang python, is:new

#2196 Fix regex for detecting compilation buffer
  modules/ui/popup/config.el
Labels: :ui popup, is:bug

#2199 fix doc for enabling rust analyzer
  modules/lang/rust/README.org
Labels: :lang rust, :tools lsp, is:bug, re:docs

#2208 Fix #2177
  modules/ui/popup/autoload/popup.el
Labels: :ui popup, is:bug

#2210 lang/clojure: Update to cider-clojuredocs
  modules/lang/clojure/config.el
Labels: :lang clojure, is:update

#2209 fix: gruvbox theme with solaire-mode
  modules/ui/doom/config.el
Labels: :ui doom, is:bug, re:themes

#2205 Update plantuml doctor prescription
  modules/lang/plantuml/doctor.el
Labels: :lang plantuml, is:minor, re:bin/doom:doctor

#2162 Add lsp-ivy and helm-lsp when :tools lsp
  modules/config/default/+evil-bindings.el
  modules/tools/lsp/README.org
  modules/tools/lsp/config.el
  modules/tools/lsp/packages.el
Labels: :completion helm, :completion ivy, :config default, :tools lsp, is:new

#2226 docs/faq: add broken upstream pkg to common issues
  docs/faq.org
Labels: is:new, re:docs

#2232 Fix deprecated ESS variables
  modules/lang/ess/config.el
Labels: :lang ess, is:update

#2230 irc: turn off smartparens mode for circe buffers
  modules/app/irc/config.el
Labels: :app irc, :core, is:ux

#2229 bindings: add more sections to vanilla keys
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:new, is:update, re:keybinds

#2242 dap-mode: set extensions variable to doom-cache
  modules/tools/debugger/config.el
Labels: :tools debugger, is:bug

#2254 Set the directory for the Java LSP workspace
  modules/lang/java/+lsp.el
Labels: :lang java, :tools lsp, is:bug

#2247 Small typo fix
  docs/faq.org
Labels: is:minor, re:docs

#2244 Add dune-mode to lispy modes
  modules/editor/lispy/config.el
Labels: :editor lispy, :lang ocaml, is:new
