Repository doomemacs/doomemacs, pull requests merged in 2019-08, with the labels that each got.

#1639 lang/plantuml: change mirror for +plantuml/install
  modules/lang/plantuml/autoload.el
Labels: is:update, module:lang:plantuml

#1638 Correct argument name in `defadvice!' docstring
  core/core-lib.el
Labels: is:minor, module:core-lib, re:docs

#1620 tools/docker: Update README.org
  modules/tools/docker/README.org
Labels: is:refactor, module:tools:docker, re:docs

#1624 Update README.md
  README.md
Labels: is:minor, re:docs

#1645 Feature: Added support for jsonnet
  modules/lang/data/config.el
  modules/lang/data/packages.el
Labels: is:feature, module:lang:data

#1623 fix: bump languagetool jar search depth on macos
  modules/app/write/config.el
Labels: is:bug, module:app:write

#1619 Require straight.el in doom/reload-packages
  core/autoload/packages.el
Labels: is:bug

#1658 Sort python imports
  modules/lang/python/autoload/python.el
  modules/lang/python/config.el
  modules/lang/python/packages.el
Labels: is:feature, module:lang:python, re:keybinds

#1641 Fix evil-window "c" binding
  modules/config/default/+evil-bindings.el
Labels: is:bug, module:config:default, re:keybinds

#1614 Bindings for Clojure and Web modules
  modules/lang/clojure/config.el
  modules/lang/web/+html.el
Labels: is:refactor, module:lang:clojure, module:lang:web, re:keybinds

#1523 Add Hasklig pretty-code configuration
  modules/ui/pretty-code/+hasklig.el
  modules/ui/pretty-code/config.el
Labels: is:feature, module:ui:pretty-code, re:fonts

#1675 Add org-mode keybindings
  modules/lang/org/config.el
Labels: module:lang:org, re:keybinds

#1670 Added company-phpactor to packages
  modules/lang/php/packages.el
Labels: is:update, module:completion:company, module:lang:php

#1621 fix small spelling mistake in fonts.el
  core/autoload/fonts.el
Labels: is:minor, module:core-lib

#1671 use emacsmirror for cmake-mode and protobuf-mode
  modules/lang/cc/packages.el
  modules/lang/data/packages.el
Labels: module:lang:cc, module:lang:data, re:plugins

#1668 emacs/dired: add README.org
  modules/emacs/dired/README.org
Labels: module:emacs:dired, re:docs

#1677 :tools/debugger: Add rust binding for dap-lldb
  modules/tools/debugger/config.el
Labels: is:feature, module:lang:rust, module:tools:debugger

#1704 Fixing up csharp mode's keybinds (mostly unit-test ones)
  modules/lang/csharp/config.el
Labels: is:update, module:lang:csharp, re:keybinds
