Repository doomemacs/doomemacs, pull requests merged in 2020-09, with the labels that each got.

#3828 Docs: Fix typo: vterm-module.sh -> vterm-module.so
  modules/term/vterm/README.org
Labels: :term vterm, is:minor, re:docs

#3864 Upgrade tide, enable xref-tide-xref-backend
  modules/lang/javascript/config.el
  modules/lang/javascript/packages.el
Labels: :lang javascript, is:update

#3869 configure dired-aux variables
  modules/emacs/dired/config.el
Labels: :emacs dired, is:new, re:emacs:27

#3876 Allow :no-native-compile in package recipes
  core/core-packages.el
Labels: :core, is:new, re:packages

#3884 Bump :lang dart
  modules/lang/dart/packages.el
Labels: :lang dart, is:update

#3885 Fix typo Ivy README.org
  modules/completion/ivy/README.org
Labels: :completion ivy, is:minor, re:docs

#3892 Fix typo in nav-flash README
  modules/ui/nav-flash/README.org
Labels: :ui nav-flash, is:minor, re:docs
