Repository doomemacs/doomemacs, pull requests merged in 2020-02, with the labels that each got.

#2471 docs: update mu macos install cmd
  modules/email/mu4e/README.org
Labels: :email mu4e, is:update, re:docs

#2454 Improve solidity layer
  modules/lang/javascript/config.el
  modules/lang/solidity/config.el
Labels: :lang solidity, is:new

#2465 Add LSP support for ESS R
  docs/modules.org
  modules/lang/ess/README.org
  modules/lang/ess/config.el
Labels: :lang ess, :tools lsp, is:new

#2476 disable all-the-icons font install on windows
  core/cli/install.el
Labels: is:ux, re:bin/doom, re:install, re:windows

#2485 Bump to hlissner/doom-snippets@2781b782a3
  modules/editor/snippets/packages.el
Labels: :editor snippets, is:update, re:packages

#2466 Bump to Fuco1/smartparens@be8d5c9
  core/packages.el
Labels: :core, :lang rust, is:external

#2498 Fix typo: ffap-list -> ffap-alist
  modules/lang/cc/config.el
Labels: :lang cc, is:regression

#2508 Fix list passed as argument to executable-find
  modules/lang/ledger/config.el
Labels: :lang ledger, is:regression

#2504 add benchmark bindings (,tbs and ,tba)
  modules/lang/go/autoload.el
  modules/lang/go/config.el
Labels: :lang go, is:new, re:keybinds

#2503 Add LSP support for Dockerfile
  docs/modules.org
  modules/tools/docker/README.org
  modules/tools/docker/config.el
Labels: :tools docker, :tools lsp, is:new

#2501 Also look for 'fdfind' executable
  modules/completion/ivy/config.el
Labels: :completion ivy, :core, is:bug

#2473 Add fstar module
  docs/modules.org
  init.example.el
  modules/lang/fstar/README.org
  modules/lang/fstar/config.el
  modules/lang/fstar/packages.el
Labels: is:new, re:modules

#2462 Add persistent-soft to core/packages.el
  core/packages.el
Labels: :core, is:regression, re:packages

#2518 Make doom purge -g more effective
  core/cli/packages.el
Labels: is:new, re:bin/doom

#2514 use OPTARG to get key argument
  bin/org-capture
Labels: is:bug, re:bin/doom

#2512 evil: smerge hydra on `SPC g m`
  modules/config/default/+evil-bindings.el
Labels: :config default, :emacs vc, is:new, re:keybinds

#2500 Add cdlatex feature in LaTeX
  docs/modules.org
  modules/lang/latex/README.org
  modules/lang/latex/config.el
  modules/lang/latex/packages.el
Labels: :lang latex, is:new

#2495 Fix recenter after evil search
  modules/editor/evil/config.el
Labels: :editor evil, is:new, re:interface, status:pending-response

#2533 Bump lsp-mode
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:update, re:packages

#2527 Change org-re-reveal reveal.js root path to https://revealjs.com
  modules/lang/org/config.el
  modules/lang/org/contrib/present.el
Labels: :lang org, is:update

#2529 Enable flyspell in git-commit-mode
  modules/checkers/spell/config.el
Labels: :checkers syntax, :emacs vc, is:new

#2537 Fix `+file-template-p` to use `:when` keyword
  modules/editor/file-templates/config.el
Labels: :editor file-templates, is:bug

#2538 file-templates README: registering & overriding
  modules/editor/file-templates/README.org
Labels: :editor file-templates, is:new, re:docs

#2551 Fix documentation shortcut
  docs/index.org
Labels: is:bug, re:docs

#2557 Add install instructions for scoop emacs
  docs/getting_started.org
Labels: is:bug, re:docs, re:install, re:windows

#2555 bindings: correct description type-o
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:minor, re:keybinds, re:vanilla

#2553 Add LSP for Terraform
  modules/tools/terraform/config.el
Labels: :tools lsp, :tools terraform, is:new

#2562 Fix missing parenthesis in terraform config
  modules/tools/terraform/config.el
Labels: :tools terraform, is:regression

#2558 Update to latest lsp-mode, lsp-ui
  modules/tools/lsp/config.el
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:update

#2572 lang/ruby: Add detection for additional files
  modules/lang/ruby/config.el
Labels: :lang ruby, is:new

#2351 Correct behaviour of normal mode 'o' and 'O' in haskell-mode
  modules/lang/haskell/autoload.el
  modules/lang/haskell/config.el
Labels: :editor evil, :lang haskell, is:external

#2593 mdempsky doesnt work with modules, updating to stamblerre
  modules/lang/go/README.org
Labels: :lang go, is:update, re:docs

#2592 Construct org-id-locations-file using expand-file-name
  modules/lang/org/config.el
Labels: :lang org, is:bug

#2586 Conditionally enable racket-smart-open-bracket-mode
  modules/editor/evil/config.el
  modules/editor/parinfer/config.el
  modules/lang/racket/README.org
  modules/lang/racket/config.el
Labels: :lang racket, is:new

#2585 VTerm remembers insert point when leaving normal mode
  modules/term/vterm/autoload.el
  modules/term/vterm/config.el
Labels: :term vterm, is:new

#2582 completion/ivy: sort projectile files with prescient
  modules/completion/ivy/config.el
Labels: :completion ivy, is:bug

#2580 Change clojure linter to clj-kondo
  modules/lang/clojure/config.el
  modules/lang/clojure/packages.el
Labels: :checkers syntax, :lang clojure, is:new

#2437 lang/python: add additional checks
  modules/lang/python/doctor.el
Labels: :lang python, is:new, re:bin/doom:doctor

#2598 Fix syntax error in Clojure module
  modules/lang/clojure/config.el
Labels: :lang clojure, is:regression

#2603 add `open-in-iterm` shortcut for macos module
  modules/tools/macos/autoload.el
Labels: :tools macos, is:new, re:macos

#2594 Integrate evil-lion into evil-mode
  modules/editor/evil/README.org
  modules/editor/evil/config.el
  modules/editor/evil/packages.el
Labels: :editor evil, is:new

#2614 Fix file template :when logic to apply to modes
  modules/editor/file-templates/config.el
Labels: :editor file-templates, is:bug

#2615 Set elisp lookups for helpful-mode
  modules/lang/emacs-lisp/config.el
Labels: :lang emacs-lisp, is:new

#2630 Use s-titleized-words (if defined) for title in org template
  modules/editor/file-templates/templates/org-mode/__
Labels: :editor file-templates, :lang org, is:new

#2628 Fix clojure link in modules.org
  docs/modules.org
Labels: is:bug, re:docs

#2624 Fix for the package-management link in README.
  docs/getting_started.org
Labels: is:bug, re:docs

#2619 Adjust org-capture popup rule to exclude capture.org filename
  modules/lang/org/config.el
Labels: :lang org, :ui popup, is:bug

#2590 Modernize lsp integration
  docs/modules.org
  modules/tools/lsp/README.org
  modules/tools/lsp/config.el
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:update, re:performance
