Repository doomemacs/doomemacs, pull requests merged in 2020-04, with the labels that each got.

#2838 Remove Ivy/helm-bibtex
  modules/lang/latex/+ref.el
  modules/lang/latex/README.org
  modules/lang/latex/config.el
  modules/lang/latex/packages.el
Labels: :completion helm, :completion ivy, :lang latex, is:new

#2829 Change projectile dirconfig file to .project
  core/core-projects.el
Labels: :core, is:bug, is:external, re:projects

#2824 fix: revert ranger version to fix paste over
  modules/emacs/dired/packages.el
Labels: :emacs dired, is:update

#2822 lang/org: pretty symbols for the old and new word case style
  modules/lang/org/config.el
  modules/ui/pretty-code/config.el
Labels: :lang org, :ui pretty-code, is:new

#2819 Enable treemacs workspace/persp support
  modules/ui/treemacs/autoload.el
  modules/ui/treemacs/config.el
  modules/ui/treemacs/packages.el
Labels: :ui treemacs, :ui workspaces, is:new

#2818 Add latex env support to editor/fold with hideshow
  modules/editor/fold/config.el
Labels: :editor fold, :lang latex, is:new

#2812 Add +fold flag to lang/latex for TeX-fold
  docs/modules.org
  modules/lang/latex/README.org
  modules/lang/latex/autoload.el
  modules/lang/latex/config.el
Labels: :lang latex, is:new

#2803 Make uuidgen consistent for org-id-new
  modules/lang/org/config.el
Labels: :lang org, is:bug, is:external

#2779 irc: only use the switch buffer logic during creation
  modules/app/irc/autoload/irc.el
Labels: :app irc, is:bug

#2738 Fix and improve ido module
  modules/completion/ido/config.el
  modules/completion/ido/packages.el
Labels: :completion ido, is:new

#2734 Add clipetty for TTY users.
  core/core-editor.el
  core/packages.el
Labels: :core, is:new, re:emacs:tty

#2853 Fix helm-xref when using Emacs 27+
  modules/tools/lookup/config.el
Labels: :completion helm, is:update, re:emacs:27

#2851 Fix install link
  docs/getting_started.org
Labels: is:minor, re:docs

#2845 Disable deft's buffer auto-save
  modules/ui/deft/config.el
Labels: :ui deft, is:bug

#2842 tools/lookup: fix synosaurus -> synosaurus-wordnet
  modules/tools/lookup/autoload/lookup.el
Labels: :tools lookup, is:bug

#2854 web: add +web-django-mode
  modules/lang/web/config.el
Labels: :lang web, is:new

#2856 Add +lsp to Julia and override some defaults in julia-repl
  docs/modules.org
  modules/lang/julia/README.org
  modules/lang/julia/config.el
Labels: :lang julia, :tools lsp, is:new

#2847 Load org-roam after org-mode
  modules/lang/org/contrib/roam.el
Labels: :lang org, is:bug

#2865 Update org-roam to fix errors
  modules/lang/org/packages.el
Labels: :lang org, is:update

#2877 Configure org-roam completion backend
  modules/lang/org/contrib/roam.el
Labels: :completion helm, :completion ido, :completion ivy, :lang org, is:new

#2876 editor/lispy: fix hook for lisp-mode
  modules/editor/lispy/config.el
Labels: :editor lispy, :lang common-lisp, is:bug

#2872 Clarify LaTeX prerequisites
  modules/lang/latex/README.org
Labels: :lang latex, is:bug, re:docs

#2871 Add KB for searching for symbol in project
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:new, re:keybinds, re:vanilla

#2867 bump jupyter
  modules/lang/org/packages.el
Labels: :lang org, is:update

#2873 Add helm-descbinds
  modules/completion/helm/config.el
  modules/completion/helm/packages.el
Labels: :completion helm, is:new, re:keybinds

#2896 Enable visual-line-mode in org-roam-backlinks buffer
  modules/lang/org/contrib/roam.el
Labels: :lang org, is:ux

#2895 Improve dart lang module
  modules/lang/dart/README.org
  modules/lang/dart/config.el
  modules/lang/dart/doctor.el
  modules/lang/dart/packages.el
Labels: :lang dart, :tools lsp, is:new

#2861 adding new biblio module
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
Labels: :tools bibtex, is:new, re:modules

#2906 Add set -euo pipefail to sh-mode file template
  modules/editor/file-templates/templates/sh-mode/__
Labels: :editor file-templates, is:new

#2898 Use default god-exempt-major-modes in :editor god module
  modules/editor/god/config.el
  modules/editor/god/packages.el
Labels: :editor god, is:update

#2885 Align org-roam emacs-bindings with evil-bindings
  modules/config/default/+emacs-bindings.el
Labels: :lang org, is:new, re:keybinds

#2908 Added details to the mu4e documentation.
  modules/email/mu4e/README.org
Labels: :email mu4e, is:new, re:docs

#2907 Bump helm-bibtex and ivy-bibtex
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
Labels: :tools biblio, is:new, is:update

#2916 Update hook to match rename from refactoring
  modules/lang/csharp/config.el
Labels: :lang csharp, is:regression

#2919 Autostart LSP also in scss-mode
  modules/lang/web/+css.el
Labels: :lang web, :tools lsp, is:new

#2924 Fix: contrib/journal: `buffer-file-name' is nil in *Capture* buffer
  modules/lang/org/contrib/journal.el
Labels: :lang org, is:regression

#2920 Autoload all 4 org decrypt/encrypt user commands
  modules/lang/org/config.el
Labels: :lang org, is:new

#2884 Add org-noter package
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/README.org
  modules/lang/org/config.el
  modules/lang/org/contrib/noter.el
  modules/lang/org/packages.el
Labels: :lang org, is:new

#2927 Make :ls/:buffers invoke ibuffer
  modules/editor/evil/+commands.el
Labels: :editor evil, :emacs ibuffer, is:new

#2929 Fix :last and :popup
  modules/editor/evil/+commands.el
Labels: :editor evil, :ui popup, is:regression, re:evil

#2915 Respect global whitespace mode config if set
  core/core-ui.el
Labels: :core, is:ux

#2933 Register org's DONE as fixed pitch in mixed-pitch
  modules/ui/zen/config.el
Labels: :lang org, :ui zen, is:bug, re:themes

#2948 Add full name to :cap
  modules/editor/evil/+commands.el
Labels: :editor evil, is:new

#2953 [dart] Update lsp-dart and flutter.el packages
  modules/lang/dart/packages.el
Labels: :lang dart, is:update, re:packages

#2961 tmux: Quoting shell arg in listing windows / panes
  modules/tools/tmux/autoload/tmux.el
Labels: :tools tmux, is:bug

#2947 Add useful defaults and bindings to scheme mode
  modules/lang/scheme/config.el
Labels: :lang scheme, is:new, re:keybinds

#2960 switching org-roam-completion to use 'default
  modules/lang/org/contrib/roam.el
Labels: :lang org, is:bug, is:external

#2925 doom/upgrade use -y CLI flag
  core/autoload/config.el
Labels: :core lib, is:ux

#2962 yaml: hook -> mode
  modules/lang/yaml/config.el
Labels: :lang yaml, is:bug

#2979 Critical bugfixes! Momentus edits of paramount importance crucial to …
  README.md
Labels: is:bug, is:minor, re:docs

#2970 Fix typo in key bindings
  modules/config/default/+evil-bindings.el
Labels: :config default, is:minor, is:regression, re:keybinds

#2957 mu4e: Adjust config to mu4e 1.4
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
Labels: :email mu4e, is:update

#2956 Add Poetry support
  docs/modules.org
  modules/lang/python/README.org
  modules/lang/python/config.el
  modules/lang/python/doctor.el
  modules/lang/python/packages.el
Labels: :lang python, is:new

#2743 Added +lsp to Tex-Mode.
  docs/modules.org
  modules/lang/latex/README.org
  modules/lang/latex/config.el
Labels: :lang latex, :tools lsp, is:new

#2980 Oooops, I did a boo-boo
  README.md
Labels: is:minor, re:docs

#2977 Add .jinja2 file extension to supported web files.
  modules/lang/web/+html.el
Labels: :lang web, is:new

#2983 Make rg --path-separator argument work under Windows
  modules/completion/ivy/config.el
Labels: :completion ivy, is:bug, re:windows

#2996 Add Rails Server and console to buffer list
  modules/lang/ruby/config.el
Labels: :lang ruby, is:new

#2994 Fix langtool config for Linux
  modules/checkers/grammar/config.el
Labels: :checkers grammar, is:bug

#2713 First draft for java documentation
  modules/lang/java/README.org
Labels: :lang java, is:new, re:docs, status:pending-followup

#3002 Remove `lsp-groovy-server-install-dir`
  modules/tools/lsp/config.el
Labels: :tools lsp, is:update

#3003 Improve ivy-rich with counsel-bookmark
  modules/completion/ivy/config.el
Labels: :completion ivy, is:new, is:ux

#3014 Bump :lang dart
  modules/lang/dart/packages.el
Labels: :lang dart, is:update

#2345 Use composite to call harfbuzz for ligatures
  modules/ui/pretty-code/README.org
  modules/ui/pretty-code/config.el
Labels: :ui pretty-code, is:new, is:ongoing, re:emacs:28+

#3015 Bump :tools debugger
  modules/tools/debugger/packages.el
Labels: :app calendar, :tools debugger, is:update
