Repository doomemacs/doomemacs, pull requests merged in 2020-08, with the labels that each got.

#3668 ui(tabs): use a smaller dot to show unsaved file status
  modules/ui/tabs/config.el
Labels: :ui tabs, is:new, re:interface

#3684 Fix Elisp file template header in doom-private-dir.
  modules/editor/file-templates/autoload.el
Labels: :editor file-templates, :lang emacs-lisp, is:bug

#3690 racket-mode: avoid using flycheck-disable-checker
  modules/lang/racket/config.el
Labels: :checkers syntax, :lang racket, is:bug

#3703 Fix deduplication in add-load-path!
  core/core-lib.el
Labels: :core lib, is:bug

#3725 Updates getting_started.org following the release of Emacs 27.1
  docs/getting_started.org
Labels: is:update, re:docs, re:install, re:macos

#3713 Update `org-gcal` repo link
  modules/app/calendar/README.org
Labels: :app calendar, is:update, re:docs

#3711 Enable native ligature support on emacs-28/mac
  modules/ui/pretty-code/config.el
Labels: :ui pretty-code, is:new, re:fonts, re:macos

#3708 Fix typo in new os/tty module readme
  modules/os/tty/README.org
Labels: :os tty, is:revision

#3706 Add evil-tex package to :lang latex
  modules/lang/latex/README.org
  modules/lang/latex/config.el
  modules/lang/latex/packages.el
Labels: :lang latex, is:new, re:evil

#3780 Configure dired-git-info variables
  modules/emacs/dired/config.el
Labels: :emacs dired, is:new

#3779 Add org-toggle-checkbox binding (SPC m x)
  modules/lang/org/config.el
Labels: :lang org, is:new, re:keybinds

#3778 Add projectile dired action in workspaces module
  modules/ui/workspaces/config.el
Labels: :completion ivy, :ui workspaces, is:new

#3776 Improve highlighting of Julia operators
  modules/lang/julia/config.el
Labels: :lang julia, is:bug

#3764 adding another trouble shooting step to make sure mu4e is loaded properly
  modules/email/mu4e/README.org
Labels: :email mu4e, is:revision, re:docs

#3756 Fix typo in `:ui hydra` module readme
  modules/ui/hydra/README.org
Labels: :ui hydra, is:revision, re:docs

#3754 Add support for bépo layout in a dedicated module
  init.example.el
  modules/input/layout/+bepo.el
  modules/input/layout/README.org
  modules/input/layout/autoload/bepo.el
  modules/input/layout/config.el
Labels: :input layout, is:new, re:keybinds, re:modules

#3793 Fix macos keybindings after refactor
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: :os macos, is:regression, re:keybinds

#3791 Pull lsp-pyright from melpa
  modules/lang/python/packages.el
Labels: :lang python, :tools lsp, is:update

#3786 ArchLinux packages now have 27.1 as default
  docs/getting_started.org
Labels: is:update, re:arch-linux, re:docs, re:linux

#3785 Use separate geiser REPLs per project
  modules/lang/scheme/config.el
Labels: :lang scheme, :tools eval, is:new

#3795 Add nim definition and documentation keybindings
  modules/lang/nim/config.el
Labels: :lang nim, is:new, re:keybinds

#3801 updating docs for doom-quit and ligatures and hl-todo
  modules/ui/doom-quit/README.org
  modules/ui/hl-todo/README.org
  modules/ui/ligatures/README.org
Labels: :ui doom-quit, :ui ligatures, is:revision, re:docs

#3811 ui/nav-flash add vterm to +nav-flash-blink-cursor-maybe
  modules/ui/nav-flash/autoload.el
Labels: :term vterm, :ui nav-flash, is:bug

#3806 Fix #3783: advice org-completing-read in bepo
  modules/input/layout/+bepo.el
Labels: :input layout, is:bug, re:keybinds

#3805 Fix bindings for racket-mode
  modules/lang/racket/config.el
Labels: :lang racket, is:update, re:keybinds

#3825 If +flyspell enabled, disable spell-fu keybindings and use flyspell ones
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/editor/evil/config.el
Labels: :checkers spell, :config default, is:bug, re:keybinds

#3823 Add latex faces to +spell-excluded-faces-alist
  modules/checkers/spell/config.el
Labels: :checkers spell, :lang latex, is:new

#3822 [Fix] string comparison in TERM check in org-capture
  bin/org-capture
Labels: is:regression, re:bin/doom

#3819 [Fix] be lazier for minibuffer maps in :layout bepo
  modules/config/default/config.el
  modules/input/layout/+bepo.el
Labels: :input layout, is:bug

#3839 fix ivy not working well with lsp-ivy-workspace-symbol
  modules/completion/ivy/config.el
Labels: :completion ivy, :tools lsp, is:bug

#3843 Change the warning prefix to a non-unicode character
  modules/checkers/syntax/config.el
Labels: :checkers syntax, is:revision, re:performance

#3846 Automatically download reveal.js and use local copy, default to v4
  modules/lang/org/README.org
  modules/lang/org/contrib/present.el
  modules/lang/org/packages.el
Labels: :lang org, is:new

#3848 Set navkeys for evil-markdown in bepo
  modules/input/layout/+bepo.el
Labels: :input layout, :lang markdown, is:new, re:keybinds

#3850 core: Cleanup core/autoload/help.el
  core/autoload/help.el
Labels: :lang data, :lang json, :lang yaml, is:update

#3851 Fix typo in faq.org
  docs/faq.org
Labels: is:minor, re:docs

#3855 Filter directories when rebuilding straight repos
  core/cli/packages.el
Labels: is:bug, re:bin/doom

#3861 Fix non evil environment (void-variable evil-this-operator)
  modules/config/default/autoload/deferred.el
Labels: :config default, is:regression, re:vanilla
