Repository doomemacs/doomemacs, pull requests merged in 2020-10, with the labels that each got.

#3957 minor fixes
  docs/faq.org
Labels: is:minor, re:docs

#3966 :input layout bepo enhancements
  modules/config/default/+evil-bindings.el
  modules/input/layout/+bepo.el
  modules/input/layout/README.org
  modules/input/layout/autoload/bepo.el
Labels: :input layout, is:bug, re:keybinds

#3934 Add `org-journal-new-scheduled-entry` Keybindings
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: :config default, :lang org, is:new, is:update, re:keybinds

#3938 Fix `+spell/add-word` when using flyspell
  modules/checkers/spell/autoload/+flyspell.el
Labels: :checkers spell, is:bug

#3980 Load yas when yas-activate-extra-mode is called
  modules/editor/snippets/config.el
Labels: :editor snippets, is:bug

#3878 Fix link in gettting_started.org
  docs/getting_started.org
Labels: is:revision, re:docs

#4016 Fix conflicting text formats in "getting started" steps.
  docs/getting_started.org
Labels: is:revision, re:docs

#3917 Fix broken link
  modules/ui/hl-todo/README.org
Labels: :ui hl-todo, is:minor, re:docs

#3991 Add lookup handler to Agda module
  modules/lang/agda/config.el
Labels: :lang agda, :tools lookup, is:new

#3992 Add keybinding for tear-off-window
  modules/editor/evil/config.el
Labels: :editor evil, is:new, re:interface, re:keybinds

#3995 Adjusting org journal functions to new commands
  modules/lang/org/contrib/journal.el
Labels: :lang org, is:update

#4003 Add SPC / in evil-bindings
  modules/config/default/+evil-bindings.el
Labels: :config default, is:new, re:evil, re:keybinds

#3841 checkers/spell: add support for using enchant
  docs/modules.org
  modules/checkers/spell/README.org
  modules/checkers/spell/config.el
Labels: :checkers spell, is:new

#4026 fix #4025 renaming of function in persp-mode
  modules/ui/workspaces/config.el
Labels: :ui workspaces, is:regression

#3928 Bump :tools lsp
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:update

#3976 Bump :lang haskell
  modules/lang/haskell/+lsp.el
  modules/lang/haskell/README.org
  modules/lang/haskell/packages.el
  modules/tools/lsp/README.org
Labels: :lang haskell, is:update

#4002 Add missing 'the' in Portal 2 quit message
  modules/ui/doom-quit/config.el
Labels: :ui doom-quit, is:minor, ┻━┻ ︵ヽ(`Д´)ﾉ︵ ┻━┻

#4030 [bepo] Map ace window to <leader>éé (from ww)
  modules/input/layout/+bepo.el
Labels: :input layout, :ui window-select, is:new, re:keybinds

#3954 Bump dart module and improve keybindings
  modules/lang/dart/config.el
  modules/lang/dart/packages.el
Labels: :lang dart, is:update, re:keybinds

#3920 modules/checkers/spell: remove tex option
  modules/checkers/spell/config.el
Labels: :checkers spell, is:bug

#3906 Larger link. Fitt's law
  docs/faq.org
Labels: is:minor, re:docs

#3896 Fix installation instructions for Archlinux in direnv/README.org
  modules/tools/direnv/README.org
Labels: :tools direnv, is:minor, re:docs

#4032 Feature/bepo ace window
  modules/input/layout/+bepo.el
Labels: :input layout, :ui window-select, is:revision, re:keybinds

#4039 update idris module to new format
  init.example.el
  modules/lang/idris/README.org
Labels: :lang idris, is:revision, re:docs

#4044 Add `json-mode` keybindings under the local leader
  modules/lang/json/config.el
Labels: :lang json, is:new, re:keybinds

#3907 Added warning for clang-format in doom doctor.
  modules/lang/java/doctor.el
Labels: :editor format, :lang java, is:new, re:bin/doom:doctor

#3810 Add +powershell to lang/sh module
  docs/modules.org
  modules/lang/sh/README.org
  modules/lang/sh/config.el
  modules/lang/sh/packages.el
Labels: :lang sh, is:new, re:windows

#3994 checkers/spell: fix default ispell dict
  modules/checkers/spell/config.el
Labels: :checkers spell, is:bug

#4056 Pin new version of `better-jumper`. Fixes #4050
  core/packages.el
Labels: :core, is:update

#4063 Fix ligature documentation typo
  modules/ui/ligatures/README.org
Labels: :ui ligatures, is:revision, re:docs

#4067 Search compressed .el files in load history
  core/autoload/help.el
Labels: :core lib, is:bug

#4069 Bump :tools biblio
  modules/tools/biblio/packages.el
Labels: :tools biblio, is:update

#4064 lang/ledger: Add doctor.el for :lang ledger
  modules/lang/ledger/doctor.el
Labels: :lang ledger, is:new, re:bin/doom:doctor

#4072 Bump :lang latex
  modules/lang/latex/packages.el
Labels: :lang latex, is:update

#3879 Add ccls-specific configuration
  modules/lang/cc/autoload.el
  modules/lang/cc/config.el
Labels: :lang cc, :tools lsp, is:new

#4073 Respect magit-display-buffer-noselect
  modules/tools/magit/autoload.el
Labels: :tools magit, is:bug, re:interface

#4075 [:lang cc] Fix list in call for cpu count command
  modules/lang/cc/config.el
Labels: :lang cc, is:regression

#4076 Add table describing keybindings for clojure module
  modules/lang/clojure/README.org
Labels: :lang clojure, is:new, re:docs

#4047 Improvements to native-comp support
  core/cli/autoloads.el
  core/cli/packages.el
  core/core.el
  core/packages.el
Labels: :core, is:update, re:native-comp

#4081 [:lang (org +roam)] company-org-roam is depricated
  modules/lang/org/packages.el
Labels: :lang org, is:bug

#4099 [bepo] tools/lsp: add t/s/C-t/C-s for lsp-ui-peek
  modules/input/layout/+bepo.el
Labels: :input layout, :tools lsp, is:new, re:keybinds

#4110 tools/magit: add magit-diff-refine-hunk to readme
  modules/tools/magit/README.org
Labels: :tools magit, is:new, re:docs

#4107 Fixed typo in var name
  modules/lang/lua/README.org
Labels: :lang lua, is:minor, re:docs

#4105 Print diff url in terminal in case emacs is in a remote server
  core/cli/upgrade.el
Labels: is:new, re:bin/doom

#4085 Fix link to issues in README
  README.md
Labels: is:minor, re:docs

#4095 popup: add rule for list-processes
  modules/ui/popup/config.el
Labels: :ui popup, is:new, re:interface

#4088 docs: Update package name for TeXLive on Arch Linux
  modules/lang/latex/README.org
Labels: :lang latex, is:new, re:docs

#4094 Add scala module documentation
  modules/lang/scala/README.org
Labels: :lang scala, is:new, re:docs

#4001 ui/emojis: New module for inserting/displaying emojis
  docs/modules.org
  init.example.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/ui/emoji/README.org
  modules/ui/emoji/config.el
  modules/ui/emoji/packages.el
Labels: is:new, re:modules

#4120 Format with LSP if supported on save
  modules/editor/format/config.el
Labels: :editor format, is:bug

#3716 Fix python-pytest-popup
  modules/lang/python/config.el
Labels: :lang python, is:update

#4170 Add single quotes to ‘any quote’ text objects
  modules/editor/evil/autoload/textobjects.el
Labels: :editor evil, is:new, re:evil

#4166 Disable lsp indentation in scala mode
  modules/lang/scala/config.el
Labels: :lang scala, :tools lsp, is:bug

#4145 Clarify doom-store-put docstring
  core/autoload/store.el
Labels: :core lib, is:revision, re:docs

#4144 Add keybinding for testing all project functions with pytest
  modules/lang/python/config.el
Labels: :lang python, is:new, re:keybinds

#4140 Add mathjax support for markdown preview
  modules/lang/markdown/config.el
Labels: :lang markdown, is:new

#4126 Licences: Add tabstops with defaults to gpl3
  modules/editor/file-templates/templates/text-mode/__license-gpl3
Labels: :editor file-templates, is:new

#4183 Map Tex-view to localleader-v
  modules/lang/latex/config.el
Labels: :lang latex, is:new, re:keybinds

#4147 Escape skk-mode on doom/escape
  modules/input/japanese/config.el
Labels: :input japanese, is:new

#4185 Associate .eco files with web-mode
  modules/lang/web/+html.el
Labels: :lang web, is:new

#4122 fix: add explanation for php document
  modules/lang/php/README.org
Labels: :lang php, is:revision, re:docs

#4188 delete extra paren in :lang latex
  modules/lang/latex/config.el
Labels: :lang latex, is:regression
