Repository doomemacs/doomemacs, pull requests merged in 2020-12, with the labels that each got.

#4349 grammar: macports compatibility
  modules/checkers/grammar/config.el
Labels: :checkers grammar, is:bug, re:macOS

#4348 counsel-bookmark use filename only if available
  modules/completion/ivy/config.el
Labels: :completion ivy, is:bug

#4350 upgrade.el: force fetch
  core/cli/upgrade.el
Labels: is:regression, re:bin/doom

#4351 Upgrade: remove leftover ref
  core/cli/upgrade.el
Labels: is:bug, re:bin/doom

#4356 fix nix aspell installation instructions
  modules/checkers/spell/README.org
Labels: :checkers spell, is:bug, re:docs, re:nixos

#4358 Bump :lang scheme
  modules/lang/scheme/packages.el
Labels: :lang scheme, is:update

#4353 config/default: update deprecated org-roam-dailies bindings
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: :lang org, is:update

#4381 Add word existence checking for +spell/correct
  modules/checkers/spell/autoload/+spell-fu.el
Labels: :checkers spell, is:ux

#4392 Adds MDN search to online lookup
  modules/tools/lookup/config.el
Labels: :tools lookup, is:new

#4401 Enable smartparens for `edebug-eval-expression'
  core/core-editor.el
Labels: :core, is:new, is:revision

#4408 Bind useful magit-file-dispatch
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: :config default, :tools magit, is:new, re:keybinds

#4416 `doom/help-modules': C-u -> browse directory
  core/autoload/help.el
Labels: :core lib, is:new, is:ux

#4414 Enable `smartparens' for `evil'
  core/core-editor.el
Labels: :core, is:regression

#4415 Workaround: fix goto definition on modules
  modules/lang/emacs-lisp/autoload.el
Labels: :completion ivy, :lang emacs-lisp, is:bug

#4418 Set ligratures for csharp-mode
  modules/lang/csharp/config.el
Labels: :lang csharp, :ui ligatures, is:new

#4409 Add "python3" to possible names for the python binary
  modules/lang/python/README.org
  modules/lang/python/doctor.el
Labels: :lang python, is:new, is:revision, re:bin/doom:doctor, re:docs

#4423 Bump :lang rust
  modules/lang/rust/packages.el
Labels: :lang rust, is:update

#4424 popup.el: consider auto-saving indirect buffers too
  modules/ui/popup/autoload/popup.el
Labels: :ui popup, is:bug

#4425 A workaround for formatting org mode
  modules/editor/format/autoload/format.el
Labels: :editor format, :lang org, is:bug

#4435 Prioritize company-capf back-end in org-journal
  modules/lang/org/contrib/journal.el
Labels: :completion company, :lang org, is:new

#4434 Better ivy hydras usability
  modules/completion/ivy/config.el
Labels: :completion ivy, is:regression

#4433 Do not panic when xclip is not available
  modules/os/tty/config.el
Labels: :os tty, is:ux
