Repository doomemacs/doomemacs, pull requests merged in 2020-01, with the labels that each got.

#2285 Fix typo
  modules/editor/file-templates/autoload.el
Labels: :editor file-templates, is:minor

#2276 fix flyspell-correct
  modules/editor/evil/config.el
  modules/tools/flyspell/config.el
Labels: :tools flyspell, is:update

#2270 docs/core: typo in `featurep!` docs
  core/core-modules.el
Labels: is:minor, re:docs

#2295 irc: fix logic for creating a workspace
  modules/app/irc/autoload/irc.el
Labels: :ui workspaces, is:regression

#2292 Enable smartparens-mode during pp-eval-expression
  core/core-editor.el
Labels: :core, is:bug

#2289 Add evil binding to lsp-execute-code-action
  modules/config/default/+evil-bindings.el
Labels: :config default, is:new, re:keybinds

#2296 ui/doom-dashboard: De-hardcode dashboard faces
  modules/ui/doom-dashboard/README.org
  modules/ui/doom-dashboard/config.el
Labels: :ui doom-dashboard, is:new, re:themes

#2312 Fix name of solarized package
  docs/faq.org
Labels: is:bug, re:docs, re:packages

#2311 Typo pnned -> pinned
  core/templates/packages.example.el
Labels: is:minor, re:docs

#2309 Suppress delete-window in org related functions
  modules/ui/popup/+hacks.el
Labels: :lang org, :ui popup, is:bug

#2307 editor/evil: fix: outdated log
  modules/editor/evil/README.org
Labels: :editor evil, is:update, re:docs

#2306 fix message
  modules/lang/rust/config.el
Labels: :lang rust, is:minor

#2304 cli: Handle --help without an argument
  bin/doom
Labels: is:bug, re:bin/doom

#2301 Fix typo in env.el
  core/cli/env.el
Labels: is:minor, re:bin/doom, re:docs

#2300 Fix source code highlighting when using marked.js
  modules/lang/markdown/config.el
Labels: :lang markdown, is:bug

#2316 Be explicit about `fc-list` when listing fonts
  core/cli/doctor.el
Labels: is:bug, re:bin/doom:doctor, re:linux

#2329 fix: use org-capture-projects-file
  modules/lang/org/autoload/org-capture.el
Labels: :lang org, is:bug

#2324 Add lsp support to sh module.
  modules/lang/sh/README.org
  modules/lang/sh/config.el
Labels: :lang sh, :tools lsp, is:new

#2318 Use newer cider-ns-refresh in Clojure bindings
  modules/lang/clojure/config.el
Labels: :lang clojure, is:update

#2245 Remove lispy from evil-collections
  modules/editor/evil/+everywhere.el
Labels: :editor evil, :editor lispy, is:new

#2347 Fix flycheck migration void-function
  modules/checkers/syntax/config.el
Labels: :tools flycheck, is:regression

#2344 Make sudo-this-file usable in dired-buffers
  core/autoload/files.el
Labels: :core lib, :emacs dired, is:new

#2358 Fix pdf-outline error
  modules/tools/pdf/config.el
Labels: :tools pdf, :ui popup, is:bug

#2361 Update lsp-server-install-dir location
  modules/tools/lsp/config.el
Labels: :tools lsp, is:update

#2364 Update feature check of flycheck in evil-bindings
  modules/config/default/+evil-bindings.el
Labels: :checkers syntax, :config default, is:update, re:keybinds

#2363 Minor updates to documentation
  docs/getting_started.org
  modules/tools/lookup/README.org
Labels: :tools lookup, is:update, re:docs

#2350 Fix #2349: Make +format-completing-read return symbol
  modules/editor/format/autoload/format.el
Labels: :editor format, is:bug

#2366 Update feature check of flycheck in elixir mode
  modules/lang/elixir/config.el
  modules/lang/elixir/packages.el
Labels: :lang elixir, is:update

#2371 Add LSP Support to Erlang
  modules/lang/erlang/README.org
  modules/lang/erlang/config.el
  modules/lang/erlang/packages.el
Labels: :lang erlang, :tools lsp, is:new

#2368 Use Docker docset for dockerfile-mode
  modules/tools/docker/config.el
Labels: :tools docker, :tools lookup, is:new

#2379 Fix broken MacOS irony-mode building command.
  modules/lang/cc/README.org
Labels: :lang cc, re:docs

#2374 Doctor: Check whether rbenv is enabled before complaining
  modules/lang/ruby/doctor.el
Labels: :lang ruby, is:bug

#2360 Fix for https://github.com/hlissner/doom-emacs/issues/2343
  modules/lang/org/config.el
Labels: :lang org, is:bug

#2353 [ocaml] support eliom files
  modules/lang/ocaml/config.el
Labels: :lang ocaml, is:new

#2287 bindings: default emacs up to the state of the art
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:update, re:keybinds, re:vanilla

#2164 Add ibuffer filter group for the workspace
  modules/emacs/ibuffer/config.el
Labels: :emacs ibuffer, is:new

#2388 Fix #2036: Copy local variables into formatting buffer.
  modules/editor/format/autoload/format.el
Labels: :editor format, is:bug

#2412 Fix garbage minibuffer history when launching debugger
  modules/tools/debugger/config.el
Labels: :tools debugger, is:bug

#2410 Move an aspell specific argument to appropriate block
  modules/checkers/spell/config.el
Labels: :checkers spell, is:bug

#2402 Helm posframe fixes
  modules/completion/helm/autoload/posframe.el
  modules/completion/helm/config.el
Labels: :completion helm, is:bug, re:interface

#2425 make +org--insert-item respect emacs-mode
  modules/lang/org/autoload/org.el
Labels: :lang org, is:bug

#2423 use updated brew package name to get clang
  docs/getting_started.org
Labels: is:bug, re:docs

#2418 Make `ls` aliases work with subdirectories (Eshell)
  modules/term/eshell/config.el
Labels: :term eshell, is:bug

#2442 Add {little,greater}-than to +web-entities-list
  modules/lang/web/autoload/html.el
Labels: :lang web, is:new

#2440 Don't use dired git highlighting if remote
  modules/emacs/dired/config.el
Labels: :emacs dired, is:bug, re:remote

#2452 Bump to brotzeit/rustic@124e028
  modules/lang/rust/packages.el
Labels: :lang rust, is:regression, re:packages
