Repository doomemacs/doomemacs, pull requests merged in 2020-05, with the labels that each got.

#3016 Add a few missing modes to `hdm` alist
  core/autoload/help.el
Labels: :core lib, is:new, re:docs

#3012 Bump to emacs-lsp/lsp-mode@d0096cc
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:update

#3026 mu4e action to view email in browser
  modules/email/mu4e/config.el
Labels: :email mu4e, is:new

#3023 Fallback to USERPROFILE for HOME on Windows
  core/core.el
Labels: :core, is:bug, re:env, re:windows

#3027 Fix emacs bindings to use :checkers
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:update, re:keybinds

#3022 Encrypt and change location of org-gcal-token-file
  modules/app/calendar/config.el
  modules/app/calendar/packages.el
Labels: :app calendar, is:ux, re:security

#2952 Add lsp-command-map to SPC-c-l
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/lsp/config.el
Labels: :config default, :tools lsp, is:new, re:keybinds

#3029 Fix tide not working with rjsx-mode
  modules/lang/javascript/config.el
Labels: :lang javascript, is:bug

#3032 ido: fix up and down keybinds in file dir navigation
  modules/completion/ido/config.el
Labels: :completion ido, is:new, re:keybinds

#3036 Adding Fedora dependencies block in getting_started document
  docs/getting_started.org
Labels: is:new, re:docs

#3039 Make some improvements to java +lsp
  modules/lang/java/+lsp.el
Labels: :lang java, is:bug

#3030 Use lsp-format-region-or-buffer if available
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/editor/format/autoload/format.el
Labels: :config default, :editor format, :tools lsp, is:new, re:keybinds

#3053 Add Kotlin REPL support
  modules/lang/kotlin/config.el
Labels: :lang kotlin, :tools eval, is:new

#3051 Improve Groovy support
  modules/lang/java/autoload.el
  modules/lang/java/config.el
Labels: :lang java, :tools eval, :tools lookup, is:new

#3050 Fix Java file templates
  modules/editor/file-templates/templates/java-mode/.yas-setup.el
  modules/editor/file-templates/templates/java-mode/__
  modules/editor/file-templates/templates/java-mode/__main
Labels: :editor file-templates, :lang java, is:refactor

#3031 Add lang/nix barebone readme.
  modules/lang/nix/README.org
Labels: :lang nix, is:new, re:docs

#3017 Fix set-formatter! documentation
  modules/editor/format/autoload/settings.el
Labels: :editor format, is:minor, re:docs

#3064 [:ui pretty-code doc] Add link to emacs-mac-port source code
  modules/ui/pretty-code/README.org
Labels: :ui pretty-code, is:minor, re:docs

#3060 README for tools/rgb, also minor typo fix
  modules/lang/kotlin/README.org
  modules/tools/rgb/README.org
Labels: :lang kotlin, :tools rgb, is:minor, is:new, re:docs

#3052 Add Dash docsets + Xwidget integration
  modules/tools/lookup/README.org
  modules/tools/lookup/config.el
Labels: :tools lookup, is:new, re:emacs:gui

#3049 Configure java +lsp test runner via dap-mode
  modules/lang/java/+lsp.el
  modules/lang/java/README.org
Labels: :lang java, :tools debugger, :tools lsp, is:new

#3065 Add org-roam doctor check for the dot executable
  modules/lang/org/doctor.el
Labels: :lang org, is:new, re:bin/doom:doctor

#3071 Bump :completion ivy
  modules/completion/ivy/packages.el
Labels: :completion ivy, is:update

#3073 Allow +vterm/toggle to open remotely
  modules/term/vterm/autoload.el
Labels: :term vterm, is:new, re:remote

#3078 Add initial upload README
  modules/tools/upload/README.org
Labels: :tools upload, is:new, re:docs

#3082 Unify org-agenda-clock bindings with org-clock
  modules/lang/org/config.el
Labels: :lang org, is:new, re:keybinds

#3077 Add a few Email docs
  modules/email/mu4e/README.org
  modules/email/notmuch/README.org
Labels: :email mu4e, :email notmuch, is:new, re:docs

#3086 Fixed "Contribute" link in toc of README.md
  README.md
Labels: is:minor, re:docs

#3084 lookup: Update docs
  modules/tools/lookup/README.org
Labels: :tools lookup, is:bug, re:docs

#3096 Update README to point to new elixir-ls org
  modules/lang/elixir/README.org
Labels: :lang elixir, is:update, re:docs

#3095 Add open email bindings
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: :config default, :email mu4e, :email notmuch, :email wanderlust, is:new, re:keybinds

#3100 Change path separator on Windows when using fd
  core/core-projects.el
  modules/completion/ivy/config.el
Labels: :completion ivy, :core, is:bug, re:windows

#3113 Added +lsp flag to lang/purescript
  docs/modules.org
  modules/lang/purescript/config.el
  modules/tools/lsp/README.org
Labels: :lang purescript, :tools lsp, is:new

#3109 Documentation fix - use-packages! typo in getting started
  docs/getting_started.org
Labels: is:minor, re:docs

#3094 tools/lookup: Support lookup handlers for implementations and type definition
  modules/tools/lookup/autoload/lookup.el
  modules/tools/lookup/config.el
  modules/tools/lsp/config.el
Labels: :tools lookup, :tools lsp, is:new

#2986 Improved Eshell module part 1
  modules/completion/company/config.el
  modules/term/eshell/README.org
  modules/term/eshell/config.el
  modules/term/eshell/packages.el
Labels: :term eshell, is:new, re:docs, re:keybinds

#3083 Add keymap descriptions for Ruby module
  modules/lang/ruby/config.el
Labels: :lang ruby, is:new, re:keybinds

#3104 activating dap web modules in TS mode
  modules/tools/debugger/config.el
Labels: :lang javascript, :tools debugger, is:bug

#3106 add app/rss readme
  modules/app/rss/README.org
Labels: :app rss, is:new, re:docs

#3140 remove ob-rust
  modules/lang/org/config.el
  modules/lang/org/packages.el
Labels: :lang org, :lang rust, is:new

#3143 Add --with-modules to emacs-mac documentation
  docs/getting_started.org
Labels: is:new, re:docs, re:macos

#3148 Allow the user to override lispyville themes
  modules/editor/lispy/README.org
  modules/editor/lispy/config.el
Labels: :editor lispy, is:new, re:keybinds

#3150 Add the needed migemo variants to the requirements for Japanese input.
  modules/input/japanese/README.org
Labels: :input japanese, is:new, re:docs

#3137 Wrap flyspell-correct-at-point in feature check
  modules/checkers/spell/config.el
  modules/editor/evil/config.el
Labels: :checkers spell, :editor evil, is:refactor, re:keybinds

#3141 fix rails server lag
  modules/lang/ruby/README.org
  modules/lang/ruby/config.el
Labels: :lang ruby, is:ux, re:performance

#3142 Minimap Module
  init.example.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/ui/minimap/README.org
  modules/ui/minimap/config.el
  modules/ui/minimap/packages.el
Labels: is:new, re:modules

#3152 add openSUSE installation section to getting started guide
  docs/getting_started.org
Labels: is:new, re:docs, re:install, re:linux

#3093 Add tools/taskrunner module
  init.example.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/taskrunner/README.org
  modules/tools/taskrunner/autoload.el
  modules/tools/taskrunner/config.el
  modules/tools/taskrunner/packages.el
Labels: is:new, re:modules

#3155 using dedicated minimap flag
  modules/config/default/+evil-bindings.el
Labels: :config default, :ui minimap, is:bug, re:keybinds

#3153 add missing +features to modules.org
  docs/modules.org
Labels: is:new, re:docs, re:modules

#3088 bindings: update bindings / add remote bindings
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: :config default, is:update, re:keybinds, re:vanilla

#3163 Fix typo
  modules/lang/rust/config.el
Labels: :lang rust, is:minor, re:docs

#3167 Update documentation for app/rss
  modules/app/rss/README.org
Labels: :app rss, is:new

#3174 Fix scoop install instructions
  docs/getting_started.org
Labels: is:update, re:docs, re:windows

#3168 Bump doom-themes version
  modules/ui/doom/packages.el
Labels: :ui doom, is:update

#3198 Bump :core
  core/packages.el
Labels: :core, is:update

#3210 Fix inaccuracy in markdown docs
  modules/lang/markdown/README.org
  modules/lang/markdown/autoload.el
Labels: :lang markdown, is:update, re:docs

#3207 lang/common-lisp: fix typo
  modules/lang/common-lisp/config.el
Labels: :lang common-lisp, is:minor

#3196 lang/org: Support option in custom org links
  modules/lang/org/autoload/org-link.el
Labels: :lang org, is:new

#3183 Update org-roam hyperlinks in org/README.org
  modules/lang/org/README.org
Labels: :lang org, is:update, re:docs

#3180 better popup for rspec
  modules/lang/ruby/config.el
Labels: :lang ruby, :ui popup, is:new

#3177 use default search on rake tasks on :ruby lang
  modules/lang/ruby/config.el
Labels: :lang ruby, is:new

#3043 Add Tree Subtree function to bindings to lang org
  modules/lang/org/config.el
Labels: :lang org, is:new, re:keybinds

#3169 Add missing modules to docs/modules.org
  docs/modules.org
Labels: is:new, re:docs, re:modules

#3208 Add emacs/vc readme
  modules/emacs/vc/README.org
Labels: :emacs vc, is:new, re:docs

#3226 Fix +format/region when formatting with LSP
  modules/editor/format/autoload/format.el
Labels: :editor format, is:regression

#3227 Restore new org-agenda bindings
  modules/lang/org/config.el
Labels: :lang org, is:regression, re:keybinds

#3241 Add lookup handlers for IELM
  modules/lang/emacs-lisp/config.el
Labels: :lang emacs-lisp, :tools lookup, is:new

#3033 add config/literate readme
  modules/config/literate/README.org
Labels: :config literate, is:new, re:docs

#3034 add tool/pass readme
  modules/tools/pass/README.org
Labels: :tools pass, is:new, re:docs

#3020 Add support for eglot as LSP client implementation
  README.md
  docs/modules.org
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/cc/README.org
  modules/lang/cc/autoload.el
  modules/lang/cc/config.el
  modules/lang/cc/packages.el
  modules/lang/haskell/packages.el
  modules/lang/python/config.el
  modules/lang/python/packages.el
  modules/lang/rust/config.el
  modules/tools/debugger/config.el
  modules/tools/debugger/doctor.el
  modules/tools/lsp/+eglot.el
  modules/tools/lsp/+lsp.el
  modules/tools/lsp/README.org
  modules/tools/lsp/autoload/common.el
  modules/tools/lsp/autoload/eglot.el
  modules/tools/lsp/autoload/flycheck-eglot.el
  modules/tools/lsp/autoload/lsp-mode.el
  modules/tools/lsp/config.el
  modules/tools/lsp/doctor.el
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:new

#3259 Bump :lang dart - lsp-dart
  modules/lang/dart/packages.el
Labels: :lang dart, is:update

#3256 tools/lsp: Make lsp checker chained to other checkers
  modules/tools/lsp/+lsp.el
Labels: :checkers syntax, :tools lsp, is:ux

#3262 bump rustic
  modules/lang/rust/packages.el
Labels: :lang rust, is:update
