Repository doomemacs/doomemacs, pull requests merged in 2020-07, with the labels that each got.

#3543 remove doctor warning message for optional vterm dependency
  modules/term/vterm/doctor.el
Labels: :term vterm, is:new, re:bin/doom:doctor, re:env

#3539 Fix typo in README
  README.md
Labels: is:minor, re:docs

#3518 Update Mac Install for emacs-plus
  docs/getting_started.org
Labels: is:minor, re:docs, re:macos

#3481 tools/magit: map zt/zb motions in magit-mode
  modules/tools/magit/config.el
Labels: :tools magit, is:new, re:keybinds

#3464 Switch to emacs mode in mu4e view mode
  modules/email/mu4e/config.el
Labels: :email mu4e, is:new, re:evil, re:keybinds

#3462 :checkers spell documentation
  modules/checkers/spell/README.org
Labels: :checkers spell, is:new, re:docs

#3548 Add the BUG and XXX tags to hl-todo
  modules/ui/hl-todo/config.el
Labels: :ui hl-todo, is:new

#3544 Fix typo in modules/checkers/spell/README.org
  modules/checkers/spell/README.org
Labels: :checkers spell, is:minor, re:docs

#3538 Add pretty-symbols for Shell-mode
  modules/lang/sh/config.el
Labels: :lang sh, :ui pretty-code, is:new

#3513 Add pretty symbols to php-mode
  modules/lang/php/config.el
Labels: :lang php, :ui pretty-code, is:new

#3551 Fix deadlinks on "Getting Started" documentation file
  docs/getting_started.org
Labels: is:minor, re:docs

#3557 Set company-capf as backend for ledger-mode.
  modules/lang/ledger/config.el
Labels: :completion company, :lang ledger, is:new

#3562 Add support for lua-langserver in lsp-mode
  modules/lang/lua/+lsp-mode.el
  modules/lang/lua/config.el
Labels: :lang lua, :tools lsp, is:new

#3570 Fix emacs binding for toggling org-tree-slide-mode
  modules/config/default/+emacs-bindings.el
Labels: :config default, :lang org, is:update

#3571 Make gpg files incompatible with undo-fu session
  modules/emacs/undo/config.el
Labels: :emacs undo, is:new, re:security

#3599 fix for #3266: wrong-type-arg stringp from format
  modules/config/literate/autoload.el
Labels: :config literate, is:bug

#3598 Add org-mode publish keybindings to localleader
  modules/lang/org/config.el
Labels: :lang org, is:new, re:keybinds

#3597 Ensure org-roam-directory is a directory
  modules/lang/org/contrib/roam.el
Labels: :lang org, is:bug, is:external

#3587 Fix comment indentation typo in `init.example.el`.
  init.example.el
Labels: is:minor, re:docs

#3582 Bump :tools ansible
  modules/tools/ansible/packages.el
Labels: :tools ansible, is:update

#3603 Fix typo in checkers/spell/README
  modules/checkers/spell/README.org
Labels: :checkers spell, is:revision, re:docs

#3485 core: use custom.el instead of config.el for custom-file
  core/core.el
Labels: :core, is:new, re:defaults

#3249 tools/lsp: Improve eglot support
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/editor/format/autoload/format.el
  modules/tools/lsp/+eglot.el
Labels: :config default, :editor format, :tools lsp, is:new, is:revision, re:keybinds

#3618 Update dart module README
  modules/lang/dart/README.org
Labels: :lang dart, is:revision, re:docs

#3612 Fix typos and reword docstrings
  core/core-ui.el
  init.example.el
  modules/tools/lookup/autoload/online.el
  modules/ui/pretty-code/README.org
Labels: is:revision, re:docs

#3619 Bump :tools ansible; fix #3555
  modules/tools/ansible/packages.el
Labels: :tools ansible, is:update

#3613 Support number highlighting for long Elixir numbers
  modules/lang/elixir/config.el
Labels: :lang elixir, is:new

#3629 Add support for pyright language server
  modules/lang/python/README.org
  modules/lang/python/config.el
  modules/lang/python/packages.el
Labels: :lang python, :tools lsp, is:new

#2917 [WIP] Support native compilation of packages
  core/cli/packages.el
Labels: is:new, re:bytecode, re:performance, re:straight

#3641 [UI] Set prompt to readonly in comint buffers
  core/core-ui.el
Labels: :core, is:new, re:defaults

#3637 tools/magit: map Forge jumps in evil-mode
  modules/tools/magit/config.el
Labels: :tools magit, is:new, re:evil, re:keybinds

#3643 org-roam: check for sqlite3 executable in doctor
  modules/lang/org/doctor.el
Labels: :lang org, is:new, re:bin/doom:doctor

#3648 Add calfw-cal dependency to allow local diary source
  modules/app/calendar/config.el
  modules/app/calendar/packages.el
Labels: :app calendar, is:bug, status:resolved

#3656 More convenient search buffer
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
Labels: :config default, is:new, re:keybinds

#3646 Change :app calendar README and add cfw:org-create-file-source to list of commands
  modules/app/calendar/README.org
  modules/app/calendar/config.el
Labels: :app calendar, is:new, is:revision, re:docs
