Repository doomemacs/doomemacs, pull requests merged in 2020-06, with the labels that each got.

#3239 Add gdscript module
  init.example.el
  modules/lang/gdscript/README.org
  modules/lang/gdscript/config.el
  modules/lang/gdscript/packages.el
Labels: is:new, re:modules

#3264 Fix dart install docs formatting
  modules/lang/dart/README.org
Labels: :lang dart, is:minor, re:docs

#3253 Support LiveView templates in web module
  modules/lang/web/+html.el
Labels: :lang elixir, :lang web, is:new

#3243 Feat: add counsel-jq
  modules/lang/json/config.el
  modules/lang/json/doctor.el
  modules/lang/json/packages.el
Labels: :completion ivy, :lang json, is:new

#3281 Added paste-transient-state to API recipes
  docs/api.org
Labels: is:new, re:docs

#3276 Remove space from mc prefix map
  modules/config/default/+emacs-bindings.el
Labels: is:bug, re:which-key

#3292 magit: Enable goto-address-mode in process buffer
  modules/tools/magit/config.el
Labels: :tools magit, is:new

#3291 Bump :tools lsp
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:new

#3287 [lang/lua] Add LSP flag and support for Lua
  modules/lang/lua/README.org
  modules/lang/lua/config.el
Labels: :lang lua, :tools lsp, is:new

#3293 Nix and Guix is a great idea!
  README.md
Labels: is:minor, re:docs, ┻━┻ ︵ヽ(`Д´)ﾉ︵ ┻━┻

#3213 Prevent doom-capture frame from closing when refiling
  modules/lang/org/autoload/org-capture.el
  modules/lang/org/config.el
Labels: :lang org, is:bug

#3302 (org +roam): use org-roam-buffer-window-parameters
  modules/lang/org/contrib/roam.el
Labels: :lang org, is:update

#3308 Rename perl module to raku.
  core/autoload/help.el
  core/core-modules.el
  docs/modules.org
  init.example.el
  modules/lang/perl/README.org
  modules/lang/raku/README.org
  modules/lang/raku/config.el
  modules/lang/raku/packages.el
Labels: :lang raku, is:refactor, re:modules

#3314 Add missing gdscript listing in modules.org
  docs/modules.org
Labels: re:docs, re:modules

#3311 Updates for macos module
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/macos/README.org
  modules/tools/macos/config.el
Labels: :tools macos, is:new, re:macos

#3325 unset geiser-mode-start-repl-p
  modules/lang/scheme/config.el
Labels: :lang scheme, is:new, re:defaults

#3322 Update doc comments in {init,config}.el templates
  core/templates/config.example.el
  init.example.el
Labels: is:update, re:keybinds

#3317 Add lispy to evil-mc-incompalible-minor-modes
  modules/editor/multiple-cursors/config.el
Labels: :editor lispy, :editor multiple-cursors, is:ux

#3319 tools/taskrunner: Set popup rule for taskrunner buffer
  modules/tools/taskrunner/config.el
Labels: :tools taskrunner, :ui popup, is:new

#3247 Updated Documentation for mu4e
  modules/email/mu4e/README.org
Labels: :email mu4e, is:update, re:docs

#3258 lang/javascript: Enable TSLint and ESLint for TypeScript-TSX
  core/autoload/help.el
  modules/lang/javascript/config.el
  modules/lang/web/+html.el
Labels: :lang javascript, :lang web, is:new

#3333 Fix typo in function name binded to jump to an IRC channel
  modules/config/default/+emacs-bindings.el
Labels: :app irc, :config default, is:bug

#3336 Make unicode-fonts-setup run when emacs is started in daemon mode
  modules/ui/unicode/autoload.el
Labels: :ui unicode, is:bug, re:emacs:daemon

#3341 Tweak geiser configuration and add flycheck-guile
  modules/lang/scheme/autoload.el
  modules/lang/scheme/autoload/flycheck-guile.el
  modules/lang/scheme/config.el
Labels: :checkers syntax, :lang scheme, is:new

#3345 Pointing out to the right org-cal repo
  modules/app/calendar/README.org
Labels: :app calendar, is:update, re:docs

#3347 Don't set prefix-arg when delegating to ivy/helm from +default/search-project
  modules/config/default/autoload/search.el
Labels: :config default, is:bug

#3340 Define lookup handlers for lisp-interaction-mode
  modules/lang/emacs-lisp/config.el
Labels: :lang emacs-lisp, :tools lookup, is:new

#3355 Use upstream flycheck-guile package
  modules/lang/scheme/autoload/flycheck-guile.el
  modules/lang/scheme/config.el
  modules/lang/scheme/packages.el
Labels: :checkers syntax, :lang scheme, is:refactor

#3364 Add custom link type for wikipedia
  modules/lang/org/README.org
  modules/lang/org/config.el
Labels: :lang org, is:new

#3366 Set pretty symbols for Dart-mode
  modules/lang/dart/config.el
Labels: :lang dart, :ui pretty-code, is:new

#3356 Fix #3348
  core/core-ui.el
Labels: :core, is:bug

#3334 :ui unicode module improvements
  modules/ui/unicode/README.org
  modules/ui/unicode/autoload.el
Labels: :ui unicode, is:new, re:fonts

#3373 Fix visit docs for Racket & support racket-xp
  modules/lang/racket/README.org
  modules/lang/racket/autoload.el
  modules/lang/racket/config.el
Labels: :lang racket, :tools lookup, is:bug

#3377 Make `fd` respect `projectile-globally-ignored-directories`
  core/core-projects.el
Labels: :completion helm, :completion ivy, is:new, re:projects

#3404 Change emacs-plus icon
  docs/getting_started.org
Labels: is:update, re:docs

#3388 Include calfw-ical package in :calendar
  modules/app/calendar/config.el
  modules/app/calendar/packages.el
Labels: :app calendar, is:bug, re:packages

#3402 Add separate package for lsp-metals
  modules/lang/scala/packages.el
Labels: :lang scala, :tools lsp, is:update

#3405 python: fix conda path
  modules/lang/python/config.el
Labels: :lang python, is:bug

#3409 Gravatars now opt-in. Magit README updated.
  modules/tools/magit/README.org
  modules/tools/magit/config.el
Labels: :tools magit, is:new, re:performance

#3411 Remove forced project.el recipe hack
  modules/tools/lsp/packages.el
Labels: :tools lsp, is:update

#3412 Filter out 'eglot backend from doom-thing-at-point
  core/autoload/text.el
Labels: :tools lookup, :tools lsp, is:bug, is:external

#3415 Fix error when opening REPL from unsupported mode
  modules/tools/eval/autoload/repl.el
Labels: :tools eval, is:bug

#3416 Minor scheme module improvements
  modules/config/default/+evil-bindings.el
  modules/lang/scheme/config.el
Labels: :config default, :lang scheme, is:new

#3419 Fix link to screenshots + minor correction in "Getting started"
  README.md
  docs/getting_started.org
Labels: is:minor, re:docs

#3430 Org-roam: Add keybinding for org-roam-insert-immediate
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/contrib/roam.el
Labels: :config default, :lang org, is:new, re:keybinds

#3420 Add gitflow and move worktree in magit dispatch
  modules/tools/magit/config.el
Labels: :tools magit, is:bug, re:evil, re:keybinds

#3449 tools/lookup: Update Xwidget WebKit browser support
  docs/modules.org
  modules/tools/lookup/README.org
  modules/tools/lookup/autoload/xwidget.el
  modules/tools/lookup/config.el
Labels: :tools lookup, is:new, is:refactor

#3447 change rust doc lookup to std library
  modules/tools/lookup/config.el
Labels: :lang rust, :tools lookup, is:new

#3440 Allow cider highlight deprecated symbols
  modules/lang/clojure/config.el
Labels: :lang clojure, is:new, is:ux

#3437 Enable projectile-locate-dominating-file on tramp
  core/core-projects.el
Labels: :tools magit, is:new, re:remote

#3433 Carryover to include all configured TODO states.
  modules/lang/org/contrib/journal.el
Labels: :lang org, is:new

#3438 Bump lsp packages
  modules/lang/dart/packages.el
  modules/lang/java/packages.el
  modules/lang/python/packages.el
  modules/lang/scala/packages.el
  modules/tools/debugger/packages.el
  modules/tools/lsp/packages.el
Labels: :lang dart, :lang java, :lang scala, :tools debugger, :tools lsp, is:update

#3478 Bump :lang rust
  modules/lang/rust/packages.el
Labels: :lang rust, is:update

#3470 Emacs bindings: Conditionally bind workspace keys
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:refactor, re:keybinds, re:vanilla

#3466 Clarify ace-window font size and add example
  modules/ui/window-select/README.org
Labels: :ui window-select, is:new, re:docs

#3479 Add terminal-notifier support for org-pomodoro
  modules/lang/org/contrib/pomodoro.el
Labels: :lang org, is:new
