Repository doomemacs/doomemacs, pull requests merged in 2021-02, with the labels that each got.

#4610 Fix find file in private config for emacs bindings
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:bug, re:keybinds, re:no-evil

#4606 Extract program name from inferior-lisp-program
  modules/lang/common-lisp/doctor.el
Labels: :lang common-lisp, is:bug, re:bin/doom:doctor

#4604 Fix interactive doom/retab.
  core/autoload/text.el
  modules/editor/evil/autoload/evil.el
Labels: :core lib, :editor evil, is:bug

#4609 Fixes typo in rust readme.org
  modules/lang/rust/README.org
Labels: :lang rust, is:minor, re:docs

#4564 Add shortcuts and descriptions for GDScript module
  modules/lang/gdscript/config.el
Labels: :lang gdscript, is:new, re:keybinds

#4626 Add ielm-mode to lispy module
  modules/editor/lispy/config.el
Labels: :editor lispy, is:new

#4627 [feature] Better CIDER debugging
  modules/lang/clojure/config.el
Labels: :editor evil, :lang clojure, is:new

#4630 New module, :app everywhere
  init.example.el
  modules/app/everywhere/README.org
  modules/app/everywhere/cli.el
  modules/app/everywhere/config.el
  modules/app/everywhere/doctor.el
  modules/app/everywhere/packages.el
Labels: :app everywhere, is:new, re:modules

#4631 Enabling user config override for org-id-locations-file
  modules/lang/org/config.el
Labels: :lang org, is:new

#4633 Enable `ivy-rich-project-root-cache-mode`.
  modules/completion/ivy/config.el
Labels: :completion ivy, is:new, re:performance

#4516 Fix latex item indent ignore `LaTeX item indent`
  modules/lang/latex/autoload.el
Labels: :lang latex, is:bug

#4605 bump adaptive-wrap
  modules/editor/word-wrap/packages.el
  modules/lang/latex/packages.el
Labels: :editor word-wrap, :lang latex, is:update

#4650 snippets.el: Prompt should say `edit` and not `alias`.
  modules/editor/snippets/autoload/snippets.el
Labels: :editor snippets, is:minor

#4682 Add lookup handler for geiser-repl-mode
  modules/lang/scheme/config.el
Labels: :lang scheme, :tools lookup, is:new

#4670 Update instructions for Chemacs2
  docs/getting_started.org
Labels: is:update, re:chemacs, re:docs

#4654 Title the Module Index "Module Index"
  docs/modules.org
Labels: is:minor, re:docs

#4678 Set default eshell TERM
  modules/term/eshell/README.org
  modules/term/eshell/config.el
Labels: :term eshell, is:new

#4653 Fix a broken link
  docs/getting_started.org
Labels: is:revision, re:docs

#4667 Remove the custom org-priority-regexp
  modules/lang/org/config.el
Labels: :lang org, is:regression

#4663 Full-throated recommendation of emacs-mac
  docs/getting_started.org
Labels: is:revision, re:docs, re:macOS

#4637 [doc: modules/lang/cc] Readability improvements
  modules/lang/cc/README.org
Labels: :lang cc, is:new, re:docs

#4683 Purescript mode improvements
  modules/lang/purescript/config.el
  modules/lang/purescript/packages.el
Labels: :lang purescript, is:new

#4675 +scala/open-repl don't kill non-existant sbt buffer
  modules/lang/scala/autoload.el
Labels: :lang scala, is:bug

#4690 Enable disabling of magit-gitflow
  modules/tools/magit/config.el
Labels: :tools magit, is:bug

#4438 Add workspace support to rss/elfeed
  modules/app/rss/autoload.el
Labels: :app rss, :ui workspaces, is:new

#4471 Re-document flycheck-eglot compatibility layer
  modules/tools/lsp/autoload/flycheck-eglot.el
Labels: :checkers syntax, :tools lsp, is:bug, re:interpackage

#4389 Added new package to csharp lang module
  modules/lang/csharp/README.org
  modules/lang/csharp/config.el
  modules/lang/csharp/packages.el
Labels: :lang csharp, is:new, status:backlog

#4403 Fix/bepo exhaustive remaps
  modules/input/layout/+bepo.el
  modules/input/layout/README.org
  modules/input/layout/autoload/bepo.el
  modules/lang/org/config.el
Labels: :input layout, is:bug, re:keybinds

#4436 [4415] remove FIXME comment
  modules/lang/emacs-lisp/autoload.el
Labels: :lang emacs-lisp, is:revision

#4261 Revert Rails command change
  modules/lang/ruby/README.org
  modules/lang/ruby/config.el
Labels: :lang ruby, is:external, status:awaiting-followup

#4546 lang/terraform: Set docsets for terraform-mode
  modules/tools/terraform/config.el
Labels: :tools lookup, :tools terraform, is:new

#4700 `evil-org-mode-map`'s `CSright` conflict with `Cright`
  modules/lang/org/config.el
Labels: :lang org, is:regression, re:keybinds

#4705 Fixing the gpl snippet template formatting
  modules/editor/file-templates/templates/text-mode/__license-gpl3
Labels: :editor file-templates, is:bug

#4671 Add support for parinfer-rust-mode
  modules/editor/parinfer/README.org
  modules/editor/parinfer/config.el
  modules/editor/parinfer/doctor.el
  modules/editor/parinfer/packages.el
Labels: :editor parinfer, is:new
