Repository doomemacs/doomemacs, pull requests merged in 2021-12, with the labels that each got.

#5860 fix(sh): disable meta fetch by default on mac OS
  modules/lang/sh/config.el
Labels: 1. enhancement, os:macOS, re:performance, :lang sh

#5859 fix(popup): report-emacs-bug and its saved files are treated as popups.
  modules/ui/popup/config.el
Labels: 1. bug, :ui popup

#5875 feat: change inferior-fsharp-program to dotnet
  modules/lang/fsharp/config.el
Labels: 1. update, :lang fsharp

#5874 bump: org-roam
  modules/lang/org/packages.el
Labels: re:packages, :lang org, 1. update, re:org-roam

#5867 feat(python): support miniforge for conda package
  modules/lang/python/config.el
Labels: 1. enhancement, :lang python

#5863 bump: :tools biblio
  modules/tools/biblio/packages.el
Labels: re:packages, 1. update, :tools biblio

#5889 bump: :completion vertico
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
Labels: re:packages, 1. update, :completion vertico

#5855 bump: nim-mode
  modules/lang/nim/packages.el
Labels: re:packages, :lang nim, 1. update

#5676 Add `:lang fortran` module
  init.example.el
  modules/lang/fortran/README.org
  modules/lang/fortran/autoload.el
  modules/lang/fortran/config.el
  modules/lang/fortran/doctor.el
Labels: 1. enhancement, re:modules, :lang fortran

#5846 feat(magit): replace github-review for code-review
  modules/tools/magit/autoload.el
  modules/tools/magit/config.el
  modules/tools/magit/packages.el
Labels: 1. enhancement, :tools magit

#5899 docs(magit): add docs for #5846
  modules/tools/magit/README.org
Labels: re:docs, 1. maintenance, :tools magit

#5888 fix(default): only use `woman` on macOS
  modules/config/default/autoload/default.el
  modules/config/default/config.el
Labels: 1. enhancement, re:performance, :os macos, :config default

#5885 crystal: enabled spec shortcuts for crystal
  modules/lang/crystal/config.el
Labels: 1. enhancement, re:keybinds, :lang crystal

#5901 fix(magit): move code-review files to etc dir
  modules/tools/magit/config.el
Labels: 1. bug, :tools magit

#5905 fix(nim): correct nim-mode SHA
  modules/lang/nim/packages.el
Labels: re:packages, :lang nim, 1. regression

#5903 bump: :emacs dired
  modules/emacs/dired/packages.el
Labels: re:packages, :emacs dired, 1. update

#5902 fix(grammar): `writegood-mode` in `LaTeX-mode`
  modules/checkers/grammar/config.el
Labels: 1. bug, :lang latex, :checkers grammar
