Repository doomemacs/doomemacs, pull requests merged in 2021-03, with the labels that each got.

#4012 lang/julia: improve lsp support
  docs/modules.org
  modules/lang/julia/README.org
  modules/lang/julia/config.el
  modules/lang/julia/doctor.el
  modules/lang/julia/packages.el
  modules/tools/lsp/README.org
Labels: :lang julia, :tools lsp, is:new

#4600 Refactor doom/help-packages
  core/autoload/help.el
Labels: :core lib, is:new

#4521 Add org-agenda-priority keybindings to org config
  modules/lang/org/config.el
Labels: :lang org, is:bug, is:new, re:keybinds

#4718 Use new CPU counter function in cc module
  modules/lang/cc/config.el
Labels: :lang cc, is:regression

#4720 Set sh-mode's docsets to '("Bash").
  modules/lang/sh/config.el
Labels: :lang sh, :tools lookup, is:new

#4721 Fix +org/refile-to-other-window in indirect buffer
  modules/lang/org/autoload/org-refile.el
Labels: :lang org, is:bug

#4732 Fix the "Yank file path" non-evil bindings
  modules/config/default/+emacs-bindings.el
Labels: :config default, is:new, re:keybinds, re:no-evil

#3853 Rust module: Modify command for executing `cargo audit`
  modules/lang/rust/autoload.el
Labels: :lang rust, is:bug

#4708 Fix +debug/start for dap-based debuggers.
  modules/tools/debugger/autoload/debugger.el
  modules/tools/debugger/config.el
Labels: :tools debugger, is:new

#3932 Notmuch module remove `*notmuch-hello*` buffer customizations + add some documentation
  modules/email/notmuch/README.org
  modules/email/notmuch/autoload.el
  modules/email/notmuch/config.el
Labels: :email notmuch, is:new, re:docs, status:backlog

#3815 doc/adding editorconfig and hl-column-fill documentation
  modules/tools/editorconfig/README.org
  modules/ui/fill-column/README.org
Labels: :tools editorconfig, :ui fill-column, is:new, re:docs

#4512 Include snippets in lsp completion
  modules/tools/lsp/+lsp.el
Labels: :completion company, :editor snippets, :tools lsp, is:new

#3581 Added emms as doom module { :app emms }
  modules/app/emms/README.org
  modules/app/emms/autoload.el
  modules/app/emms/config.el
  modules/app/emms/packages.el
Labels: :app emms, is:new, re:modules

#4743 Emacs lisp: fix variable value display in eldoc
  modules/lang/emacs-lisp/config.el
Labels: :lang emacs-lisp, is:bug

#4748 `git-commit`: fix variable predicates
  modules/emacs/vc/config.el
Labels: :emacs vc, is:bug

#4744 org-capture: accept text arg non-interactively
  bin/org-capture
Labels: is:bug, re:bin

#4749 Fix nil issue with nav-flash & ivy
  modules/ui/nav-flash/autoload.el
Labels: :ui nav-flash, is:bug

#4755 Prioritize company-capf over company-yasnippet
  modules/tools/lsp/+lsp.el
Labels: :completion company, :tools lsp, is:ux

#4752 Fix 'too many arguments' error on org-capture
  bin/org-capture
Labels: is:bug, re:bin

#4761 Better defaults for dired
  modules/emacs/dired/config.el
Labels: :emacs dired, is:new

#4772 Fix #4770: New window is focused after split
  modules/editor/evil/autoload/evil.el
Labels: :editor evil, is:bug

#4775 Fix doom-{after,before}-reload-hook doc strings
  core/core.el
Labels: :core, is:minor, re:docs

#4782 Fix `+debugger/start` not working
  modules/tools/debugger/autoload/debugger.el
Labels: :tools debugger, is:regression

#4792 Fix non-default REPL's format of command name.
  modules/tools/eval/autoload/repl.el
Labels: :tools eval, is:bug

#4794 Add "Pandas" to python-mode's docsets.
  modules/lang/python/config.el
Labels: :lang python, :tools lookup, is:new

#4796 fix julia README
  modules/lang/julia/README.org
Labels: :lang julia, is:minor, re:docs
