Repository doomemacs/doomemacs, pull requests merged in 2021-06, with the labels that each got.

#5132 cli/packages fixes
  core/cli/packages.el
Labels: 1. enhancement, re:bin/doom

#5127 Fix typo doom update and replace with doom sync -u
  core/core-packages.el
Labels: 1. minor, :core, re:docs

#5122 Add evil-keybindings for various sharper commands
  modules/lang/csharp/config.el
Labels: 1. enhancement, :lang csharp, re:keybinds

#5115 Add haskell gitignore template
  modules/editor/file-templates/templates/gitignore-mode/__
Labels: 1. enhancement, :editor file-templates, :lang haskell

#5111 Added Flycheck documentation
  modules/checkers/syntax/README.org
Labels: 1. enhancement, :checkers syntax, re:docs

#5110 app/irc: Libera.Chat
  modules/app/irc/README.org
Labels: 1. maintenance, :app irc, re:docs

#5142 lang/java: Add file templates
  modules/editor/file-templates/templates/java-mode/__annotation-type
  modules/editor/file-templates/templates/java-mode/__class
  modules/editor/file-templates/templates/java-mode/__enum
  modules/editor/file-templates/templates/java-mode/__interface
  modules/editor/file-templates/templates/java-mode/__record
Labels: 1. enhancement, :editor file-templates, :lang java

#5153 :lang web: Recognize .ejs files as web-mode
  modules/lang/web/+html.el
Labels: 1. enhancement, :lang web

#5152 Use org-tree-slide-play-hook to hide blocks
  modules/lang/org/contrib/present.el
Labels: 1. bug, :lang org
