Repository doomemacs/doomemacs, pull requests merged in 2021-05, with the labels that each got.

#4952 Fixing windows pathway to use latest straight API
  core/cli/packages.el
Labels: :core, is:regression, re:straight

#4953 Add Info-mode to list of ligature-excluded modes.
  modules/ui/ligatures/config.el
Labels: :ui ligatures, is:bug

#4941 lang/org: cleanup `+pretty` feature, mostly just adding `if` cookie
  modules/lang/org/contrib/pretty.el
Labels: :lang org, is:bug

#4938 lang/latex: Remove the -g background flag on Skim.app to foreground the viewer
  modules/lang/latex/+viewers.el
Labels: :lang latex, is:ux

#4926 Reimplement +emacs-lisp--module-at-point to fix #4896
  modules/lang/emacs-lisp/autoload.el
Labels: :lang emacs-lisp, is:bug, is:revision

#4890 fix and add keybinds in :lang scheme, with descriptions
  modules/lang/scheme/config.el
Labels: :lang scheme, is:new, re:keybinds

#4955 Add azerty layout
  modules/input/layout/+azerty.el
  modules/input/layout/config.el
Labels: :input layout, is:new, re:keybinds

#4958 :input layout: fix calls of +layout-bepo-rotate-keymaps
  modules/input/layout/+bepo.el
Labels: :input layout, is:regression

#4963 README.org: Add info about vterm in NixOS
  modules/term/vterm/README.org
Labels: :term vterm, is:update, re:docs, re:nixos

#4962 Fix making doom-first-input-hook permanent-local
  core/core.el
Labels: :core, is:bug

#4917 rss: +org flag control installation of elfeed-org
  modules/app/rss/packages.el
Labels: :app rss, is:bug

#4967 Prevent okular from stealing focus
  modules/lang/latex/+viewers.el
Labels: :lang latex, is:ux

#4973 :input layout: fix calls of +layout-bepo-rotate-keymaps pt.2
  modules/input/layout/+bepo.el
Labels: :input layout, is:regression

#4975 Set initial state in prodigy to normal
  modules/tools/prodigy/config.el
Labels: :tools prodigy, is:update, re:evil

#4978 Add fennel-mode hook to lispy
  modules/editor/lispy/README.org
  modules/editor/lispy/config.el
Labels: :editor lispy, :lang lua, is:new

#4990 lang/emacs-lisp: Replace sym with var in +emacs-lisp-log-unsafe-local-variables-a
  modules/lang/emacs-lisp/config.el
Labels: 1. regression, :lang emacs-lisp

#4986 [docs] Add non-evil keybinding to zen
  modules/ui/zen/README.org
Labels: 1. update, :ui zen, re:docs, re:keybinds

#4996 Notmuch: docs to add
  modules/email/notmuch/README.org
Labels: 1. maintenance, :email notmuch, re:docs

#5005 Add counsel-jq to :not ivy-prescient-sort-commands
  modules/completion/ivy/config.el
Labels: 1. maintenance, :completion ivy, re:ux

#5007 notmuch: rm dead code
  modules/email/notmuch/autoload.el
Labels: 1. maintenance, :email notmuch

#5014 :lang clojure: Add some links and details
  modules/lang/clojure/README.org
Labels: 1. maintenance, :lang clojure, re:docs

#5017 Add another potential fix for icon misalignment in doom-modeline
  modules/ui/modeline/README.org
Labels: 1. enhancement, :ui modeline, re:docs, re:fonts

#5018 fix(:input layout bepo): Ensure eshell rotation goes after evil-collection maps
  modules/input/layout/+bepo.el
Labels: 1. enhancement, :input layout, :term eshell

#5019 fix(input layout bepo): remap visual-line-mode-map
  modules/input/layout/+bepo.el
Labels: 1. enhancement, :editor evil, :input layout, re:keybinds

#5026 use setq-default for notmuch-search-oldest-first
  modules/email/notmuch/config.el
Labels: 1. update, :email notmuch

#4915 fix #4901: suppress strange behavior involving org agenda commands
  modules/lang/org/config.el
Labels: 1. bug, :lang org

#5041 Fix bin/doom compile error introduced by e2a11d24fd4ea
  core/cli/byte-compile.el
Labels: 1. regression, re:bin/doom

#5008 notmuch: remove org-mime
  modules/email/notmuch/README.org
  modules/email/notmuch/config.el
  modules/email/notmuch/packages.el
Labels: 1. maintenance, :email notmuch

#5023 ophints: Add hooks for lispyville
  modules/ui/ophints/config.el
Labels: 1. enhancement, :editor lispy, :ui ophints, re:interpackage

#5044 Fix #4577: WS not at BOL is deleted to tab columns
  modules/config/default/autoload/text.el
Labels: 1. bug, :core lib, re:ux

#5045 fix typo in how to set custom elfeed.org
  modules/app/rss/README.org
Labels: 1. maintenance, :app rss, re:docs

#5048 unicode-chars-list-chars -> insert-char
  modules/completion/ivy/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: 1. enhancement, :completion ivy, :config default, re:keybinds

#5052 fix regex in lsp-file-watch-ignored-directories in elixir module
  modules/lang/elixir/config.el
Labels: 1. bug, :lang elixir

#5034 :lang racket: Fix README typos
  modules/lang/racket/README.org
Labels: 1. maintenance, :lang racket, re:docs

#3307 Add lsp and repl to +light modeline
  modules/lang/clojure/config.el
  modules/tools/lsp/+lsp.el
  modules/ui/modeline/+light.el
Labels: 1. enhancement, :lang clojure, :tools lsp, :ui modeline

#5058 :ui modeline: Fix missing arg to +modeline-format-icon function
  modules/ui/modeline/+light.el
Labels: 1. regression, :ui modeline

#5075 featuregate ivy dependent autoloads for irc, pass
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/ivy.el
  modules/app/irc/config.el
  modules/tools/pass/autoload/ivy.el
  modules/tools/pass/autoload/pass.el
Labels: 1. maintenance, :app irc, :completion ivy, :tools pass

#5062 Rust/Ivy Module Docs
  modules/completion/ivy/README.org
  modules/lang/rust/README.org
  modules/lang/rust/config.el
Labels: 1. maintenance, :completion ivy, :lang rust, re:docs

#5070 Update suggested clangd flags in lang/cc docs
  modules/lang/cc/README.org
Labels: 1. maintenance, :lang cc, :tools lsp

#5072 Noting the lsp-peek handlers as :async
  modules/tools/lsp/+lsp.el
Labels: 1. bug, :tools lsp

#4866 Bump ddskk
  modules/input/japanese/packages.el
Labels: 1. update, :input japanese, re:packages

#5080 Add vi-tilde-fringe documentation
  modules/ui/vi-tilde-fringe/README.org
Labels: 1. enhancement, :ui vi-tilde-fringe, re:docs

#4797 doc: adding treemacs readme
  modules/ui/treemacs/README.org
Labels: 1. enhancement, :ui treemacs, re:docs

#4933 Add note for fcitx5 usage
  modules/input/chinese/README.org
Labels: 1. enhancement, :input chinese, re:docs

#5037 Fix +vterm-toggle not changing directory to project root
  modules/term/vterm/autoload.el
Labels: 1. enhancement, :term vterm, re:ux

#5078 :lang javascript Enable Dash docsets in nodejs-repl-mode
  modules/lang/javascript/config.el
Labels: 1. enhancement, :lang javascript, :tools lookup

#5079 define-localleader-key's featurep -> featurep!
  core/core-keybinds.el
Labels: 1. enhancement, :core, :editor evil, re:keybinds

#5083 Add qt module documentation
  modules/lang/qt/README.org
Labels: 1. maintenance, :lang qt, re:docs

#5085 Add ranger documentation to dired README
  modules/emacs/dired/README.org
Labels: 1. enhancement, :emacs dired, re:docs

#5098 Add :not counsel-org-goto to ivy-prescient-sort-commands
  modules/completion/ivy/config.el
Labels: 1. maintenance, :completion ivy

#5101 Advice lispyville-end-of-defun to go past defuns
  modules/editor/lispy/config.el
Labels: 1. external, :editor lispy

#5107 Fix schemes README.md
  modules/lang/scheme/README.org
Labels: 1. maintenance, :lang scheme, re:docs

#5102 doctor: Check for missing `tidy`
  modules/lang/web/doctor.el
Labels: 1. enhancement, :lang web, re:bin/doom:doctor

#5103 lang/rust: Binding for `cargo doc`
  modules/lang/rust/config.el
Labels: 1. enhancement, :lang rust, re:keybinds
