Repository doomemacs/doomemacs, pull requests merged in 2021-07, with the labels that each got.

#5232 Prevent extra variable from being passed in macro.
  modules/tools/pdf/config.el
Labels: 1. bug, 2. status:moved, re:emacs:26

#5240 Set the lsp-ui-sideline-actions-icon to the default
  modules/tools/lsp/+lsp.el
Labels: 1. regression, :tools lsp

#5241 Fix command to show git log of current buffer file
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: 1. enhancement, :config default, :tools magit, re:keybinds

#5235 Filter directories when purging straight repos
  core/cli/packages.el
Labels: 1. bug, re:bin/doom, re:macOS, re:straight

#5208 remove duplicate '+' from kotlin +lsp
  docs/modules.org
Labels: 1. minor, re:docs

#5227 don't explicitly set `projectile-completion-system`
  modules/completion/helm/config.el
  modules/completion/ivy/config.el
Labels: 1. maintenance, :completion helm, :completion ivy, :core

#5230 The dart config was setting the 'flutter-run-or-hot-reload' keybind w…
  modules/lang/dart/config.el
Labels: 1. bug, :lang dart, re:keybinds

#5214 bump flycheck-kotlin to support newer ktlint
  modules/lang/kotlin/packages.el
Labels: 1. update, :lang kotlin

#5203 Define sh-mode for bats files
  modules/lang/sh/config.el
Labels: 1. enhancement, :lang sh

#5193 lang/lua: document fennel support in readme
  modules/lang/lua/README.org
Labels: 1. maintenance, :lang lua, re:docs

#5179 Fix #5128: No format-on-save by lsp-formatters
  modules/editor/format/config.el
Labels: 1. bug, :editor format

#5162 lang/json/doctor: only check for jq if ivy is on
  modules/lang/json/doctor.el
Labels: 1. enhancement, :lang json, re:bin/doom:doctor

#5202 removed unused use in "file-template rust main"
  modules/editor/file-templates/templates/rust-mode/__main.rs
Labels: 1. maintenance, :editor file-templates

#5159 Remove dependence on company for fish and bash completion in eshell
  modules/term/eshell/packages.el
Labels: 1. enhancement, :completion company, :term eshell

#5154 lang/latex +fold: fix error when yas-snippet-{beg,end} are nil
  modules/lang/latex/config.el
Labels: 1. bug, :lang latex

#5174 [:input layout bepo] Remove "W" convenience remap
  modules/input/layout/autoload/bepo.el
Labels: 1. bug, :editor evil, :input layout, re:keybinds

#5173 `SPC TAB N` binding
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/ui/workspaces/autoload/workspaces.el
Labels: 1. enhancement, :config default, :ui workspaces, re:keybinds

#5247 remove ripgrep dependency from ivy and helm readmes
  modules/completion/helm/README.org
  modules/completion/ivy/README.org
Labels: 1. maintenance, :completion helm, :completion ivy, re:docs

#5251 Remove remaining `Emacs27+` checks
  core/cli/doctor.el
  core/core.el
  modules/completion/helm/config.el
  modules/config/default/config.el
  modules/editor/evil/init.el
  modules/emacs/dired/config.el
  modules/tools/lookup/config.el
  modules/ui/popup/autoload/popup.el
Labels: 1. maintenance, :completion helm, :config default, :core, :editor evil, :emacs dired, :tools lookup, :ui popup, re:bin/doom:doctor, re:emacs:27

#5252 Bump jupyter
  modules/lang/org/packages.el
Labels: 1. update, :lang org, re:emacs:28+, re:packages

#5257 Update ui/deft README to new format
  modules/ui/deft/README.org
Labels: 1. maintenance, :ui deft, re:docs

#5269 spell: fix undefined variable
  modules/checkers/spell/autoload/+flyspell.el
Labels: 1. bug, :checkers spell

#5284 Fix formatting ignoring buffer-local variables
  modules/editor/format/autoload/format.el
Labels: 1. regression, :editor format

#5279 Improve multiple-cursors compatibility with evil-multiedit
  modules/editor/multiple-cursors/config.el
Labels: 1. bug, :editor multiple-cursors

#5274 Fix doom/help-packages to correctly print config locations
  core/autoload/help.el
Labels: 1. bug, :core lib

#5270 Add dap-cpptools to auto-requires of dap for rust
  modules/tools/debugger/config.el
Labels: 1. enhancement, :tools debugger, :tools lsp

#5264 Conform set-irc-server! indentation to the README
  modules/app/irc/autoload/settings.el
Labels: 1. maintenance, :app irc

#5228 Remove workaround for upstream lispyville PR
  modules/editor/lispy/config.el
Labels: 1. update, :editor lispy

#5165 getting_started.org: Gentoo Linux install guide
  docs/getting_started.org
Labels: 1. maintenance, re:docs, re:gentoo, re:install

#5277 emacs-bindings: default toggle for wrapping
  modules/config/default/+emacs-bindings.el
Labels: 1. maintenance, :config default, :editor word-wrap

#5191 show all available lsp servers when switching
  modules/tools/lsp/autoload/lsp-mode.el
Labels: 1. enhancement, :tools lsp

#4961 Feature-gate :tools lsp company-specific hooks
  modules/tools/lsp/+lsp.el
Labels: 1. enhancement, :completion company, :tools lsp, re:interpackage

#4910 config/default: Fix C-return binding in GUI Emacs
  modules/config/default/+emacs-bindings.el
Labels: 1. bug, :completion company, :config default, re:emacs:gui, re:keybinds

#4905 Syntax highlight .sface files as html
  modules/lang/web/+html.el
Labels: 1. enhancement, :lang web

#4664 Add Vertico module
  core/autoload/help.el
  core/autoload/projects.el
  docs/modules.org
  init.example.el
  modules/app/irc/autoload/irc.el
  modules/app/irc/autoload/vertico.el
  modules/app/irc/config.el
  modules/checkers/spell/README.org
  modules/checkers/spell/autoload/+spell-fu.el
  modules/checkers/spell/config.el
  modules/checkers/spell/packages.el
  modules/completion/vertico/README.org
  modules/completion/vertico/autoload/evil.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/autoload/workspaces.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
  modules/config/default/autoload/text.el
  modules/config/default/config.el
  modules/editor/evil/+commands.el
  modules/email/mu4e/config.el
  modules/email/notmuch/config.el
  modules/email/notmuch/packages.el
  modules/input/layout/+bepo.el
  modules/lang/org/config.el
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
  modules/tools/lookup/autoload/lookup.el
  modules/tools/lookup/config.el
  modules/tools/lsp/README.org
  modules/tools/lsp/packages.el
  modules/ui/workspaces/config.el
Labels: 1. enhancement, re:modules

#5271 lang/org: Add `+roam2` flag for org-roam v2
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/lang/org/README.org
  modules/lang/org/autoload/contrib-roam2.el
  modules/lang/org/config.el
  modules/lang/org/contrib/roam2.el
  modules/lang/org/doctor.el
  modules/lang/org/packages.el
Labels: 1. update, :lang org

#5288 vertico: remove +fuzzy check in +vertico-file-search
  modules/completion/vertico/autoload/vertico.el
Labels: 1. maintenance, :completion vertico

#5295 vertico: require embark in +vertico/embark-export-write
  modules/completion/vertico/autoload/vertico.el
Labels: 1. bug, :completion vertico

#5296 editor/evil: Add gr keybinding to refresh `helpful` buffers
  modules/editor/evil/config.el
Labels: 1. bug, :editor evil, re:keybinds

#5300 Adding new line on string on how to upgrade Emacs
  bin/doom
Labels: 1. bug, re:bin/doom, re:docs, re:install

#5310 fix: use new commit format in `doom/bumpify-diff`
  core/autoload/packages.el
Labels: 1. update, :core lib

#5311 Fix +lookup/in-docsets's vertico section
  modules/tools/lookup/autoload/docsets.el
Labels: 1. bug, :completion vertico, :tools lookup

#5303 Add "SPC p &" binding as projectile-run-async-shell-command-in-root
  modules/config/default/+evil-bindings.el
Labels: 1. enhancement, :config default, re:evil, re:keybinds

#5302 Changed editor/format lsp feature requirement from textDocument/rangeFormatting to textDocument/formatting
  modules/editor/format/autoload/format.el
Labels: 1. enhancement, :editor format, :tools lsp

#5312 Fix +vertico-file-search when separator is used
  modules/completion/vertico/autoload/vertico.el
Labels: 1. bug, :completion vertico

#5316 Black list XDG_SESSION_TYPE from doom-env
  core/cli/env.el
Labels: 1. bug, re:bin/doom:env

#5315 Fixed the keybind for fold/unfold all
  modules/editor/fold/README.org
Labels: 1. bug, :editor fold, re:docs, re:keybinds

#3971 Mu4e Module Revamp
  docs/modules.org
  init.example.el
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/autoload/mu-lock.el
  modules/email/mu4e/config.el
  modules/email/mu4e/doctor.el
  modules/email/mu4e/packages.el
Labels: 1. enhancement, :email mu4e

#5299 Vertico improvements: theming, bugfixes, new bindings, adaptations to upstream changes
  modules/completion/vertico/README.org
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/tools/lsp/packages.el
  modules/ui/doom/packages.el
Labels: 1. enhancement, 1. update, :completion vertico

#5309 Allow evil users to quickly close the LSP signature buffer
  modules/tools/lsp/+lsp.el
Labels: 1. enhancement, :tools lsp, re:interface, re:keybinds
