Repository doomemacs/doomemacs, pull requests merged in 2021-08, with the labels that each got.

#5325 Update Go tool URL in README
  modules/lang/go/README.org
Labels: 1. update, :lang go, re:docs

#5322 Enable rg's smart case for +vertico-file-search
  modules/completion/vertico/autoload/vertico.el
Labels: 1. bug, :completion vertico

#4861 doom/move-this-file now supports moving directly into a directory
  core/autoload/files.el
Labels: 1. bug, :core lib

#4945 Bind TeX-view in LaTeX-mode-map too
  modules/lang/latex/config.el
Labels: 1. bug, :lang latex, re:keybinds

#5233 Add configuration to ensure that CIDER is used for babel
  modules/lang/clojure/config.el
Labels: 1. update, :lang clojure, :lang org

#5328 Fix lispy `j` collision
  modules/editor/lispy/config.el
Labels: 1. bug, 2. status:confirmed, :editor evil, :editor lispy

#5333 Mu4e hotfixes
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/mu-lock.el
  modules/email/mu4e/config.el
Labels: 1. bug, :email mu4e, re:macOS

#4791 Add module for the dhall config language
  init.example.el
  modules/lang/dhall/config.el
  modules/lang/dhall/packages.el
Labels: 1. enhancement, :lang dhall, re:modules

#5346 Fix #4468: +org-defer-mode-in-agenda-buffers-h tries to select killed buffer
  modules/lang/org/config.el
Labels: 1. bug, :lang org

#5329 Explicitly set xref handlers when eglot is enabled
  modules/tools/lsp/+eglot.el
Labels: 1. bug, :tools lookup, :tools lsp

#5368 fix: doom/reload-env wrong-number-of-arguments
  core/autoload/config.el
Labels: :core lib, 1. regression

#5375 Adds quit message from Sid Meier's Alpha Centauri
  modules/ui/doom-quit/config.el
Labels: 1. enhancement, :ui doom-quit
