Repository doomemacs/doomemacs, pull requests merged in 2021-01, with the labels that each got.

#4473 Add missing install commands for spell checkers
  modules/checkers/spell/README.org
Labels: :checkers spell, is:new, re:docs

#4476 Fix company backends for text and org modes
  modules/completion/company/autoload.el
  modules/lang/org/config.el
Labels: :completion company, :lang org, is:bug

#4492 Fix `+eshell/split-window' error
  modules/term/eshell/autoload/eshell.el
Labels: :term eshell, is:regression

#4494 Bump better-jumper. Fixes #2826
  core/packages.el
Labels: :core, is:bug

#4497 Respect the :ignore property for packages installed as dependencies
  core/core-packages.el
Labels: :core, is:bug, re:packages

#4470 Add checks for executables needed by org-download
  modules/lang/org/doctor.el
Labels: :lang org, is:new, re:bin/doom:doctor

#4467 Disable scheme-mode for .rkt files if :lang racket
  modules/lang/scheme/config.el
Labels: :lang racket, :lang scheme, is:bug

#4461 Add cider pprint to local map.
  modules/lang/clojure/README.org
  modules/lang/clojure/config.el
Labels: :lang clojure, is:new, re:keybinds

#4456 Fix interactive call of doom/bump-package
  core/autoload/packages.el
Labels: :core lib, is:bug

#4455 Fix typos in `docs/getting_started.org`
  docs/getting_started.org
Labels: is:revision, re:docs

#4448 Add `--exclude .git` to fd in `projectile-generic-command`
  core/core-projects.el
Labels: :core, is:bug

#4447 :editor fold - minor documentation fix
  modules/editor/fold/README.org
Labels: :editor fold, is:minor, re:docs

#4511 Improving snippet lookup behavior
  modules/editor/snippets/autoload/snippets.el
Labels: :editor snippets, is:bug

#4507 Some minor enhancements to the ansible module
  modules/tools/ansible/config.el
  modules/tools/ansible/doctor.el
Labels: :completion company, :tools ansible, is:new

#4503 Emacs-lisp eldoc: fix error if symbol unbound
  modules/lang/emacs-lisp/config.el
Labels: :lang emacs-lisp, is:bug

#4488 Markdown: add keymap for insert commands
  modules/lang/markdown/config.el
Labels: :lang markdown, is:new, re:keybinds

#4550 Fix path separator in msys2
  core/core-projects.el
  modules/completion/ivy/config.el
Labels: :completion ivy, is:bug, re:windows

#4575 Fix typo
  core/cli/packages.el
Labels: :core, is:regression

#4531 Fix spelling
  core/core-lib.el
  core/core-modules.el
  core/core.el
Labels: :core, is:minor

#4520 Update ocaml bindings docs
  modules/lang/ocaml/README.org
Labels: :lang ocaml, is:revision, re:docs

#4533 Fix various broken links
  modules/editor/evil/config.el
  modules/editor/file-templates/templates/emacs-lisp-mode/__package
  modules/lang/fsharp/README.org
  modules/lang/julia/config.el
  modules/ui/doom/README.org
  modules/ui/unicode/README.org
Labels: :editor evil, :editor file-templates, :lang fsharp, :lang julia, :ui doom, :ui unicode, is:revision, is:update, re:docs

#4530 Fix +evil--insert-new-line advice when opening new line inside a comment
  modules/editor/evil/autoload/advice.el
Labels: :editor evil, is:bug

#4370 org: jupyter prerequisites
  modules/lang/org/README.org
Labels: :lang org, is:revision, re:docs

#4583 Fix for "Discover projects in folder"
  modules/config/default/autoload/files.el
Labels: :config default, is:regression

#4582 Fix 'readme' button doom/help-packages
  core/autoload/help.el
Labels: :core lib, is:regression

#4588 Fix :unless in (doom!) block.
  core/core-modules.el
Labels: :core, is:bug

#4593 Remap `describe-symbol` to `counsel-describe-symbol` .
  modules/completion/ivy/config.el
Labels: :completion ivy, is:new

#4599 Doom Doctor: Fix insteadOf check
  core/cli/doctor.el
Labels: is:bug, re:bin/doom:doctor
