Repository doomemacs/doomemacs, pull requests merged in 2021-09, with the labels that each got.

#5463 bump!: :emacs vc
  modules/emacs/vc/packages.el
Labels: :emacs vc, 1. update

#5449 docs(mu4e): fix msmtp config in readme
  modules/email/mu4e/README.org
Labels: re:docs, 1. maintenance, :email mu4e

#5434 Ignore 'places', 'transient/' after doom sync -u
  .gitignore
Labels: 1. bug

#5389 Holy hercules! more portal quit lines
  modules/ui/doom-quit/config.el
Labels: 1. enhancement, :ui doom-quit

#5412 fix(coq): disable spinner by default
  modules/lang/coq/config.el
Labels: 1. bug, :lang coq

#5405 fix(evil): use evil-collection for package-menu
  modules/editor/evil/init.el
Labels: 1. enhancement, :editor evil

#5402 docs: Fix broken link to org-roam v2 in org readme
  modules/lang/org/README.org
Labels: re:docs, 1. maintenance, :lang org

#5355 fix(lsp): support +pyright with eglot
  modules/lang/python/config.el
Labels: 1. enhancement, :tools lsp, :lang python

#5357 Add clojure gitignore template
  modules/editor/file-templates/templates/gitignore-mode/__
Labels: 1. enhancement, :editor file-templates

#5266 Start wl-summary-mode in evil-emacs-state
  modules/email/wanderlust/config.el
Labels: 1. bug, :email wanderlust, re:evil

#5377 fix(multiple-cursors): keybind conflict with embark
  modules/editor/multiple-cursors/config.el
Labels: 1. bug, re:keybinds, :editor multiple-cursors, :completion vertico

#5371 Consider mapping org-mode-map "f" to org-footnote-action
  modules/lang/org/config.el
Labels: 1. enhancement, re:keybinds, :lang org

#5415 feat(scheme): auto-add guix channels to load-path
  modules/lang/scheme/config.el
Labels: 1. enhancement, :lang scheme, re:guix

#5337 Improve `:lang haskell`
  core/core-modules.el
  docs/modules.org
  init.example.el
  modules/lang/haskell/+dante.el
  modules/lang/haskell/+lsp.el
  modules/lang/haskell/README.org
  modules/lang/haskell/config.el
  modules/lang/haskell/doctor.el
  modules/lang/haskell/packages.el
Labels: 1. enhancement, :lang haskell

#5468 Improve `:email mu4e` (for Mu4e 1.6)
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/config.el
Labels: 1. enhancement, :email mu4e

#5353 Improve `:completion vertico`
  modules/completion/vertico/README.org
  modules/completion/vertico/autoload/magit.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
  modules/completion/vertico/doctor.el
  modules/completion/vertico/packages.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/default.el
  modules/editor/evil/+commands.el
  modules/email/notmuch/packages.el
  modules/tools/lsp/+eglot.el
  modules/tools/lsp/+lsp.el
  modules/tools/lsp/packages.el
Labels: 1. enhancement, :completion vertico

#5480 fix(layout): prevent magit from stealing t in bépo
  modules/input/layout/+bepo.el
Labels: 1. bug, re:keybinds, :tools magit, :input layout

#5443 feat(web): add *.[lh]?eex support
  modules/lang/web/+html.el
Labels: 1. enhancement, :lang web

#5429 fix(snippets): yas-expand error when yas-choose-value
  modules/editor/snippets/autoload/snippets.el
Labels: 1. bug, :editor snippets

#5392 feat(default): +default/yank-buffer-path-relative-to-project includes project name if prefix arg is passed
  modules/config/default/autoload/text.el
Labels: 1. enhancement, :config default

#5484 bump: :tools magit
  modules/tools/magit/packages.el
Labels: :tools magit, 1. update

#5428 Revert "Add set -euo pipefail to sh-mode file template"
  modules/editor/file-templates/templates/sh-mode/__
Labels: 1. enhancement, :editor file-templates

#5490 fix(emacs-lisp): quiet doc lints in org src blocks
  modules/lang/emacs-lisp/autoload.el
Labels: 1. bug, :checkers syntax, :lang emacs-lisp, :lang org

#5492 fix(notmuch): window is not a valid window error on sync end
  modules/email/notmuch/autoload.el
Labels: 1. bug, :email notmuch

#5505 refactor!(:term): toggle commands now always hide
  modules/term/eshell/autoload/eshell.el
  modules/term/shell/autoload.el
  modules/term/term/autoload.el
  modules/term/vterm/autoload.el
Labels: 1. enhancement, :term eshell, :term term, :term vterm, :term shell

#5504 feat(default): add .emacs.d search on <leader> s e
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/autoload/search.el
Labels: 1. enhancement, re:keybinds, :config default

#5502 Mu4e: improve message checks at send
  modules/email/mu4e/config.el
Labels: 1. enhancement, :email mu4e

#5500 Add pdf pages to +light modeline
  modules/ui/modeline/+light.el
Labels: 1. enhancement, :ui modeline, :tools pdf

#5495 tweak(web): add nxml mode to LSP enabled modes
  modules/lang/web/+html.el
Labels: 1. enhancement, :tools lsp, :lang web

#5515 fix(:lang/common-lisp): check inferior-lisp-program like "ros -Q run"
  modules/lang/common-lisp/config.el
Labels: 1. bug, :lang common-lisp

#5519 bump: :tools magit
  modules/tools/magit/packages.el
Labels: :tools magit, 1. update

#5536 bump: :tools magit
  modules/tools/magit/packages.el
Labels: :tools magit, 1. update
