Repository doomemacs/doomemacs, pull requests merged in 2021-10, with the labels that each got.

#5359 ligatures/pragmata: Update ligature table for pragmata 0.829
  modules/ui/ligatures/+pragmata-pro.el
Labels: :ui ligatures, re:fonts, 1. update

#5487 docs(javascript): fix tide-rename-symbol binding
  modules/lang/javascript/README.org
Labels: re:docs, 1. maintenance, :lang javascript

#5493 docs(common-lisp): add a README
  modules/lang/common-lisp/README.org
Labels: 1. enhancement, re:docs, :lang common-lisp

#5521 tweak(mu4e): change org-msg ch units to em
  modules/email/mu4e/config.el
Labels: 1. bug, :email mu4e

#5523 improve `:app rss` module
  modules/app/rss/README.org
  modules/app/rss/autoload.el
  modules/app/rss/config.el
  modules/app/rss/packages.el
Labels: 1. enhancement, :app rss

#5540 feat(notmuch): allow notmuch module without (:ui workspaces)
  modules/email/notmuch/autoload.el
Labels: 1. enhancement, :ui workspaces, :email notmuch

#5550 fix(mu4e): minor errors with org-msg LaTeX eqns
  modules/email/mu4e/autoload/advice.el
Labels: 1. maintenance, :email mu4e

#5489 bump: :ui doom
  modules/ui/doom/packages.el
Labels: :ui doom, 1. update

#5568 feat(org): add binding for `org-clone-subtree-with-time-shift`
  modules/lang/org/config.el
Labels: 1. enhancement, re:keybinds, :lang org

#5444 Improve `:editor parinfer`
  modules/editor/parinfer/README.org
  modules/editor/parinfer/config.el
  modules/editor/parinfer/doctor.el
  modules/editor/parinfer/packages.el
Labels: 1. enhancement, :editor parinfer

#5548 refactor(pass): make duplicate functions obsolete
  modules/tools/pass/autoload/ivy.el
  modules/tools/pass/autoload/pass.el
Labels: 1. maintenance, :tools pass

#5571 feat(rotate-text): add enable & disable
  modules/editor/rotate-text/autoload.el
Labels: 1. enhancement, :editor rotate-text

#5572 fix(dired): ranger-travel bug
  modules/emacs/dired/config.el
Labels: :emacs dired, 1. external

#5573 fix(mu4e): make alerts work again
  modules/email/mu4e/config.el
Labels: 1. bug, :email mu4e

#5578 tweak(default): improve smartparens vanilla bindings
  modules/config/default/+emacs-bindings.el
Labels: 1. enhancement, re:keybinds, :config default, re:no-evil
