Repository doomemacs/doomemacs, pull requests merged in 2022-03, with the labels that each got.

#6195 fix(ibuffer): Wrong number of arguments to ibuffer-find-file with ivy enabled.
  modules/emacs/ibuffer/config.el
Labels: 1. bug, :completion ivy, :emacs ibuffer

#6200 feat(idris): add +lsp to idris language configuration
  modules/lang/idris/config.el
Labels: 1. enhancement, :tools lsp, :lang idris

#6197 fix(multiple-cursors): fix keybinds for evil-mc-make-and-goto-next(last)-cursor
  modules/editor/multiple-cursors/config.el
Labels: re:keybinds, 1. maintenance, :editor multiple-cursors

#6191 feat(hydra): add winner commands to +hydra/window-nav
  modules/ui/hydra/autoload/windows.el
Labels: 1. enhancement, :ui hydra

#6190 tweak(file-templates): remove default JSON template
  modules/editor/file-templates/config.el
  modules/editor/file-templates/templates/json-mode/__
Labels: 1. enhancement, :editor file-templates, :lang json

#6187 feat(magit): add maps for code-review keys
  modules/tools/magit/config.el
Labels: 1. enhancement, re:keybinds, :tools magit

#6186 feat(org): keybinds for removing RESULTS blocks
  modules/lang/org/autoload/org-babel.el
  modules/lang/org/config.el
Labels: 1. enhancement, re:keybinds, :lang org

#6184 fix(org): move journal entry keybinds to 'SPC m j'
  modules/lang/org/contrib/journal.el
Labels: 1. bug, re:keybinds, :lang org

#6183 bump: :lang clojure
  modules/lang/clojure/packages.el
Labels: re:packages, :lang clojure, 1. update

#6176 docs(fortran): reference the newer fortls LSP
  modules/lang/fortran/README.org
Labels: re:docs, 1. maintenance, :lang fortran

#6165 tweak(vertico): ignore svn and hg dirs in file search
  modules/completion/vertico/autoload/vertico.el
Labels: 1. enhancement, :completion vertico

#6157 docs(company): code completion with multiple keywords
  modules/completion/company/README.org
Labels: 1. enhancement, re:docs, :completion company, :completion vertico

#6141 fix(web): typo
  modules/lang/web/+html.el
Labels: 1. bug, re:keybinds, :lang web

#6164 bump: :tools envrc
  modules/tools/direnv/packages.el
Labels: re:packages, 1. update, :tools direnv

#6145 fix(org): multiple fixes for +org--insert-item
  modules/lang/org/autoload/org.el
Labels: 1. bug, :lang org

#6208 nit(org): lower case keywords in file templates
  modules/editor/file-templates/templates/org-mode/__
  modules/editor/file-templates/templates/org-mode/__contact.org
  modules/editor/file-templates/templates/org-mode/__invoice.org
  modules/editor/file-templates/templates/org-mode/__project.org
Labels: :editor file-templates, :lang org, 1. minor
