Repository doomemacs/doomemacs, pull requests merged in 2022-08, with the labels that each got.

#6616 refactor!(evil): remove evil-want-C-w-scroll
  modules/editor/evil/config.el
Labels: module:editor/evil, is:update

#5743 feat(vc): add next conflict in project to +vc/smerge-hydra
  modules/emacs/vc/autoload/hydra.el
Labels: is:feature, module:emacs/vc, module:ui/hydra

#6570 fix: enable rainbow-delimiters in rustic-mode
  modules/lang/rust/config.el
Labels: is:bug, module:lang/rust

#6614 tweak(latex): ask Skim.app to reload pdf
  modules/lang/latex/+viewers.el
Labels: is:tweak, module:lang/latex

#6611 nit(php): update readme
  modules/lang/php/README.org
Labels: is:docs, module:lang/php

#6610 fix(mu4e): add missing icons for mu 1.8.X
  modules/email/mu4e/autoload/email.el
Labels: is:bug, module:email/mu4e

#6287 fix(default): +default/yank-buffer-path echos the file name as nil on Emacs 29 PGTK
  modules/config/default/autoload/text.el
Labels: is:bug, module:config/default, re:pgtk, re:emacs:29+

#6627 feat(go): add test-file function and keybinding
  modules/lang/go/autoload.el
  modules/lang/go/config.el
Labels: is:feature, re:keybinds, module:lang/go

#6646 docs(vertico): add `+childframe` flag
  modules/completion/vertico/README.org
Labels: is:docs, module:completion/vertico

#6247 feat(terraform): support terragrunt
  modules/tools/terraform/config.el
Labels: is:feature, module:tools/terraform

#6628 bump: :tools biblio
  modules/tools/biblio/README.org
  modules/tools/biblio/config.el
  modules/tools/biblio/packages.el
Labels: is:update, module:tools/biblio

#6666 feat(default): use consult-flycheck when applicable
  modules/config/default/autoload/default.el
Labels: is:feature, module:checkers/syntax, module:config/default, module:completion/vertico

#6661 fix(ocaml): ocaml tree-sitter function typo
  modules/lang/ocaml/config.el
Labels: is:bug, module:tools/tree-sitter

#6659 fix(org): respect org-table-automatic-realign
  modules/lang/org/autoload/org-tables.el
Labels: is:bug, module:lang/org

#6697 fix(lib): doom-exec-process use doom-print--format
  lisp/lib/process.el
Labels: is:regression, module:core/lib

#6689 docs(mu4e): mention variable renamed in mu-1.8
  modules/email/mu4e/README.org
Labels: is:docs, module:email/mu4e

#6688 fix: defer-feature! fallback FNS
  lisp/doom-lib.el
Labels: is:bug, module:core
