Repository doomemacs/doomemacs, pull requests merged in 2022-04, with the labels that each got.

#6146 Minor python updates
  modules/lang/python/config.el
Labels: 1. enhancement, :lang python

#6232 fix(vertico): vertico-resume to vertico-repeat.
  modules/completion/vertico/autoload/vertico.el
Labels: 1. regression, :completion vertico

#6237 perf(lookup): defer consult-xref
  modules/tools/lookup/config.el
Labels: 1. enhancement, re:performance, :tools lookup

#6226 Add `:lang graphql` module
  init.example.el
  modules/lang/graphql/README.org
  modules/lang/graphql/autoload.el
  modules/lang/graphql/config.el
  modules/lang/graphql/packages.el
  modules/lang/org/packages.el
Labels: 1. enhancement, re:modules

#6239 tweak(&org-roam2): map zm to close all folds
  modules/lang/org/contrib/roam2.el
Labels: 1. enhancement, re:keybinds, :lang org, re:org-roam

#6244 fix(default): replace vertico-repeat with vertico-repeat-last
  modules/config/default/+emacs-bindings.el
Labels: re:keybinds, :config default, 1. update, re:no-evil

#6254 Remove *Messages* spam
  modules/lang/graphql/config.el
Labels: 1. bug, :lang graphql

#6256 fix(org): #+ constructs hidden forever
  modules/lang/org/contrib/present.el
Labels: 1. bug, :lang org

#6262 tweak(ivy): use helpful for counsel descbinds
  modules/completion/ivy/config.el
Labels: 1. enhancement, :completion ivy

#6274 docs(agda): document +local flag
  modules/lang/agda/README.org
Labels: 1. enhancement, re:docs, :lang agda

#6272 Updates to `doom doctor` output for emacs 28
  core/cli/doctor.el
Labels: re:bin/doom:doctor, 1. update, re:emacs:28+, re:native-comp, re:emacs:29+

#6271 feat(default): on evil bind rename-buffer to <leader> b R
  modules/config/default/+evil-bindings.el
Labels: 1. enhancement, re:keybinds, :config default

#6266 docs: add texlive-latexextra dependency for pdflatex exports
  modules/lang/org/README.org
Labels: 1. enhancement, re:docs, :lang latex, os:archlinux

#6118 feat(vertico): add +childframe option similar to ivy
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
Labels: 1. enhancement, re:interface, :completion vertico

#6301 add some `:lang go` doctor checks
  modules/lang/go/doctor.el
Labels: 1. enhancement, re:docs, :lang go, re:bin/doom:doctor

#6302 docs: update supported emacs versions in readme badge
  README.md
Labels: re:docs, 1. maintenance, re:emacs:28+

#6298 feat(clojure): use lsp features when +lsp flag is enabled
  modules/lang/clojure/config.el
  modules/lang/clojure/doctor.el
Labels: 1. enhancement, :tools lsp, :lang clojure

#6310 fix(python): usage of obsolete alias letf
  modules/lang/python/config.el
Labels: :lang python, 1. regression

#5526 Add `:input bidi` module
  docs/modules.org
  init.example.el
  modules/input/bidi/README.org
  modules/input/bidi/config.el
Labels: 1. enhancement, re:modules, :input bidi

#6323 docs(bidi): fix #+DATE field in readme
  modules/input/bidi/README.org
Labels: re:docs, 1. maintenance, :input bidi

#6332 fix(textobjects): define *-any-quote directly
  modules/editor/evil/autoload/textobjects.el
Labels: 1. bug, :editor evil

#6333 fix(fortran): account for spaces in filenames
  modules/lang/fortran/autoload.el
Labels: 1. bug, :lang fortran
