Repository doomemacs/doomemacs, pull requests merged in 2022-07, with the labels that each got.

#6553 fix(mu4e): Support mu 1.8
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/autoload/mu-lock.el
  modules/email/mu4e/config.el
Labels: re:packages, module:email/mu4e, is:update

#6545 bump: :lang scala
  modules/lang/scala/packages.el
Labels: re:packages, module:lang/scala, is:update

#6550 bump: :completion vertico
  modules/completion/vertico/packages.el
Labels: re:packages, is:update, module:completion/vertico

#6364 feat(dart): improve keybindings for better Flutter control
  modules/lang/dart/config.el
Labels: is:feature, re:keybinds, module:lang/dart

#6535 fix: strip './' from projectile file list produced by fd
  core/core-projects.el
Labels: re:packages, module:core, is:update

#6536 fix(pass): enable evil-collection bindings
  modules/tools/pass/config.el
Labels: is:feature, module:editor/evil, module:tools/pass

#6537 fix(python): edit `pyimport-remove-unused` binding
  modules/lang/python/config.el
Labels: is:bug, re:keybinds, module:lang/python

#6538 bump: :lang lua
  modules/lang/lua/packages.el
Labels: re:packages, module:lang/lua, is:update

#6558 docs(sh): add doctor check for shfmt
  modules/lang/sh/doctor.el
Labels: is:docs, module:lang/sh, re:cli:doctor

#6560 tweak(default): consult-flymake in a branch of +default-diagnostics
  modules/config/default/autoload/default.el
Labels: is:tweak, module:config/default, module:completion/vertico

#6579 notmuch: improve update
  modules/email/notmuch/autoload.el
Labels: is:tweak, module:email/notmuch

#6543 feat(default): bind 'SPC b I' to open ibuffer for workspace
  modules/config/default/+evil-bindings.el
Labels: is:feature, re:keybinds, module:config/default

#6554 fix(vertico): +vertico/consult-fd breaking due to API change in consult
  modules/completion/vertico/autoload/vertico.el
Labels: is:bug, module:completion/vertico

#6490 docs(tree-sitter): improve README formatting
  modules/tools/tree-sitter/README.org
Labels: is:docs, module:tools/tree-sitter
