Repository doomemacs/doomemacs, pull requests merged in 2022-10, with the labels that each got.

#6827 fix(mu4e): cooperative lock file watching
  modules/email/mu4e/autoload/mu-lock.el
Labels: is:bug, module:email/mu4e

#6857 fix(grammar): use languagetool in $PATH, if available
  modules/checkers/grammar/config.el
Labels: is:bug, os:macOS, module:checkers/grammar

#6870 fix: change warning-suppress-types to list of lists
  lisp/doom.el
Labels: module:core, is:regression

#6739 feat(workspaces): make tab-bar tabs workspace-local
  modules/ui/workspaces/autoload/workspaces.el
  modules/ui/workspaces/config.el
Labels: is:feature, module:ui/workspaces

#6707 fix(magit): evil keybinds for magit-worktree
  modules/tools/magit/config.el
Labels: is:bug, re:keybinds, module:editor/evil, module:tools/magit

#6644 tweak(mu4e): change icon for reply flagged mails
  modules/email/mu4e/autoload/email.el
Labels: is:tweak, module:email/mu4e

#6880 fix(cli): split tput call into separate calls
  bin/doomscript
Labels: re:cli, is:regression, re:bin

#6831 bump: :lang haskell
  modules/lang/haskell/packages.el
Labels: re:packages, module:lang/haskell, is:update

#6663 fix(org): check WAYLAND_DISPLAY for bin/org-capture
  modules/lang/org/autoload/org-capture.el
Labels: is:bug, module:lang/org, re:bin, re:wayland

#6920 bump: :ui modeline
  modules/ui/modeline/packages.el
Labels: re:packages, module:ui/modeline, is:update

#6909 fix(lsp): stop logging project root
  modules/tools/lsp/+lsp.el
Labels: module:tools/lsp, is:update

#6898 docs(vertico): fix outdated consult config var name
  modules/completion/vertico/README.org
Labels: is:docs, module:completion/vertico

#6897 tweak(ansible): also match tasks/main.yaml
  modules/tools/ansible/config.el
Labels: is:tweak, module:tools/ansible

#6890 feat(default): bind :leader "t v" to visible-mode
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
Labels: re:keybinds, is:tweak, module:config/default

#6863 docs(notmuch): fix custom sync backend snippet
  modules/email/notmuch/README.org
Labels: is:docs, module:email/notmuch

#6716 feat(org): bind '<localleader> r R' to org-refile-reverse
  modules/lang/org/config.el
Labels: is:feature, re:keybinds, module:lang/org

#5929 docs(org): warn about org-roam-v1 status
  modules/lang/org/README.org
  modules/lang/org/doctor.el
Labels: is:docs, module:lang/org

#6288 fix(eval): lookup RET binding in insert if evil
  modules/tools/eval/autoload/repl.el
Labels: is:bug, module:tools/eval, re:evil
