Repository doomemacs/doomemacs, pull requests merged in 2022-02, with the labels that each got.

#6096 fix(org): don't error org-download at top level
  modules/lang/org/contrib/dragndrop.el
Labels: 1. bug, :lang org

#6092 bump: update squashed hash in emacs-undo-fu-session
  modules/emacs/undo/packages.el
Labels: re:packages, 1. update, :emacs undo

#6090 revert(org): gnuplot 8.0.0 does not work with org babel
  modules/lang/org/packages.el
Labels: 1. bug, :lang org

#6100 fix(html): web-mode did rename web-mode-buffer-highlight to web-mode-reload
  modules/lang/web/+html.el
Labels: :lang web, 1. update

#6084 fix(org): parity for headlines & items in `+org--insert-item`
  modules/lang/org/autoload/org.el
Labels: 1. enhancement, :lang org

#5808 tweak!(input): remove remapping of i_ctrl-* keys
  modules/input/layout/autoload/bepo.el
Labels: re:keybinds, 1. maintenance, :input layout

#6103 fix(evil):jump preprocessor directive bug.
  modules/editor/evil/autoload/unimpaired.el
Labels: 1. bug, :editor evil

#6111 bump: :lang csharp
  modules/lang/csharp/packages.el
Labels: re:packages, :lang csharp, 1. update

#6109 tweak(cc): default to +lsp
  init.example.el
Labels: 1. maintenance, :lang cc, re:defaults

#6123 nit: fix typo in tuareg mode
  core/autoload/help.el
Labels: 1. bug, :lang ocaml

#6143 bump: :lang coq
  modules/lang/coq/packages.el
Labels: re:packages, :lang coq, 1. update

#6138 tweak(file-templates): update default solidity template
  modules/editor/file-templates/templates/solidity-mode/__sol
Labels: 1. enhancement, :editor file-templates, :lang solidity

#6135 tweak(emacs-lisp): local leader for lisp-interaction-mode
  modules/lang/emacs-lisp/config.el
Labels: 1. enhancement, re:keybinds, :lang emacs-lisp

#6133 feat(ligatures): include support for new ligatures
  modules/ui/ligatures/config.el
Labels: :ui ligatures, re:fonts, 1. update

#6132 feat(mu4e): more helpful headers mode-line symbols
  modules/email/mu4e/config.el
Labels: 1. enhancement, :email mu4e

#6130 feat(multiple-cursors): add bindings to `evil-mc-skip-*`
  modules/config/default/+evil-bindings.el
Labels: 1. enhancement, re:keybinds, :editor multiple-cursors

#6120 tweak(evil): respect users' evil-collection-key-blacklist
  modules/editor/evil/init.el
Labels: 1. enhancement, :editor evil
