Repository doomemacs/doomemacs, pull requests merged in 2022-01, with the labels that each got.

#5949 docs(lookup): fix typos
  modules/tools/lookup/README.org
Labels: re:docs, 1. maintenance, :tools lookup

#5942 tweak(dired): don't auto-revert when remote
  modules/emacs/dired/config.el
Labels: 1. enhancement, :emacs dired, re:remote

#5939 bump: :term vterm
  modules/term/vterm/packages.el
Labels: re:packages, :term vterm, 1. update

#5907 fix(magit): unbind M-1 etc. for code-review
  modules/tools/magit/config.el
Labels: 1. bug, re:keybinds, :tools magit

#5908 Add :send-region and :send-buffer options to `set-repl-handler!`
  modules/lang/python/config.el
  modules/tools/eval/autoload/eval.el
  modules/tools/eval/autoload/settings.el
Labels: 1. enhancement, :tools eval, :lang python

#5956 docs(coq): Expand README
  modules/lang/coq/README.org
Labels: 1. enhancement, re:docs, :lang coq

#5930 fix(default): smartparens rules for haskell
  modules/config/default/config.el
Labels: 1. bug, :config default

#5893 fix(erlang): fix broken erlang-mode
  modules/lang/erlang/config.el
  modules/lang/erlang/doctor.el
  modules/lang/erlang/packages.el
Labels: 1. bug, 1. enhancement, re:packages, :lang erlang, 1. update

#5955 docs(haskell): fix docs for alternative formatter
  modules/lang/haskell/README.org
Labels: re:docs, 1. maintenance, :lang haskell

#5960 tweak(web): detect and set angular in web-mode
  modules/lang/web/config.el
Labels: 1. enhancement, :lang web

#5972 fix(clojure): Add clojurec-mode repl+eval handlers
  modules/lang/clojure/config.el
Labels: 1. bug, :tools eval, :lang clojure

#5967 feat(php): replace php-boris with psysh
  modules/lang/php/autoload.el
  modules/lang/php/config.el
  modules/lang/php/packages.el
Labels: 1. enhancement, :tools eval, :lang php

#5996 bump: :lang common-lisp
  modules/lang/common-lisp/packages.el
Labels: re:packages, :lang common-lisp, 1. update

#5986 docs(org): fix type in org README capture example
  modules/lang/org/README.org
Labels: re:docs, 1. maintenance, :lang org

#5976 fix(javascript): incorrect lsp formatting for tsx
  modules/lang/javascript/config.el
Labels: 1. bug, :tools lsp, :lang javascript

#5953 `:completion vertico` improvements
  modules/completion/vertico/README.org
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
Labels: 1. enhancement, re:packages, 1. update, :completion vertico

#6001 fix(cli): switch to master on upgrade
  core/cli/upgrade.el
Labels: re:bin/doom, 1. regression

#6006 docs(haskell): add lsp predicate to format check
  modules/lang/haskell/doctor.el
Labels: 1. bug, re:docs, :lang haskell, re:bin/doom:doctor

#6005 tweak(rss): use asterisk around workspace name
  modules/app/rss/autoload.el
Labels: 1. bug, :ui workspaces, :app rss

#6040 feat(clojure): add doctor.el for clj-kondo
  modules/lang/clojure/doctor.el
Labels: 1. enhancement, :lang clojure, re:bin/doom:doctor

#6036 docs(vterm): update nixos install instructions
  modules/term/vterm/README.org
Labels: re:docs, 1. maintenance, :term vterm

#6031 docs(eshell): fix +eshell/here docstring
  modules/term/eshell/autoload/eshell.el
Labels: re:docs, 1. maintenance, :term eshell

#6030 fix(evil): wrong-number-of-arguments when run-hooks window-selection-change-functions
  modules/editor/evil/autoload/advice.el
Labels: 1. bug, :editor evil

#6010 tweak(julia): update lsp environment to recent LTS
  modules/lang/julia/config.el
Labels: 1. maintenance, :lang julia

#6019 docs(julia): update lsp environment to recent LTS
  modules/lang/julia/README.org
Labels: re:docs, 1. maintenance, :lang julia

#6033 feat(org): add org-pretty-table for +pretty
  modules/lang/org/contrib/pretty.el
  modules/lang/org/packages.el
Labels: 1. enhancement, :lang org

#6008 bump: :ui doom
  modules/ui/doom/packages.el
Labels: re:packages, :ui doom, 1. update

#6038 feat(cli): Allow opting-out of deploying git hooks
  core/cli/install.el
Labels: 1. enhancement, re:bin/doom

#6048 tweak(python): update eglot with `+pyright` flag
  modules/lang/python/config.el
Labels: :tools lsp, :lang python, 1. update, re:eglot

#6049 lang(org): update readme to show recent changes
  modules/lang/org/README.org
Labels: re:docs, 1. maintenance, :lang org

#6017 Add graphviz/dot check to plantuml/doctor.el
  modules/lang/plantuml/doctor.el
Labels: 1. enhancement, re:docs, re:bin/doom:doctor

#6025 fix(vertico): completion category of +default/find-file-under-here
  modules/completion/vertico/config.el
Labels: 1. bug, :completion vertico

#6004 fix(tmux): +tmux/rerun fails due to malformed +tmux-last-command
  modules/tools/tmux/autoload/tmux.el
Labels: 1. bug, :tools tmux

#6056 docs(lsp): add reference to LSP tuning guide
  modules/tools/lsp/README.org
Labels: 1. enhancement, re:docs, :tools lsp

#6055 fix: add some documentation for modeline
  modules/ui/modeline/README.org
Labels: 1. enhancement, re:docs, :ui modeline

#6060 fix(vterm): remove +vterm--change-directory-if-remote
  modules/term/vterm/autoload.el
Labels: :term vterm, 1. update

#6059 docs(snippets): add docs to write custom snippets
  modules/editor/snippets/README.org
Labels: 1. enhancement, re:docs, :editor snippets

#6062 fix(vertico): let C-c C-e run existing embark-after-export-hook
  modules/completion/vertico/autoload/vertico.el
Labels: 1. bug, :completion vertico

#6065 fix(rss): kill-buffer-hook removes +rss-workspace-name
  modules/app/rss/autoload.el
  modules/app/rss/config.el
Labels: 1. maintenance, :ui workspaces, :app rss

#6066 fix(rss): unbalanced parens in map!
  modules/app/rss/config.el
Labels: 1. bug
