Repository doomemacs/doomemacs, pull requests merged in 2022-05, with the labels that each got.

#6361 docs: update repo links in readme
  README.md
Labels: is:docs, re:community

#6362 refactor(lsp): remove emacs 26 workarounds
  modules/tools/lsp/config.el
Labels: module:tools/lsp, is:update

#6358 fix(lookup): check ivy|helm-mode before using their backends
  modules/tools/lookup/autoload/online.el
Labels: is:bug, module:tools/lookup, module:completion/vertico

#6392 docs(lsp): add warning for missing npm
  modules/tools/lsp/doctor.el
Labels: is:docs, module:tools/lsp

#6379 `:completion vertico` updates
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/email/notmuch/config.el
Labels: re:packages, is:update, module:completion/vertico

#6386 bump: :tools pdf
  modules/tools/pdf/packages.el
Labels: re:packages, module:tools/pdf, is:update

#6420 bump: :tools magit
  modules/tools/magit/packages.el
Labels: module:tools/magit, is:update

#6417 feat(fortran): name executable after the file name
  modules/lang/fortran/autoload.el
Labels: is:feature, module:lang/fortran

#6413 tweak(spell): ignore org-inline-src-block
  modules/checkers/spell/config.el
Labels: is:tweak, module:checkers/spell
