Repository doomemacs/doomemacs, pull requests merged in 2023-08, with the labels that each got.

#7349 fix(multiple-cursors): check evil-local-mode instead of the global one (+multiple-cursors-compat-switch-to-emacs-state-h)
  modules/editor/multiple-cursors/config.el
Labels: is:bug, module:editor/multiple-cursors

#7346 fix(lsp): check npm when eglot is enabled
  modules/tools/lsp/doctor.el
Labels: is:docs, module:tools/lsp, module:core:cli:doctor

#7357 fix(lib): unquote base-directory in project-file-exists-p!
  lisp/lib/projects.el
Labels: is:regression, module:core:lib
