Repository doomemacs/doomemacs, pull requests merged in 2023-11, with the labels that each got.

#7454 tweak(doom-quit): make quit message OS-sensitive
  modules/ui/doom-quit/config.el
Labels: is:tweak, module:ui/doom-quit

#7495 fix: premature use of emoji fontset in <=28.1
  lisp/doom-ui.el
Labels: is:bug, module:core, re:fonts

#7500 bump: :app rss
  modules/app/rss/packages.el
Labels: re:packages, module:app/rss, is:update

#7504 fix(treemacs): do not overwrite git mode when treemacs-python-executable is set
  modules/ui/treemacs/config.el
Labels: is:bug, module:ui/treemacs

#7509 fix(org): call org-reveal in correct buffer
  modules/lang/org/autoload/org.el
Labels: is:bug, module:lang/org

#7526 feat(eshell): add imenu support
  modules/term/eshell/config.el
Labels: is:feature, module:term/eshell

#7521 perf(lsp): turn off eglot events buffer
  modules/tools/lsp/+eglot.el
Labels: re:perf, is:tweak, module:tools/lsp

#7525 refactor(evil): remove lisp prefix-function embrace pair
  modules/editor/evil/config.el
Labels: module:editor/evil, is:refactor

#7531 docs: replace single -> double semicolons
  templates/packages.example.el
Labels: is:docs, module:core

#7535 docs(rss): add a missing double quote in README
  modules/app/rss/README.org
Labels: is:docs, module:app/rss

#7550 bump: :lang markdown
  modules/lang/markdown/config.el
  modules/lang/markdown/packages.el
Labels: re:packages, module:lang/markdown, is:update

#7547 fix(plantuml): flycheck: executable support
  modules/lang/plantuml/config.el
Labels: is:bug, module:checkers/syntax, module:lang/plantuml

#7553 docs: added +lsp flag to terraform module
  modules/tools/terraform/README.org
Labels: is:docs, module:tools/terraform

#7564 bump: :completion company
  modules/completion/company/packages.el
Labels: re:packages, module:completion/company, is:update

#7567 fix(swift): don't load lsp-sourcekit with eglot
  modules/lang/swift/config.el
Labels: is:bug, module:tools/lsp, module:lang/swift

#7549 fix(format): correct behaviour when disabling apheleia
  modules/editor/format/README.org
  modules/editor/format/config.el
Labels: is:bug, is:docs, module:editor/format

#7559 fix(latex): avoid stealing focus after compilation
  modules/lang/latex/config.el
Labels: is:bug, module:lang/latex

#7573 bump: :editor format
  modules/editor/format/autoload/settings.el
  modules/editor/format/packages.el
Labels: re:packages, module:editor/format, is:update, is:regression

#7571 fix(org): don't call org-reveal in dead buffer
  modules/lang/org/autoload/org.el
Labels: module:lang/org, is:regression

#7459 Tidy gitignores
  .gitignore
Labels: module:core, is:regression, re:git
