Repository doomemacs/doomemacs, pull requests merged in 2023-03, with the labels that each got.

#7125 fix(lua): remove trailing ! in modulep!
  modules/lang/lua/config.el
Labels: is:bug, module:lang/lua

#7112 fix(csharp): csharp-tree-sitter-mode: void-function error in Emacs 29+
  modules/lang/csharp/config.el
Labels: is:bug, module:lang/csharp, re:emacs:29

#7144 fix(org): org-flag -> org-fold, add spec argument
  modules/lang/org/autoload/contrib-present.el
Labels: module:lang/org, is:update

#7146 feat(common-lisp): add project loading and testing commands
  modules/lang/common-lisp/autoload/common-lisp.el
  modules/lang/common-lisp/config.el
Labels: is:feature, module:lang/common-lisp

#7145 feat(elm): add bindings for project compilation
  modules/lang/elm/autoload.el
  modules/lang/elm/config.el
Labels: is:feature, module:lang/elm

#7140 fix(clojure): load against the correct package
  modules/lang/clojure/config.el
Labels: is:bug, re:keybinds, module:lang/clojure

#7158 fix(parinfer): activate for `fennel-mode`
  modules/editor/parinfer/config.el
Labels: is:bug, module:editor/parinfer

#7129 fix(company): hook company-abort when +childframe enabled
  modules/completion/company/config.el
Labels: is:bug, module:completion/company

#6955 fix(mu4e): Do not shadow `mu4e` arguments
  modules/email/mu4e/autoload/email.el
Labels: is:tweak, module:email/mu4e

#7162 bump: :completion vertico compat
  lisp/lib/help.el
  lisp/packages.el
  modules/completion/vertico/autoload/vertico.el
  modules/completion/vertico/packages.el
Labels: module:core, is:update, module:completion/vertico

#7161 fix(unicode): don't unset `doom-unicode-font`
  modules/ui/unicode/autoload.el
Labels: is:bug, module:ui/unicode, re:fonts
