Repository doomemacs/doomemacs, pull requests merged in 2023-12, with the labels that each got.

#7575 tweak(default): add binding for undo-tree
  modules/config/default/+evil-bindings.el
Labels: re:keybinds, is:tweak, module:config/default

#7584 fix(org): correct :face parameter for doom-user links
  modules/lang/org/config.el
Labels: is:bug, module:lang/org

#7585 fix(vertico): embark open in new workspace action
  modules/completion/vertico/autoload/workspaces.el
Labels: is:bug, module:completion/vertico
