Repository doomemacs/doomemacs, pull requests merged in 2023-10, with the labels that each got.

#7478 fix(ocaml): add dune-project to ocaml projectile root files
  modules/lang/ocaml/config.el
Labels: is:bug, module:lang/ocaml

#7464 fix(vertico): ensure recentf-mode for consult-buffer
  modules/completion/vertico/config.el
Labels: is:bug, module:completion/vertico

#7465 fix(data): correct XML closing tag insertion
  modules/lang/data/config.el
Labels: is:bug, module:lang/data, re:smartparens

#7469 fix: use ansi-color-compilation-filter on emacs28+
  lisp/doom-ui.el
Labels: is:bug, module:core

#7470 docs(nix): mention +lsp flag
  modules/lang/nix/README.org
Labels: is:docs, module:lang/nix

#7476 fix(workspaces): check before loading tab configuration
  modules/ui/workspaces/autoload/workspaces.el
Labels: is:bug, module:ui/workspaces

#7487 fix(rust): make cargo popups consistent
  modules/lang/rust/config.el
Labels: is:tweak, module:lang/rust

#7462 fix(popup): change evil function to call following upstream rename
  modules/ui/popup/+hacks.el
Labels: module:ui/popup, module:editor/evil, is:update
