Repository doomemacs/doomemacs, pull requests merged in 2023-02, with the labels that each got.

#6823 nit(mu4e): clean up formatting/indentation
  modules/email/mu4e/autoload/email.el
Labels: module:email/mu4e, is:cosmetic

#7077 fix(fold): set ts-fold-replacement-face fg to unspecified
  modules/editor/fold/config.el
Labels: is:bug, module:editor/fold

#7083 tweak(everywhere): add icon to right of modeline
  modules/app/everywhere/config.el
Labels: is:tweak, module:app/everywhere

#7052 fix(cli): make doctor load module doctor files
  lisp/cli/doctor.el
Labels: is:bug, core:cli:doctor

#7049 fix(god): remove hard coding of cursor color
  modules/editor/god/autoload.el
Labels: is:bug, module:editor/god

#6984 bump: :lang scala
  modules/lang/scala/packages.el
Labels: re:packages, module:lang/scala, is:update

#7038 fix: correct name of doom-after-modules-init-hook
  lisp/doom-keybinds.el
Labels: is:bug, module:core

#7012 mu4e: Use mu4e-highlight-face for main view actions
  modules/email/mu4e/autoload/advice.el
Labels: is:bug, module:email/mu4e

#7019 fix(emacs-lisp): docstring url format which error popup
  modules/lang/emacs-lisp/autoload.el
Labels: is:bug, module:lang/emacs-lisp, re:emacs:29

#7024 docs(rust): add missing +tree-sitter flag
  modules/lang/rust/README.org
Labels: is:docs, module:lang/rust

#7031 fix(vc-gutter): add missing autoloads
  modules/ui/vc-gutter/config.el
Labels: is:bug, module:ui/vc-gutter

#7033 fix(workspaces): save current tab-bar tabs to file
  modules/ui/workspaces/autoload/workspaces.el
  modules/ui/workspaces/config.el
Labels: is:bug, module:ui/workspaces

#7014 bump: :editor dirvish
  modules/emacs/dired/packages.el
Labels: module:emacs/dired, is:update

#6953 fix(org): update org-attach-store-link-p default
  modules/lang/org/config.el
Labels: is:bug, module:lang/org

#7092 bump: :ui doom
  modules/ui/doom/packages.el
Labels: re:packages, module:ui/doom, is:update

#7091 docs(php): update version info and fix repl package name
  modules/lang/php/README.org
Labels: is:docs, module:lang/php

#7030 fix(lib): don't overwrite kill-ring on doom/backward-kill-word
  lisp/lib/text.el
Labels: is:bug, module:core:lib

#6979 fix(clojure): undefined face on +light modeline
  modules/lang/clojure/config.el
Labels: is:bug, module:lang/clojure

#7094 fix(vertico): consult-theme: invalid preview key error
  modules/completion/vertico/config.el
Labels: is:bug, module:completion/vertico

#7098 fix(vertico): docker-tramp => tramp-container
  modules/completion/vertico/config.el
Labels: is:regression, module:completion/vertico, re:emacs:29

#7097 fix(vc): string type error caused by codeberg support
  modules/emacs/vc/config.el
Labels: module:emacs/vc, is:regression

#6967 fix(lookup): require consult in +lookup/in-docsets
  modules/tools/lookup/autoload/docsets.el
Labels: is:bug, module:tools/lookup

#6975 fix(python): repl: respect python-shell-dedicated
  modules/lang/python/autoload/python.el
Labels: is:bug, module:lang/python, re:emacs:29

#6942 fix(window-select): unset winum-auto-setup-mode-line sooner
  modules/ui/window-select/config.el
Labels: is:bug, module:ui/window-select

#6893 fix(cli): doctor: pluralizing single errors/warnings
  lisp/cli/doctor.el
Labels: is:docs, module:core:cli:doctor

#7109 fix(chinese): update pyim-cregexp-build func
  modules/input/chinese/config.el
Labels: module:input/chinese, is:regression

#7100 feat(org): add hook for org-appear
  modules/lang/org/contrib/pretty.el
Labels: is:feature, module:lang/org

#7110 fix(fortran): account for the `.F90` extension
  modules/lang/fortran/config.el
Labels: is:bug, module:lang/fortran

#6701 docs(spell): mention possible mismatch in ispell-personal-dictionary
  modules/checkers/spell/README.org
Labels: is:docs, module:checkers/spell

#7113 fix(lib): letf! in doom--help-search
  lisp/lib/help.el
Labels: is:regression, module:core:lib
