Repository doomemacs/doomemacs, pull requests merged in 2023-09, with the labels that each got.

#7366 feat(default): add use consult-man if available
  modules/config/default/autoload/default.el
Labels: is:feature, module:config/default

#7385 fix(org): check org-fold-outline in invisible property
  lisp/lib/help.el
  modules/lang/org/autoload/org.el
Labels: is:bug, module:lang/org, module:core:lib

#7389 Miscellaneous fixes
  lisp/lib/ui.el
  modules/completion/vertico/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/editor/file-templates/autoload.el
  modules/lang/javascript/config.el
  modules/lang/org/autoload/org-capture.el
  modules/lang/org/contrib/present.el
  modules/term/eshell/config.el
  modules/ui/emoji/README.org
  modules/ui/popup/+hacks.el
Labels: is:bug, is:tweak, module:term/eshell, module:config/default, module:lang/org, module:ui/emoji, module:completion/vertico, is:refactor, module:core:lib

#7390 fix(popup): add wdired hacks
  modules/ui/popup/+hacks.el
Labels: is:bug, module:ui/popup

#7373 fix(lib): doom/help-packages: handle missing homepage
  lisp/lib/help.el
Labels: is:bug, module:core:lib

#7358 refactor(vertico): consult-dir: drop dependence on docker-tramp
  modules/completion/vertico/config.el
Labels: module:tools/docker, module:completion/vertico, is:refactor

#7359 snippets module command fixes and enhancements
  modules/editor/snippets/autoload/snippets.el
Labels: is:bug, is:feature, module:editor/snippets, is:refactor

#7396 feat(fortran): `SPC m f o` opens project config
  modules/lang/fortran/autoload.el
  modules/lang/fortran/config.el
Labels: is:feature, re:keybinds, module:lang/fortran

#7400 fix(evil): add evil-embrace support for c++-ts-mode
  modules/editor/evil/config.el
Labels: is:bug, module:editor/evil

#5082 feat(ligatures): use ligature.el for Emacs28+
  modules/ui/ligatures/+fira.el
  modules/ui/ligatures/+hasklig.el
  modules/ui/ligatures/+iosevka.el
  modules/ui/ligatures/+pragmata-pro.el
  modules/ui/ligatures/README.org
  modules/ui/ligatures/autoload/install.el
  modules/ui/ligatures/autoload/ligatures.el
  modules/ui/ligatures/config.el
  modules/ui/ligatures/doctor.el
  modules/ui/ligatures/packages.el
Labels: module:ui/ligatures, !, is:refactor

#7402 fix(evil): more reliable window detection
  modules/editor/evil/autoload/evil.el
Labels: is:bug, module:editor/evil

#7410 bump: :ui treemacs
  modules/ui/treemacs/packages.el
Labels: re:packages, module:ui/treemacs, is:update

#7313 tweak(workspaces): prefill current name on rename
  modules/ui/workspaces/autoload/workspaces.el
Labels: is:tweak, module:ui/workspaces

#7411 refactor!: replace all-the-icons with nerd-icons
  docs/getting_started.org
  lisp/cli/doctor.el
  lisp/cli/install.el
  lisp/doom-ui.el
  lisp/lib/docs.el
  lisp/lib/system.el
  lisp/packages.el
  modules/README.org
  modules/app/everywhere/config.el
  modules/completion/company/config.el
  modules/completion/helm/README.org
  modules/completion/helm/config.el
  modules/completion/helm/packages.el
  modules/completion/ivy/README.org
  modules/completion/ivy/autoload/ivy.el
  modules/completion/ivy/config.el
  modules/completion/ivy/packages.el
  modules/completion/vertico/README.org
  modules/completion/vertico/config.el
  modules/completion/vertico/packages.el
  modules/emacs/dired/README.org
  modules/emacs/dired/config.el
  modules/emacs/dired/packages.el
  modules/emacs/ibuffer/README.org
  modules/emacs/ibuffer/config.el
  modules/email/mu4e/README.org
  modules/email/mu4e/autoload/email.el
  modules/email/mu4e/config.el
  modules/lang/beancount/README.org
  modules/lang/beancount/config.el
  modules/lang/graphql/config.el
  modules/lang/org/autoload/org-link.el
  modules/tools/biblio/config.el
  modules/ui/doom-dashboard/README.org
  modules/ui/doom-dashboard/config.el
  modules/ui/doom/README.org
  modules/ui/modeline/+light.el
  modules/ui/modeline/README.org
  modules/ui/modeline/config.el
  modules/ui/modeline/packages.el
Labels: !, is:refactor

#7416 fix(format): use correct lisp format function
  modules/lang/common-lisp/config.el
  modules/lang/emacs-lisp/config.el
  modules/lang/hy/config.el
  modules/lang/scheme/config.el
Labels: module:editor/format, is:regression

#7418 fix(tabs): replace all-the-icons with nerd-icons
  modules/ui/tabs/config.el
Labels: is:bug, module:ui/tabs

#7424 feat(lua): enable rainbow-delimiters in fennel-mode
  modules/lang/lua/config.el
Labels: is:feature, module:lang/lua

#7425 docs(format): clarify how to update macro in private config
  modules/editor/format/README.org
  modules/editor/format/autoload/settings.el
Labels: is:docs, module:editor/format

#7426 fix(modeline): update icons for +light
  modules/lang/clojure/config.el
  modules/tools/lsp/+lsp.el
  modules/ui/modeline/+light.el
Labels: module:ui/modeline, module:tools/lsp, module:lang/clojure, is:regression

#7429 fix(format): use +vc-gutter-update-h instead
  modules/editor/format/config.el
Labels: is:bug, module:editor/format

#7430 fix(ocaml): Prevent clobbering +format-with globally
  modules/lang/ocaml/config.el
Labels: is:bug, module:lang/ocaml

#7435 Bump nerd-icons-dired
  modules/emacs/dired/packages.el
Labels: re:packages, module:emacs/dired, is:update

#7442 bump: :emacs vc
  modules/emacs/vc/packages.el
Labels: re:packages, module:emacs/vc, is:update

#7436 fix(ligatures): proper resetting of font-ligatures
  modules/ui/ligatures/autoload/ligatures.el
Labels: is:bug, module:ui/ligatures

#7445 fix(mu4e): replace obsolete/removed functions
  modules/email/mu4e/autoload/advice.el
  modules/email/mu4e/config.el
Labels: is:bug, module:email/mu4e, is:update

#7452 fix(org): add missing autoloads for org-attach
  modules/lang/org/config.el
Labels: is:bug, re:keybinds, module:lang/org

#7453 bump: :lang ruby
  modules/lang/ruby/packages.el
Labels: re:packages, module:lang/ruby, is:update
