Repository doomemacs/doomemacs, pull requests merged in 2024-03, with the labels that each got.

#7702 Fix oc-csl dependency cycle and tidy biblio module
  modules/tools/biblio/config.el
Labels: is:bug, module:tools/biblio

#7689 feat(dired): omit flycheck file in dired
  modules/emacs/dired/config.el
Labels: is:bug, module:emacs/dired

#7684 tweak(clojure): fix obsolete variable usage
  modules/lang/clojure/config.el
Labels: module:lang/clojure, is:update

#7651 fix(vertico): mapping for embark open in workspace
  modules/completion/vertico/config.el
Labels: is:bug, re:keybinds, module:completion/vertico

#7503 fix(popup): allow killing popup buffers
  lisp/doom-ui.el
Labels: is:bug, module:ui/popup

#7706 feat(vertico): completion highlights a la ivy
  modules/completion/vertico/config.el
Labels: is:feature, module:completion/vertico

#7720 fix(vertico): disable minor mode highlight duly
  modules/completion/vertico/config.el
Labels: is:bug, module:completion/vertico

#7719 feat(java): java.el takes java-ts-mode into account
  modules/lang/java/autoload/java.el
Labels: is:feature, module:lang/java

#7663 fix(popup): fix finding of major side window
  modules/ui/popup/autoload/popup.el
Labels: is:bug, module:ui/popup

#7697 mu4e: fix advice for new mu4e release
  modules/email/mu4e/autoload/mu-lock.el
Labels: module:email/mu4e, is:update

#7722 chore: remove repetitive words
  modules/config/default/autoload/default.el
  modules/email/mu4e/README.org
  modules/lang/latex/autoload.el
Labels: is:docs, module:config/default, module:email/mu4e, module:lang/latex

#7723 feat(macos): osx-trash is only needed by emacs < 29
  modules/os/macos/config.el
  modules/os/macos/packages.el
Labels: module:os/macos, is:update, re:emacs:29

#7736 bump: :tools magit
  modules/tools/magit/packages.el
Labels: re:packages, module:tools/magit, is:update

#7002 module: Add corfu
  modules/completion/corfu/README.org
  modules/completion/corfu/autoload.el
  modules/completion/corfu/config.el
  modules/completion/corfu/packages.el
  modules/completion/vertico/config.el
  modules/config/default/+emacs-bindings.el
  modules/config/default/+evil-bindings.el
  modules/config/default/config.el
  modules/tools/lsp/+lsp.el
  templates/init.example.el
Labels: is:feature, re:modules, module:completion/corfu

#7536 fix(fold): reorder fold type checks
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold

#7741 feat(vertico): add orderless annotation filtering
  modules/completion/vertico/config.el
Labels: is:feature, module:completion/vertico

#7740 refactor(corfu): consolidate +orderless logic without vertico
  modules/completion/corfu/config.el
  modules/completion/corfu/packages.el
Labels: is:refactor, module:completion/corfu

#7738 docs(corfu): debugging cape-dabbrev
  modules/completion/corfu/README.org
Labels: is:docs, module:completion/corfu

#7744 fix(modeline, everywhere): adjust checker -> check
  modules/app/everywhere/config.el
  modules/ui/modeline/README.org
Labels: is:bug, module:ui/modeline, module:app/everywhere
