Repository doomemacs/doomemacs, pull requests merged in 2024-06, with the labels that each got.

#7812 fix(magit): forge-browse-dwim -> forge-browse
  modules/tools/magit/config.el
Labels: module:tools/magit, is:update

#7831 fix(gdscript): replace removed functions with new binding
  modules/lang/gdscript/config.el
Labels: is:update, module:lang/gdscript

#7832 feat(debugger): add gdscript dap-mode support
  modules/tools/debugger/config.el
Labels: is:feature, module:tools/debugger, module:lang/gdscript

#7837 fix(evil): bind git time machine without vc-gutter
  modules/config/default/+evil-bindings.el
Labels: is:bug, re:keybinds, module:config/default

#7849 refactor(lib): use ripgrep instead of `git grep`
  lisp/lib/help.el
Labels: is:refactor, module:core:lib

#7871 fix(cli): auto-generated script error
  lisp/doom-cli.el
Labels: is:bug, module:core:cli

#7872 Emacs bug 70914 dont lookup file uri with file exists p on windows
  modules/lang/org/config.el
Labels: is:bug, os:windows, module:lang/org

#7889 fix(word-wrap): choose first element if indent-var is list
  modules/editor/word-wrap/autoload.el
Labels: is:bug, module:editor/word-wrap

#7451 fix(ligatures): set-font-ligatures! reset on nil
  modules/ui/ligatures/autoload/ligatures.el
Labels: is:bug, module:ui/ligatures

#7826 fix: 'doom sync' generates autoload files for symbolic link files
  lisp/doom-modules.el
  lisp/lib/autoloads.el
Labels: is:bug, module:core

#7806 Switch to using opam-switch-mode for :lang ocaml
  modules/lang/ocaml/README.org
  modules/lang/ocaml/config.el
  modules/lang/ocaml/packages.el
Labels: is:feature, module:lang/ocaml

#7893 bump: :lang org
  modules/lang/org/packages.el
Labels: re:packages, module:lang/org, is:update

#7839 fix(dired): update dirvish keybindings
  modules/emacs/dired/config.el
Labels: is:bug, re:keybinds, module:emacs/dired

#7787 docs(mu4e): instructions for SMTP setup
  modules/email/mu4e/README.org
Labels: is:docs, module:email/mu4e

#7896 bump: :lang clojure
  modules/lang/clojure/packages.el
Labels: re:packages, module:lang/clojure, is:update

#7901 fix(fold): don't expect evil-vimish-fold
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold, re:no-evil

#7902 fix(fold): properly handle recursive folds
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold

#7907 fix(fold): fold-levels off-by-one
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold

#7903 fix(fold): +fold/next: actually support outlines
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold

#7908 fix(org): attachment image inline preview
  modules/lang/org/autoload/org-link.el
  modules/lang/org/config.el
Labels: is:bug, module:lang/org

#7739 feat(corfu): update smart tab completion
  modules/completion/corfu/README.org
  modules/completion/corfu/config.el
  modules/config/default/+evil-bindings.el
  modules/config/default/config.el
Labels: is:feature, module:completion/corfu
