Repository doomemacs/doomemacs, pull requests merged in 2024-10, with the labels that each got.

#8088 fix(clojure): type error evilifying cider-debug keys
  modules/lang/clojure/config.el
Labels: is:bug, re:keybinds, module:lang/clojure

#8091 fix(python): renamed python-pytest commands
  modules/lang/python/config.el
Labels: is:bug, module:lang/python

#8100 bump: :email wanderlust
  modules/email/wanderlust/packages.el
Labels: re:packages, is:update, module:email/wanderlust

#8104 fix(ruby): replace the obsolete macro `featurep!` with `modulep!`
  modules/lang/ruby/config.el
Labels: is:bug, module:lang/ruby

#8079 fix(mu4e): org-msg: toggle behavior
  modules/email/mu4e/config.el
Labels: module:email/mu4e, is:regression

#8105 fix(fold): autoload `+fold--ensure-hideshow-mode`
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold

#8115 bump: :lang factor
  modules/lang/factor/packages.el
Labels: re:packages, is:update, module:lang/factor

#8111 Fix agda auto functionality reference to mimer
  modules/lang/agda/config.el
Labels: is:bug, re:keybinds, module:lang/agda
