Repository doomemacs/doomemacs, pull requests merged in 2024-07, with the labels that each got.

#7916 fix(config): replace void function +yas-active-p
  modules/config/default/+evil-bindings.el
Labels: is:bug, module:config/default

#7898 fix(lib): reset font size before setting big font mode
  lisp/lib/fonts.el
Labels: is:bug, module:core:lib

#7894 fix(lib): doom-project-find-file: use transient project
  lisp/lib/projects.el
Labels: is:tweak, module:core:lib

#7919 Fix mu4e
  modules/email/mu4e/autoload/email.el
Labels: module:ui/workspaces, module:email/mu4e, is:regression

#7921 bump: :tools magit forge
  modules/tools/magit/packages.el
Labels: re:packages, module:tools/magit, is:update

#7892 tweak(python): verbose prefixes for keybindings
  modules/lang/python/config.el
Labels: is:bug, re:keybinds, module:lang/python

#7922 fix(ansible): update emacs-ansible to fetch from the new repo on gitlab
  modules/tools/ansible/packages.el
Labels: re:packages, module:tools/ansible, is:update

#7924 fix(format): apheleia doesn't invoke lsp formatter
  modules/editor/format/autoload/lsp.el
Labels: module:editor/format, is:regression

#7928 fix(org): restart org in all optimized buffers
  modules/lang/org/config.el
Labels: is:bug, module:lang/org

#7946 bump: :tools magit
  modules/tools/magit/packages.el
Labels: re:packages, module:tools/magit, is:update

#7957 Tiny bump to fix geiser-guile
  modules/lang/scheme/packages.el
Labels: re:packages, is:update, module:lang/scheme

#7966 fix(vc-gutter): check 'diff-hl-disable-on-remote is bound
  modules/ui/vc-gutter/config.el
Labels: module:ui/vc-gutter, is:regression

#7969 docs(org): Remove org-yt custom link type
  modules/lang/org/README.org
Labels: is:docs, module:lang/org
