Repository doomemacs/doomemacs, pull requests merged in 2024-12, with the labels that each got.

#8157 fix(tools): double prompt when region sent to repl
  modules/tools/eval/autoload/repl.el
Labels: is:bug, module:tools/eval

#8133 feat(file-templates): add apply method
  modules/editor/file-templates/config.el
Labels: is:feature, module:editor/file-templates

#8126 fix(python): +python-executable-find ipython
  modules/lang/python/autoload/python.el
Labels: is:bug, module:lang/python
