Repository doomemacs/doomemacs, pull requests merged in 2024-08, with the labels that each got.

#7980 tweak(cli): rebuild silently if --rebuild is set
  lisp/cli/sync.el
Labels: is:bug, module:core:cli

#8014 Adding a single character so other workspaces could persist automatically
  modules/ui/workspaces/autoload/workspaces.el
Labels: is:bug, module:ui/workspaces

#8012 fix(latex): update latex module to new AUCTeX naming conventions
  modules/lang/latex/config.el
Labels: is:bug, module:lang/latex

#8010 refactor!(go): remove go-guru
  modules/lang/go/README.org
  modules/lang/go/config.el
  modules/lang/go/doctor.el
  modules/lang/go/packages.el
Labels: module:lang/go, !, is:refactor

#8016 fix(go): remove bind to deprecated function
  modules/lang/go/config.el
Labels: is:bug, re:keybinds, module:lang/go

#7943 fix(vertico): orderless filtering
  modules/completion/vertico/config.el
Labels: is:bug, module:completion/vertico

#8011 bump: evil-textobj-tree-sitter
  modules/tools/tree-sitter/packages.el
Labels: re:packages, is:update, re:evil, module:tools/tree-sitter

#7405 tweak(vterm): vterm-send-next-key mapped to C-q
  modules/term/vterm/config.el
Labels: re:keybinds, is:tweak, module:term/vterm

#7518 fix(clojure): leverage evil-collection-cider
  modules/lang/clojure/config.el
Labels: re:packages, is:tweak, module:editor/evil, is:update
