Repository doomemacs/doomemacs, pull requests merged in 2024-02, with the labels that each got.

#7639 fix(evil): obsolete `evil-command-window` advice
  modules/ui/popup/+hacks.el
Labels: module:editor/evil, is:update

#7640 fix(file-templates): invalid function call
  modules/editor/file-templates/autoload.el
Labels: module:editor/file-templates, is:update

#7401 fix(syntax): add elisp flymake load path advice
  modules/lang/emacs-lisp/config.el
Labels: is:bug, module:checkers/syntax

#7341 feat(emacs-lisp): add reduced-flymake-byte-compile
  modules/lang/emacs-lisp/autoload.el
  modules/lang/emacs-lisp/config.el
Labels: is:feature, module:checkers/syntax

#7642 Remove fish-completion HACK for inhibitting error
  modules/term/eshell/config.el
Labels: module:term/eshell, is:update

#7641 docs(ivy): mention lowered `ivy-sort-max-size`
  modules/completion/ivy/README.org
Labels: is:docs, module:completion/ivy

#7649 fix(dired): void-variable dired-omit-files error
  modules/emacs/dired/config.el
Labels: module:emacs/dired, is:regression

#7619 Taking care of wanderlust integration
  modules/email/wanderlust/README.org
  modules/email/wanderlust/config.el
  modules/email/wanderlust/packages.el
Labels: is:bug, re:packages, is:tweak, is:update, module:email/wanderlust

#7650 feat(common-lisp): introduce `sly-overlay`
  modules/lang/common-lisp/config.el
  modules/lang/common-lisp/packages.el
Labels: is:feature, module:lang/common-lisp

#7652 fix: doom-module-load-path typo
  lisp/doom-modules.el
Labels: module:core, is:regression

#7657 fix(file-templates): correct spelling of contributor in __license-lgpl3
  modules/editor/file-templates/templates/text-mode/__license-lgpl3
Labels: is:bug, module:editor/file-templates

#7659 docs(fortran): show how to customize fprettier
  modules/lang/fortran/README.org
Labels: is:docs, module:lang/fortran

#7662 fix(lib): sudo file path: expand-file-name
  lisp/lib/files.el
Labels: is:bug, module:core:lib

#7661 tweak(org): honor default command when archiving
  modules/lang/org/config.el
Labels: is:tweak, module:lang/org

#7678 tweak(cli): use a fancier string-distance algorithm for suggestions
  lisp/cli/meta.el
Labels: is:tweak, module:core:cli
