Repository doomemacs/doomemacs, pull requests merged in 2024-09, with the labels that each got.

#7750 feat(corfu): `both` option for RET behavior
  modules/completion/corfu/README.org
  modules/completion/corfu/config.el
  modules/config/default/config.el
Labels: is:feature, re:keybinds, module:completion/corfu

#7507 docs(mu4e): update NixOS installation instructions
  modules/email/mu4e/README.org
Labels: is:docs, module:email/mu4e

#8054 feat(nav-flash): blink on workspace change
  modules/ui/nav-flash/config.el
Labels: is:feature, module:ui/nav-flash

#8045 tweak(erlang): format w/ erlfmt instead of efmt
  modules/lang/erlang/README.org
  modules/lang/erlang/config.el
  modules/lang/erlang/doctor.el
Labels: is:tweak, module:editor/format, module:lang/erlang

#8060 fix(dired): typo in command name
  modules/emacs/dired/autoload.el
Labels: is:bug, module:emacs/dired

#8063 fix(lsp): lsp-terraform removal condition
  modules/tools/lsp/+lsp.el
Labels: is:bug, module:tools/lsp, module:tools/terraform

#8065 fix(dired): require needed for `dirvish-side'
  modules/emacs/dired/autoload.el
Labels: is:bug, module:emacs/dired

#8067 fix(fold): avoid Hideshow-not-supported error
  modules/editor/fold/autoload/fold.el
  modules/editor/fold/config.el
Labels: is:bug, module:editor/fold

#8071 fix(ligatures): use `alist-get` instead of `assq`
  modules/ui/ligatures/config.el
Labels: module:ui/ligatures, is:regression

#8070 fix(emacs-lisp): always try Helpful for doc lookup
  modules/lang/emacs-lisp/autoload.el
Labels: is:bug, module:lang/emacs-lisp
