Repository doomemacs/doomemacs, pull requests merged in 2024-04, with the labels that each got.

#7784 Fix typo in local variable name
  modules/ui/popup/autoload/popup.el
Labels: is:bug, module:ui/popup

#7782 chore: remove repetitive words
  lisp/doom-lib.el
  modules/lang/graphql/README.org
  modules/lang/org/config.el
Labels: is:docs

#7758 fix(fold): properly support outline-minor-mode
  modules/editor/fold/autoload/fold.el
  modules/editor/fold/config.el
Labels: is:bug, module:editor/fold

#7726 feat(common-lisp): add more sly packages
  modules/lang/common-lisp/config.el
  modules/lang/common-lisp/packages.el
Labels: is:feature, module:lang/common-lisp

#7725 feat(mu4e): use built-in notifications instead of mu4e-alert
  modules/email/mu4e/config.el
  modules/email/mu4e/packages.el
Labels: is:feature, module:email/mu4e

#7796 fix(corfu): prevent void-variable error
  modules/completion/corfu/config.el
Labels: is:bug, module:completion/corfu

#7797 fix(vertico): missing command error in consult
  modules/completion/vertico/config.el
Labels: is:bug, module:config/default, module:completion/vertico

#7799 bump: :lang scala
  modules/lang/scala/packages.el
Labels: re:packages, module:lang/scala, is:update

#7801 feat(corfu): update dabbrev-ignore-buffer-modes
  modules/completion/corfu/config.el
Labels: is:tweak, module:completion/corfu

#7824 fix(lib): doom-initialize-core-packages: correct filtering
  lisp/doom-packages.el
Labels: is:bug, module:core

#7825 fix(lib): doom-packages-ensure: fix local packages always built
  lisp/cli/packages.el
Labels: is:bug, module:core:lib
