Repository doomemacs/doomemacs, pull requests merged in 2025-08, with the labels that each got.

#8434 fix(:term): ensure process-buffer is current
  lisp/doom-ui.el
Labels: is:regression

#8437 fix(latex): disable smartparens pairs handled by AucTeX
  modules/lang/latex/config.el
Labels: is:bug, module:lang/latex

#8468 feat: cli/ci/commit-msg: echo failed commit message
  lisp/cli/ci.el
Labels: is:feature, module:core:cli
