Repository doomemacs/doomemacs, pull requests merged in 2025-05, with the labels that each got.

#8375 fix(vc): browse to remote from git-timemachine revisions
  modules/emacs/vc/config.el
Labels: is:bug, module:emacs/vc

#8385 fix(terraform): fix incorrect mapping
  modules/tools/terraform/config.el
Labels: is:bug, re:keybinds, module:tools/terraform

#8390 docs(cc): Bear requires `--` for command
  modules/lang/cc/README.org
Labels: is:docs, module:lang/cc

#8400 fix(coq): void-function company-coq
  modules/lang/coq/config.el
Labels: module:lang/coq, is:regression, module:completion/corfu

#8399 fix(workspaces): avoid duplicate workspace creation when no frame exists
  modules/ui/workspaces/autoload/workspaces.el
Labels: is:bug, module:ui/workspaces

#8401 docs(hl-todo): Remove removed keybinding
  modules/ui/hl-todo/README.org
Labels: is:docs, module:ui/hl-todo
