Repository doomemacs/doomemacs, pull requests merged in 2025-06, with the labels that each got.

#8416 fix(magit): Remove +magit-optimize-process-calls-h
  modules/tools/magit/config.el
Labels: is:bug, module:tools/magit

#8408 feat(eww): Add jump-to-heading in EWW
  modules/emacs/eww/autoload.el
  modules/emacs/eww/config.el
Labels: is:feature, modules:emacs/eww

#8424 bump: :email wanderlust
  modules/email/wanderlust/packages.el
Labels: re:packages, is:update, module:email/wanderlust

#8426 tweak(latex): don't insert braces after sub/superscript
  modules/lang/latex/config.el
Labels: is:tweak, module:lang/latex

#8431 tweak(markdown): doctor: allow for alternate grips
  modules/lang/markdown/doctor.el
Labels: is:docs, module:lang/markdown
