Repository doomemacs/doomemacs, pull requests merged in 2025-03, with the labels that each got.

#8299 perf: do not load pp at startup
  lisp/doom-lib.el
Labels: re:perf, is:refactor, module:core:lib

#8290 fix(vertico): fix display with embark-act-all
  modules/completion/vertico/autoload/vertico.el
Labels: is:bug, module:completion/vertico

#8292 fix(packages): use mirror for nongnu-elpa
  lisp/lib/packages.el
Labels: is:bug, module:core

#8317 bump: :doom projectile
  lisp/doom-projects.el
  lisp/packages.el
Labels: re:packages, module:core, is:update

#8275 fix(:completion): Remove undefined completion
  modules/completion/vertico/config.el
Labels: is:bug, module:completion/vertico
