Repository doomemacs/doomemacs, pull requests merged in 2025-04, with the labels that each got.

#8262 fix(corfu): fix default minibuffer completion
  modules/completion/corfu/config.el
Labels: is:bug, was:moved, module:completion/corfu

#8334 fix(corfu): void variable local-map
  modules/completion/corfu/config.el
Labels: is:regression, module:completion/corfu

#8343 refactor(latex): replace latex-preview-pane w/ auctex-cont-latexmk
  modules/lang/latex/+viewers.el
  modules/lang/latex/README.org
  modules/lang/latex/autoload.el
  modules/lang/latex/config.el
  modules/lang/latex/packages.el
Labels: module:lang/latex, is:refactor

#8344 fix(org): do not rely on org-indent being loaded
  modules/lang/org/contrib/pretty.el
Labels: module:lang/org, is:regression

#8345 fix(org): call `keywordp', not `keyword'
  modules/lang/org/contrib/pretty.el
Labels: module:lang/org, is:regression

#8349 fix(evil): clear modeline search highlights on zero matches
  modules/editor/evil/config.el
Labels: is:bug, module:editor/evil

#8351 fix(bidi): set the font for Arabic characters
  modules/input/bidi/config.el
Labels: is:bug, module:input/bidi

#8318 fix(magit): use messages instead of modeline
  modules/tools/magit/config.el
Labels: is:bug, module:tools/magit

#8352 fix(vterm): always set +vterm--id in +vterm/toggle
  modules/term/vterm/autoload.el
Labels: is:bug, module:term/vterm

#8366 fix(org): allow refiling to top level
  modules/lang/org/autoload/org-refile.el
Labels: is:bug, module:lang/org
