Repository doomemacs/doomemacs, pull requests merged in 2025-02, with the labels that each got.

#8246 fix: name of rustic mode in the +debugger--dap-alist
  modules/tools/debugger/config.el
Labels: is:bug, module:lang/rust, module:tools/debugger

#8247 fix(cli): some package files not being byte-compiled (2nd take)
  lisp/doom-straight.el
Labels: is:bug, module:core:cli, re:straight

#8266 fix(emacs-lisp): handle malformed outline-regexp
  modules/lang/emacs-lisp/autoload.el
Labels: is:bug, module:lang/emacs-lisp

#8212 fix(org): allow tab to expand yasnippets in org
  modules/lang/org/config.el
Labels: is:bug, re:keybinds, module:lang/org

#8255 fix: use dumb-jump xref instead of dumb-jump-go
  modules/tools/lookup/autoload/lookup.el
Labels: is:bug, module:tools/lookup

#8267 fix: restore previous default transient menu visibility during minibuffer use
  modules/tools/magit/config.el
Labels: is:bug, module:tools/magit

#8272 fix(dirvish): point back to origin upstream and remove obsolete hacks
  modules/emacs/dired/autoload.el
  modules/emacs/dired/config.el
  modules/emacs/dired/packages.el
Labels: re:packages, module:emacs/dired, is:update

#8284 fix(elixir): start lsp when ts and lsp are enabled
  modules/lang/elixir/config.el
Labels: is:bug, module:lang/elixir
