Repository doomemacs/doomemacs, pull requests merged in 2025-01, with the labels that each got.

#8220 fix(cc): replace opencl-mode with opencl-c-mode
  modules/lang/cc/autoload.el
Labels: is:bug, module:lang/cc

#8190 fix(modeline): change macOS default EOL type to LF
  modules/ui/modeline/config.el
Labels: is:bug, os:macOS, module:ui/modeline

#8201 fix(notmuch): afew: process only new mail
  modules/email/notmuch/autoload.el
Labels: is:bug, module:email/notmuch

#8225 Update +workspce/switch-left[right] in workspaces.el
  modules/ui/workspaces/autoload/workspaces.el
Labels: is:feature, module:ui/workspaces

#8206 tweak(vertico): remove consult-man remapping
  modules/completion/vertico/config.el
Labels: is:tweak, module:completion/vertico

#8208 fix(fold): fix recursive unfolding
  modules/editor/fold/autoload/fold.el
Labels: is:bug, module:editor/fold

#8217 fix(ansible): check for metadata/config file
  modules/tools/ansible/config.el
Labels: is:bug, module:tools/ansible

#8234 fix: `auto-mode-alist`: make `/*rc` rule low-priority
  lisp/doom-editor.el
Labels: module:core, is:regression

#8173 feat(terraform): Add terraform shortcuts for validate, fmt and destroy
  modules/tools/terraform/config.el
Labels: is:feature, re:keybinds, module:tools/terraform

#8189 fix: project-current-directory-override takes a directory
  lisp/lib/projects.el
Labels: is:bug, module:core:lib
