Repository doomemacs/doomemacs, pull requests merged in 2025-09, with the labels that each got.

#8477 fix(erlang): correct tree-sitter config
  modules/lang/erlang/config.el
Labels: is:bug, module:lang/erlang, module:tools/tree-sitter

#8522 fix(lib): doom/sandbox: tree-sitter extra load path
  lisp/lib/sandbox.el
Labels: is:bug, re:sandbox, module:tools/tree-sitter, module:core:lib

#8514 fix(ada): use gpr-specific modes and indent properly
  modules/lang/ada/README.org
  modules/lang/ada/config.el
  modules/lang/ada/packages.el
Labels: is:bug, module:lang/ada
